:root {
  --main-bg: #051638;
  --secondary-bg: #273552;
  --accent: #2f4066;
  --text: #ffffff;
}
.menu-bar_main-menu_3wjWH,
.modal_header_1h7ps,
.menu-bar_account-info-group_MeJZP,
.menu_menu_3k7QT,
.project-title-input_title-field_en5Gd:focus {
  background: var(--accent);
}
.gui_body-wrapper_-N0sA,
.blocklySvg {
  background: var(--main-bg);
}
.blocklyMainBackground {
  fill: var(--secondary-bg) !important;
}
.context-menu_context-menu_2SJM-,
.blocklyWidgetDiv .goog-menu,
.goog-menuitem-highlight /*s-a* *s-a*/ ,
.s3dev-mi:hover /*s-a* *s-a*/
.Popover-body {
  background: var(--accent) /*s-a* !important *s-a*/;
  color: var(--text) /*s-a* !important *s-a*/;
}
.context-menu_context-menu_2SJM-,
.blocklyWidgetDiv .goog-menu,
.Popover-body {
  border: 1px solid white;
}
.goog-menuitem-content,
.color-picker_row-header_173LQ {
  color: var(--text);
} /*Highlight*/
.blocklyWidgetDiv .goog-menuitem-highlight,
.blocklyWidgetDiv .goog-menuitem-hover,
.s3dev-mi:hover, /*s-a* *s-a*/
.context-menu_menu-item_3cioN:hover {
  background-color: #ffffff33 !important;
}
.blocklyFlyoutBackground {
  fill: var(--accent) !important;
}
.blocklyFlyoutLabelText {
  fill: var(--text) !important;
}
.connection-modal_bottom-area_AHeQ3,
.connection-modal_body_3YO9j,
.blocklyToolboxDiv,
.scratchCategoryMenu {
  background: var(--accent);
  color: var(--text);
}
.scratchCategoryMenuItem.categorySelected {
  background: #ffffff22;
}
.sprite-selector_sprite-selector_2KgCX,
.stage-selector_stage-selector_3oWOr,
.stage-selector_label_1MCfr,
.stage-selector_count_2QK7D {
  background: var(--accent);
  color: var(--text);
}
.sprite-info_sprite-info_3EyZh,
.sprite-selector-item_sprite-selector-item_kQm-i:hover,
.stage-selector_header_2GVr1 {
  background: var(--secondary-bg);
  color: var(--text);
}
.stage-selector_header-title_33xCt,
.stage-selector_header-title_33xCt {
  /* background: var(--secondary-bg); */
  color: var(--text);
}
.blocklyFlyoutButtonBackground {
  fill: var(--accent) !important;
}
.blocklyFlyoutButtonBackground:hover,
.blocklyFlyoutButton:hover {
  fill: var(--accent) !important;
  filter: brightness(110%) !important;
}
blocklyFlyoutButton > text.blocklyText {
  fill: var(--text) !important;
}
.blocklyFlyoutButton .blocklyText {
  fill: var(--text) !important;
}
.backpack_backpack-header_6ltCS {
  background: var(--accent);
  color: var(--text);
}
.backpack_backpack-list-inner_10a2A {
  background: var(--secondary-bg);
}
.backpack_backpack-item_hwqzQ,
.sprite-selector-item_sprite-image-outer_Xs0wN,
.backpack_backpack-item_hwqzQ > div {
  background: var(--main-bg);
  border-radius: 0.5rem 0.5rem 0 0;
}
.backpack_backpack-item_hwqzQ img {
  mix-blend-mode: normal;
}
.selector_list-area_1Xbj_ {
  background: var(--accent);
}
.selector_new-buttons_2qHDd::before {
  background: none;
}
.asset-panel_wrapper_366X0 {
  background: var(--secondary-bg);
  color: var(--text);
}
.sound-editor_effect-button_2zuzT,
.sound-editor_trim-button_lSENI {
  color: var(--text);
}
img.tool-select-base_tool-select-icon_tJ-rr,
.sound-editor_trim-button_lSENI {
  filter: brightness(2);
}
.selector_list-item_3N_u7,
.sprite-selector-item_sprite-name_1PXjh,
.sprite-selector-item_sprite-details_2UVpA {
  color: var(--text);
}
.gui_tab_27Unf.gui_is-selected_sHAiu {
  background: var(--accent);
  color: var(--text);
}
.gui_tab_27Unf {
  background: var(--secondary-bg);
  color: var(--text);
}
.gui_tab_27Unf:hover {
  background: var(--accent);
  filter: brightness(90%);
  color: var(--text);
}
.prompt_body_18Z-I,
.custom-procedures_body_SQBv6,
div.custom-procedures_option-card_BtHt3 {
  background: var(--accent);
  color: var(--text);
}
.custom-procedures_button-row_2jBu3 > button:nth-child(1),
.prompt_button-row_3Wc5Z > button:nth-child(1),
.prompt_button-row_3Wc5Z > button:nth-child(1) {
  background: #ff3a5b;
}
.stage_stage-wrapper-overlay_fmZuD,
.stage-header_stage-header-wrapper-overlay_5vfJa {
  background: var(--main-bg);
}
.stage_stage-overlay-content_ePv_6 {
  border: none;
}
.library_library-scroll-grid_1jyXm,
.modal_modal-content_1h3ll.modal_full-screen_FA4cr {
  background: var(--accent);
  color: var(--text);
}
.library-item_library-item-extension_3xus9,
.library-item_library-item_1DcMO,
.library_filter-bar_1W0DW {
  background: var(--accent);
}
.library-item_library-item-extension_3xus9 span,
.library-item_featured-extension-metadata_3D8E8,
.library-item_library-item-name_2qMXu {
  color: var(--text) !important;
}
input[type="text"]:not([name="title"]):not([name="q"]):not([name="username"]):not([type="password"]):not([name="password"]):not([name="passwordConfirm"]):not(#showPassword),
.input_input-form_1Y0wX,
.prompt_variable-name-text-input_1iu8- {
  background: var(--accent);
  color: var(--text) !important;
}
input[type="text"]:not([name="title"]):not([name="q"]):not([name="username"]):not([type="password"]):not([name="password"]):not([name="passwordConfirm"]):not(#showPassword):hover,
input[type="text"]:not([name="title"]):not([name="q"]):not([name="username"]):not([type="password"]):not([name="password"]):not([name="passwordConfirm"]):not(#showPassword):focus {
  background: var(--accent);
  filter: brightness(90%);
}
.blocklyZoom,
[class^="gui_stage-and-target-wrapper"]
  [class^="button_outlined-button"]:not([class*="menu-bar"]):not([class*="modal"]):not([class*="tag-button_active"]),
.sound-editor_round-button_3NLcW,
.sound-editor_button-group_SFPoV {
  filter: invert(100) hue-rotate(180deg);
}
.sprite-selector-item_is-selected_24tQj {
  background: transparent !important;
}
.paint-editor_canvas-container_x2D0a {
  border: 1px solid var(--accent);
  overflow: hidden;
}
.filter_filter_1JFal {
  background: var(--secondary-bg);
  overflow: hidden;
}
.filter_filter-input_1iiEt::placeholder {
  color: var(--text);
}
.paint-editor_button-group-button-icon_10kVn,
.color-picker_swatch-icon_Z7osI,
.scratchCategoryId-music > .scratchCategoryItemIcon {
  filter: brightness(100);
}
.paper-canvas_paper-canvas_1y588 {
  background-color: var(--secondary-bg);
  border-radius: 0.4rem;
}
.paint-editor_canvas-container_x2D0a {
  border: 2px solid var(--accent);
  border-radius: 0.4rem;
}

.Popover-body {
  background: var(--secondary-bg);
  border-color: var(--accent-color);
}
[class^="color-picker_row-header"] {
  color: var(--text);
}
[class^="color-picker_divider"] {
  border-color: var(--accent-color);
}
[class^="color-picker_swatch"] {
  border-color: var(--accent-color);
}

.stage-wrapper_full-screen_2hjMb {
  background-color: var(--main-bg) !important;
}
