body {
  background-color: black;
}
.blocklyMainBackground {
  fill: #444 !important;
}
/**.blocklyBlockCanvas { filter: brightness(0.9) saturate(0) !important; }**/
.blocklySvg {
  background-color: #222 !important;
}
.blocklyFlyoutBackground {
  fill: #222 !important;
}
.blocklyFlyout {
  border-right-color: #000 !important;
}
.blocklyZoom image {
  opacity: 0.25;
}
.blocklyScrollbarHandle {
  fill: #555 !important;
}

.blocklyWidgetDiv .goog-menu {
  background: #555 /*s-a* !important *s-a*/;
  border-color: #111;
}
.blocklyWidgetDiv .goog-menuitem {
  color: #fff /*s-a* !important *s-a*/;
}
.blocklyWidgetDiv .goog-menuitem-highlight /*s-a* *s-a*/ ,.s3dev-mi:hover /*s-a* *s-a*/ {
  background-color: #999 /*s-a* !important *s-a*/;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  /*s-a* *s-a*/
  padding-top: 3px;
  padding-bottom: 3px; /*s-a* *s-a*/
}
.blocklyWidgetDiv .goog-menuitem-disabled .goog-menuitem-content {
  color: #aaa /*s-a* !important *s-a*/;
}
.scratchCategoryMenu,
.blocklyToolboxDiv,
[class^="selector_wrapper"] {
  background: #333 !important;
  color: #eee;
}
#s3devCopy:hover,
#s3devCleanUp:hover {
  border-top-width: 2px !important; /*s-a* *s-a*/
}

.scratchCategoryMenuItem.categorySelected {
  background: #444 !important;
}
[class^="menu-bar_menu-bar_"] {
  background: #222 !important;
}
[class^="sprite-selector_"],
[class^="stage-selector_"] {
  background: #333 !important;
  color: #eee;
}
[class*="sprite-selector-item"] {
  background: #3a3a3a !important;
  color: #eee;
}
[class^="selector_new-buttons"]::before {
  background: none !important;
}
[class^="sprite-info"] {
  background: #333 !important;
  color: #eee;
}
[class^="gui_extension-button-container"] {
  background: #444 !important;
  border-color: #222 !important;
}
[class^="gui_body-wrapper"] {
  background-color: #2e2e2e !important;
}
[class*="gui_tab_"] {
  background-color: #444 !important;
  border-bottom-color: #2e2e2e !important;
}
[class*="gui_tab_"][class*="gui_is-selected"] {
  background-color: #555 !important;
}
[class^="asset-panel_"] {
  background-color: #444 !important;
  color: #eee;
}
[class^="sound-editor_round-button"] {
  filter: brightness(0.75) saturate(0) !important;
}
[class*="button_button"],
[class^="sound-editor_button"] {
  background: #555 !important;
  border-color: #333 !important;
}
.injectionDiv,
.blocklyToolboxDiv,
[class^="stage_stage-wrapper"],
[class^="asset-panel_"],
[class^="sprite-selector"],
[class^="stage-selector"] {
  border-color: #111 !important;
}
[class^="stage_stage-wrapper-overlay"] {
  background-color: #000;
}
[class*="stage_stage-overlay-content"] {
  border: 1px solid #333 !important;
}
[class^="stage-header_stage-header-wrapper-overlay"] {
  background-color: #000;
}
[class^="react-tabs"]:focus::after {
  display: none;
}
[class^="input_input-form_"],
[class^="sprite-info"],
[class^="stage-header"] {
  border-color: #666 !important;
}
[class^="backpack_backpack-header"] {
  background: #444;
  color: white;
}
[class^="menu-bar_help-icon"] {
  filter: brightness(0.5);
}
.Popover-body {
  background: #333;
  border-color: #222;
}
.Popover-tipShape {
  fill: #333;
  stroke: #222;
}
[class^="color-picker_row-header"] {
  color: #eee;
}
[class^="color-picker_divider"] {
  border-color: #555;
}
[class^="color-picker_swatch"] {
  border-color: #666;
}
[class^="slider_handle"] {
  background-color: #eee;
}

/** recent changes :P **/

.blocklyFlyoutButton > .blocklyText,
.blocklyFlyoutLabelText {
  fill: #eed !important;
}

[class^="gui_tab"] span {
  /* s-a */
  font-weight: 700;
}

[class^="gui_tab"] li:not([aria-selected="true"]) > span {
  color: hsla(215, 100%, 85%, 0.5) !important;
}

[class^="gui_stage-and-target-wrapper"]
  [class^="button_outlined-button"]:not([class*="menu-bar"]):not([class*="modal"]):not([class*="tag-button_active"]) {
  background: #444 !important;
}

[class*="modal_modal-overlay"] {
  background-color: hsla(215, 20%, 35%, 0.9);
}

[class^="prompt_body"] {
  background-color: hsla(0, 0%, 90%, 0.9);
}

.blocklyFlyoutButton:hover {
  fill: hsla(215, 60%, 40%, 1) !important;
}

input:not([name="title"]):not([name="q"]):not([name="username"]):not([type="password"]):not([name="password"]):not([name="passwordConfirm"]):not(#showPassword) {
  background: #444;
  color: #fff !important;
}

input:not([name="title"]):not([name="q"]):not([name="username"]):not([type="password"]):not([name="password"]):not([name="passwordConfirm"]):not(#showPassword)::placeholder {
  color: #ddd;
}

input:not([name="title"]):not([name="q"]):not([name="username"]):not([type="password"]):not([name="password"]):not([name="passwordConfirm"]):not(#showPassword):focus {
  box-shadow: 0 0 0 0.25rem hsla(215, 100%, 55%, 0.45) !important;
}

[class^="stage_stage-wrapper-overlay"],
[class^="stage-header_stage-header-wrapper-overlay"] {
  background-color: #222;
}

/** Menu bar **/

[class^="gui_menu-bar"],
[class^="modal_header"] {
  background-color: hsla(215, 20%, 35%, 1);
}

[class^="menu_menu"] {
  background-color: hsla(215, 20%, 35%, 1);
}

[class*="project-title-input_title-field"] {
  background-color: hsla(215, 20%, 32%, 1);
  border-color: hsla(0, 0%, 0%, 0.15) !important;
}

[class*="project-title-input_title-field"]:hover {
  background-color: hsla(215, 20%, 29%, 1);
}

[class*="project-title-input_title-field"]:focus {
  background-color: hsla(215, 20%, 25%, 1);
}

/** Context menus **/

[class*="context-menu_context-menu"] {
  background-color: #555;
}

/** Libraries **/

[class*="modal_modal-content"],
[class^="library_library-scroll-grid"] {
  background-color: #2e2e2e !important;
}

[class^="library_library-scroll-grid"] > [class^="library-item_library-item"] {
  background-color: #3a3a3a;
  border-color: #111;
  color: white;
}

[class^="library_library-scroll-grid"] > [class^="library-item_library-item"]:hover {
  border-color: hsla(215, 100%, 65%, 1);
}

[class^="library-item_featured-extension"] {
  color: white !important;
}

[class^="library-item_featured-extension-metadata-detail"] img {
  filter: brightness(2) saturate(0);
}

[class^="library-item_library-item-inset-image-container"] {
  border-color: #2c2c2c;
}

[class^="library_filter-bar"] {
  background-color: hsla(215, 20%, 45%, 1);
}

[class^="filter_filter-input"] {
  border-color: #666;
  background: #444;
  color: #fff !important;
  border-radius: 10rem;
}

[class^="filter_filter-input"]::placeholder {
  color: #fff !important;
}

[class*="tag-button_active"] {
  background-color: hsla(30, 100%, 55%, 1) !important;
}

/** Paint editor **/

[class^="tool-select-base_tool-select"] {
  filter: brightness(2) saturate(0.25);
}

/* s-a */
.paint-editor_button-group-button-icon_10kVn,
.color-picker_swatch-icon_Z7osI,
.scratchCategoryId-music > .scratchCategoryItemIcon {
  filter: brightness(100);
}

.blocklyZoom {
  filter: invert(100) hue-rotate(180deg);
}
.blocklyZoom > image {
  opacity: 1;
}

.stage-wrapper_full-screen_2hjMb {
  background-color: #222 !important;
}
