.gui_body-wrapper_-N0sA,
.gui_tab_27Unf:hover,
.monitor_monitor-container_2J9gl,
.custom-procedures_workspace_1d2uW .blocklySvg,
.monitor_list-body_2OFZ6 {
  background-color: #001533;
}
.project-title-input_title-field_en5Gd:hover {
  background: rgba(0,21,51,0.5);
}
.gui_tab_27Unf,
.selector_wrapper_8_BHs {
  background-color: #192f4d;
  color: #fff;
}
.gui_tab_27Unf,
.blocks_blocks_C530M .injectionDiv,
.blocks_blocks_C530M .blocklyToolboxDiv,
.backpack_backpack-header_6ltCS,
.backpack_backpack-list_MOp5X,
.stage-header_stage-button_hkl9B,
.sprite-selector_sprite-selector_2KgCX,
.input_input-form_l9eYg,
.input_input-form_1Y0wX,
.sprite-info_radio-first_3xgJB:not(:focus),
.sprite-info_radio-last_3Ps65:not(:focus),
.stage-selector_stage-selector_3oWOr,
.stage-selector_header_2GVr1,
.stage-selector_costume-canvas_2L_6h,
.fixed-tools_button-group-button_2dq9z,
[dir="ltr"] .fixed-tools_button-group-button_2dq9z:first-of-type,
[dir="ltr"] .fixed-tools_button-group-button_2dq9z.fixed-tools_mod-start-border_1SgX4,
.color-button_color-button-swatch_37evk,
.color-button_color-button-arrow_2NxGY,
.color-picker_divider_3a3qR,
[dir="ltr"] .fixed-tools_mod-dashed-border_1XeDm,
[dir="ltr"] .paint-editor_mod-dashed-border_1TL5q,
[dir="ltr"] .mode-tools_mod-dashed-border_T8CR_,
.paint-editor_editor-container-top_2wxS3,
.paint-editor_canvas-container_x2D0a,
.paint-editor_button-group-button_1I1tm,
[dir="ltr"] .paint-editor_button-group-button_1I1tm:first-of-type,
.sound-editor_button_1_6Li,
[dir="ltr"] .sound-editor_button-group_SFPoV .sound-editor_button_1_6Li:first-of-type,
[dir="ltr"] .sound-editor_input-group_2hWiH,
.context-menu_context-menu_2SJM-,
.context-menu_menu-item-bordered_29CJG,
.blocklyWidgetDiv .goog-menu,
.Popover-body,
.prompt_variable-name-text-input_1iu8-,
.prompt_cloud-option_1jjSa,
.prompt_button-row_3Wc5Z button,
.custom-procedures_button-row_2jBu3 button,
.slider-prompt_min-input_1IxXX,
.slider-prompt_max-input_1Nwbv,
.slider-prompt_button-row_32aCX button,
.monitor_list-header_-cp0o {
  border-color: #444;
}
.gui_tab_27Unf.gui_is-selected_sHAiu {
  background-color: #282828;
}
.language-selector_language-select_8Vfnm option,
.project-title-input_title-field_en5Gd:focus,
.blocklySvg,
.blocklyToolboxDiv,
.scratchCategoryMenu,
.backpack_backpack-header_6ltCS,
.backpack_backpack-item_hwqzQ > div,
.stage-header_stage-button_hkl9B,
.stage-wrapper_stage-wrapper_2bejr.stage-wrapper_full-screen_2hjMb,
.sprite-info_sprite-info_3EyZh,
.input_input-form_l9eYg,
.input_input-form_1Y0wX,
.sprite-selector-item_sprite-selector-item_kQm-i,
.sprite-selector-item_sprite-selector-item_kQm-i:hover,
.sprite-selector-item_sprite-selector-item_kQm-i.sprite-selector-item_is-selected_24tQj,
.stage-selector_stage-selector_3oWOr,
.stage-selector_header_2GVr1,
.asset-panel_wrapper_366X0,
.sound-editor_button_1_6Li,
.context-menu_context-menu_2SJM-,
.blocklyWidgetDiv .goog-menu,
.Popover-body,
.filter_filter_1JFal,
.library-item_library-item_1DcMO,
.prompt_body_18Z-I,
.prompt_variable-name-text-input_1iu8-,
.prompt_button-row_3Wc5Z button,
.custom-procedures_body_SQBv6,
.custom-procedures_option-card_BtHt3,
.custom-procedures_button-row_2jBu3 button,
.slider-prompt_body_2ZkXL,
.slider-prompt_min-input_1IxXX,
.slider-prompt_max-input_1Nwbv,
.slider-prompt_button-row_32aCX button,
.monitor_list-header_-cp0o,
.monitor_list-footer_2HyG8,
.question_question-container_OuJwy {
  background-color: #282828;
  color: #fff;
}
.scratchCommentRect {
  fill: #322d01;
}
.scratchCommentBody,
.scratchCommentTextarea {
  background: #4c4401;
}
.scratchCommentTextarea::placeholder {
  color: rgba(255,255,255,0.5);
}
.scratchCommentText {
  fill: #fff;
}
.stage_stage_1fD7k {
  border-color: rgba(255,255,255,0.15);
}
.sprite-selector-item_sprite-info_-I0i_,
.stage-selector_header-title_33xCt,
.stage-selector_label_1MCfr,
.stage-selector_count_2QK7D,
.color-button_color-button-arrow_2NxGY,
.color-picker_row-header_173LQ,
.sound-editor_tool-button_2iNn9,
.sound-editor_effect-button_2zuzT,
.blocklyWidgetDiv .goog-menuitem,
.filter_filter-input_1iiEt,
.filter_filter-input_1iiEt::placeholder,
.library-item_featured-extension-metadata_3D8E8,
.monitor_list-index_7tKdl,
.question_question-label_1tRo2 {
  color: #fff;
}
.scratchCategoryMenuItem.categorySelected {
  background: #333;
}
.blocklyFlyoutBackground {
  fill: #333;
}
.blocklyFlyoutLabelText,
.blocklyFlyoutButton .blocklyText {
  fill: #fff;
}
.blocklyFlyoutButtonBackground,
.custom-procedures_workspace_1d2uW .blocklyMainBackground,
.blocklyFlyoutCheckbox {
  stroke: #444;
}
.blocklyFlyoutButton:hover,
.blocklyScrollbarHandle {
  fill: #444;
}
.blocklyFlyoutCheckbox {
  fill: #282828;
}
.blocklyBlockCanvas g:not(.checked) .blocklyFlyoutCheckboxPath {
  stroke: #282828;
}
.backpack_backpack-item_hwqzQ img {
  mix-blend-mode: normal;
}
.sprite-selector_sprite-selector_2KgCX,
.modal_modal-content_1h3ll.modal_full-screen_FA4cr,
.library_library-scroll-grid_1jyXm {
  background-color: #030b16;
}
.stage-header_stage-button-icon_3zzFK,
.sprite-info_icon-wrapper_3Wbqq:not(.sprite-info_radio_v-fgn),
img.tool-select-base_tool-select-icon_tJ-rr,
.paint-editor_button-group-button-icon_10kVn,
img[src="/static/assets/7bd7487b704797cb5ab3cb441486ea70.svg"],
.library-item_featured-extension-metadata-detail_1M9BV img {
  filter: brightness(0) invert(1);
}
img[src="/static/assets/63e5827c1506216bd7c9927a4e5eb558.svg"] {
  filter: brightness(0) invert(1) drop-shadow(0px 0px 2px rgba(0,0,0,0.15)) !important;
}
.stage-header_stage-size-toggle-group_17LtK .stage-header_stage-button_hkl9B:not(.stage-header_stage-button-toggled-off_AJ8yG) .stage-header_stage-button-icon_3zzFK {
  filter: none;
}
.preview .guiPlayer .project-info-alert {
  background: rgba(0,0,0,0.7);
}
.selector_new-buttons_2qHDd::before {
  background: linear-gradient(rgba(19,26,32,0), #131a20);
}
.blocklyWidgetDiv .goog-menuitem-disabled .goog-menuitem-content {
  color: #444 !important;
}
.blocklyWidgetDiv .goog-menuitem-highlight {
  border-color: transparent;
}
.blocklyWidgetDiv .goog-menuitem-highlight,
.blocklyWidgetDiv .goog-menuitem-hover {
  background-color: #4d97ff;
}
.Popover-tipShape {
  fill: #282828;
  stroke: #444;
}
