.question_question-container_OuJwy {
  background-color: var(--editorDarkMode-accent);
  color: var(--editorDarkMode-accent-text);
}
.question_question-label_1tRo2 {
  color: var(--editorDarkMode-accent-text);
}

.question_question-input_1oAB7 .input_input-form_l9eYg {
  background-color: var(--editorDarkMode-input);
  border-color: var(--editorDarkMode-border);
  color: var(--editorDarkMode-input-text);
}

.question_question-submit-button_3nYah {
  background-color: var(--editorDarkMode-primary);
}
.question_question-submit-button-icon_upm57 {
  filter: var(--editorDarkMode-primary-filter);
}
.question_question-input_1oAB7 .input_input-form_l9eYg:hover,
.question_question-container_OuJwy /* <-- specificity */ .question_question-input_1oAB7 .input_input-form_l9eYg:focus {
  border-color: var(--editorDarkMode-primary);
}
.question_question-container_OuJwy /* <-- specificity */ .question_question-input_1oAB7 .input_input-form_l9eYg:focus {
  box-shadow: 0 0 0 4px var(--editorDarkMode-primary-transparent35);
}

.question_question-container_OuJwy {
  border-color: var(--editorDarkMode-border);
}
