@import url("../../libraries/common/cs/setting-managed-by-sa.css");

.sa-theme-submenu li:not(:last-child, :nth-last-child(2)) {
  filter: opacity(0.5) grayscale(1);
  cursor: default;
}
.sa-theme-submenu li:not(:last-child, :nth-last-child(2)) div [class*="settings-menu_check_"] {
  visibility: hidden;
}
.sa-theme-submenu li:not(:last-child):hover {
  background-color: transparent;
}
