.sa-comment-preview {
  position: absolute;
  width: calc(200px - 16px);
  max-height: calc(132px - 8px);
  padding: 8px;
  overflow: hidden;
  z-index: 100000000;

  font-size: 12px;
  white-space: pre-wrap;

  background-color: rgb(249 249 249 / 75%);
  border-style: none;
  border-radius: 8px;
  filter: drop-shadow(0px 5px 5px rgb(0 0 0 / 10%));
  backdrop-filter: blur(16px);
}

.sa-comment-preview-hidden {
  display: none;
}

.sa-reduce-transparency {
  background-color: rgb(249 249 249);
  border-style: solid;
  border-width: 2px;
  border-color: #c3ccd9;
  filter: none;
  backdrop-filter: none;
}
