body {
  padding-bottom: 1px; /* show margin below last project */
}

.favorites {
  font-size: 12px;
  padding: 6px 8px;
  display: flex;
  border-bottom: 1px solid var(--content-border);
  border-radius: 4px;
  margin: 10px;
  border: 1px solid var(--content-border);
  background: var(--content-background);
  box-shadow: var(--content-shadow);
}

.loading,
.error {
  text-align: center;
  font-size: 1rem;
  padding-top: 20px;
  font-weight: 600;
  margin: 0 2rem;
}

.favorites a {
  color: var(--content-text) !important; /* I'm probbably doiing somthing wrong and don't need !important */
}
