/* Hide the ✏️ button on blocks that aren't top level */
g.blocklyDraggable[data-id]:not(.blocklyInsertionMarker):not(g.blocklyBlockCanvas>g.blocklyDraggable[data-id]:not(.blocklyInsertionMarker)) [data-is-blocklydev-btn] {
    display: none !important;
}

/* Hide editor buttons on blocks that aren't top level */
g.blocklyDraggable[data-id]:not(.blocklyInsertionMarker):not(g.blocklyBlockCanvas>g.blocklyDraggable[data-id]:not(.blocklyInsertionMarker)) [data-is-blocklydev-editor-btn] {
    display: none !important;
}

/* Hide the XML editor on blocks that aren't top level */
g.blocklyDraggable[data-id]:not(.blocklyInsertionMarker):not(g.blocklyBlockCanvas>g.blocklyDraggable[data-id]:not(.blocklyInsertionMarker)) [data-isblocklydeveditor] {
    display: none !important;
}

/* Hide scrollbars on the XML editor */
div[data-isblocklydeveditor]::-webkit-scrollbar {
    display: none;
}
div[data-isblocklydeveditor] {
    scrollbar-width: none;
}