.conflictDialog {
  box-sizing: border-box;
  width: 600px;
  max-height: 80vh;
  max-width: 85%;
  margin-top: 12vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}

.conflictDialog .sa-editor-modal-content {
  padding: 1.5rem 2.25rem;
}

.conflictDialog .sa-editor-modal-content > p {
  margin-top: 0;
}

.conflictDialog-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.conflictDialog-actions > button:not([class^="prompt_ok-button_"]):hover {
  background-color: var(--editorDarkMode-primary-transparent15, hsla(260, 60%, 60%, 0.15));
}

.conflictDialog-footer {
  border-top: solid 1px var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
  padding-top: 1rem;
}

.conflictDialog-footer :last-child {
  margin-left: 1rem;
}
