:root:not(.sa-editor) [class*="stage-wrapper_stage-wrapper"] {
  position: relative;
}
:root:not(.sa-editor) div[class*="loader_background_"],
:root:not(.sa-editor) .sa-project-thumb {
  border-radius: 0;
}
:root:not(.sa-editor) :not([class*="stage-wrapper_full-screen_"]) > div[class*="loader_background_"],
:root:not(.sa-editor) .sa-project-thumb.loading {
  top: 38px;
  height: calc(100% - 39px);
}
