body:not(.sa-body-editor) [class*="stage-wrapper_stage-wrapper"] {
  position: relative;
}
body:not(.sa-body-editor) div[class*="stage_green-flag-overlay-wrapper_"] {
  margin: 0;
}
body:not(.sa-body-editor) div[class*="loader_background_"] {
  border-radius: 0;
}
body:not(.sa-body-editor) :not([class*="stage-wrapper_full-screen_"]) > div[class*="loader_background_"] {
  top: 38px;
  height: calc(100% - 39px);
}
