:root:not(.sa-editor) [class*="stage-wrapper_stage-wrapper"] {
  position: relative;
}
:root:not(.sa-editor) div[class*="stage_green-flag-overlay-wrapper_"] {
  margin: 0;
}
:root:not(.sa-editor) .sa-loader-background {
  border-radius: 0;
  top: 38px;
  height: calc(100% - 39px);
}
