.sa-project-thumb {
  display: inline;
  position: absolute;
  background-color: var(--darkWww-page, #fcfcfc);
}

div[class*="loader_background_"] {
  background-color: rgba(0, 0, 0, 0.25);
}

div[class*="loader_block-animation_"] {
  /* Remove transparency */
  filter: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><filter id='opaque'><feComponentTransfer><feFuncA type='linear' slope='3.5'></feFuncA></feComponentTransfer></filter></svg>#opaque");
}

/* Editor */
.sa-body-editor:not(.sa-body-fullscreen) .sa-project-thumb {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 492;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sa-body-editor:not(.sa-body-fullscreen) div[class*="loader_background_"] {
  backdrop-filter: blur(10px);
}

/* Project page */
body:not(.sa-body-editor) .sa-project-thumb {
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: calc(0.5rem - 1px);
}

body:not(.sa-body-editor) div[class*="loader_background_"],
body:not(.sa-body-editor) .sa-project-thumb.loading {
  top: calc(2.75rem + 1px);
  height: calc(100% - 2.75rem - 2px);
  border-radius: calc(0.5rem - 1px);
}

/* Fullscreen */
.sa-body-fullscreen .sa-project-thumb {
  top: 3px;
  left: 3px;
  height: calc(100% - 6px);
  aspect-ratio: 4 / 3;
  border-radius: calc(0.5rem - 3px);
}

.sa-body-fullscreen .sa-project-thumb.loading {
  left: auto;
  top: 6px;
  height: calc(100% - 12px);
}

.sa-body-fullscreen div[class*="loader_background_"] {
  aspect-ratio: 4 / 3;
  top: calc(2.75rem + 6px);
  height: calc(100% - 2.75rem - 12px);
  width: auto;
  left: auto;
}

