.sa-project-thumb {
  display: inline;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: calc(0.5rem - 1px);
  background-color: var(--darkWww-page, #fcfcfc);
}
