body [class*="stage_green-flag-overlay-wrapper_"],
.sa-loader-background {
  background-image: linear-gradient(rgba(0, 0, 0, calc(var(--playerThumb-darken) / 100))), var(--sa-player-thumb-src);
  background-position: center;
  background-size: cover;
}

:root:not(.sa-editor) .sa-controls-disabled > img,
.sa-fullscreen .sa-controls-disabled > img {
  pointer-events: none;
  opacity: 0.5;
}

:root:not(.sa-editor) [class*="stage_green-flag-overlay-wrapper_"] {
  top: 1px;
  height: calc(100% - 2px);
  border-radius: calc(0.5rem - 1px);
}

:root:not(.sa-editor) .sa-loader-background,
:root:not(.sa-editor) [class*="stage_green-flag-overlay-wrapper_"] {
  left: 1px;
  width: calc(100% - 2px);
  border-radius: calc(0.5rem - 1px);
}

:root:not(.sa-editor) .sa-loader-background {
  top: calc(2.75rem + 1px);
  height: calc(100% - 2.75rem - 2px);
}

.sa-fullscreen [class*="stage_green-flag-overlay-wrapper_"] {
  top: 3px;
  left: 3px;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  border-radius: calc(0.5rem - 3px);
}

.sa-fullscreen .sa-loader-background {
  top: calc(2.75rem + 6px);
  left: auto;
  width: auto;
  height: min(100% - 2.75rem - 12px, 100vw * 0.75);
  aspect-ratio: 4 / 3;
  border-radius: calc(0.5rem - 3px);
}

.sa-fullscreen [class*="loader_block-animation_"],
:root:not(.sa-editor) [class*="loader_block-animation_"] {
  /* Remove transparency */
  filter: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><filter id='opaque'><feComponentTransfer><feFuncA type='linear' slope='3.5'></feFuncA></feComponentTransfer></filter></svg>#opaque");
}
