.advertising {
  text-decoration: underline;
}

.contains-advertising {
  opacity: 0.5;
}

.contains-advertising .comment-top-row {
  display: none;
}

.contains-advertising .comment-bottom-row {
  display: none;
}

.contains-advertising + .replies {
  display: none;
}
