body, /* scratch-www */
#content /* scratchr2 */ {
  padding-bottom: 31px;
}

/*
    thank you to ZenithKnight for the following footer CSS
*/
#footer {
  position: fixed;
  top: initial;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  height: 32px;
  padding: 0;
  z-index: 20;
  transition-duration: 0.5s;
}
#footer .container {
  padding-top: 20px;
}
#footer:hover {
  height: 300px;
}
