body {
  /* scratch-www */
  padding-bottom: 45px;
}
#content {
  /* scratchr2 */
  padding-bottom: 45px;
}

/*
    thank you to ZenithKnight for the following footer CSS
*/
#footer {
  position: fixed;
  top: initial;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding: 0;
  z-index: 20;
  transition-duration: 0.5s;
}
#footer .container {
  padding-top: 20px;
}
#footer:hover {
  height: 300px;
}
