.mediaRecorderPopup {
  box-sizing: border-box;
  width: 600px;
  max-height: min(800px, 80vh);
  max-width: 85%;
  margin-top: 12vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}

.mediaRecorderPopupContent {
  padding: 1.5rem 2.25rem;
}

.mediaRecorderPopup p.recordOptionDescription {
  margin-bottom: 1.5rem;
}

.recordOptionNote {
  border: 1px solid var(--editorDarkMode-primary, #855cd6);
  background-color: var(--editorDarkMode-primary-transparent15, #855cd626);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.mediaRecorderPopup p {
  font-size: 1rem;
  margin: 0.5rem auto;
}

.mediaRecorderPopup p :not(:first-child) {
  margin-left: 1rem;
}

.mediaRecorderPopup[dir="rtl"] p :not(:first-child) {
  margin-left: 0;
  margin-right: 1rem;
}

p.mediaRecorderPopupOption {
  display: flex;
  align-items: center;
}

.mediaRecorderPopupOption input[type="checkbox"] {
  height: 1.5rem;
  margin-right: -0.25rem;
  accent-color: var(--editorDarkMode-primary, #855cd6);
}

#recordOptionSecondsInput,
#recordOptionDelayInput {
  width: 5rem;
  margin-bottom: 0.25rem;
}

.mediaRecorderSeparator {
  height: 1.25rem;
}

.mediaRecorderPopupButtons {
  margin-top: 1.5rem;
}

.mediaRecorderPopupButtons button {
  margin-left: 0.5rem;
}
