.sa-var-manager {
  display: block;
  padding: 18px;
}

.sa-var-manager.freeze > * > * > * > * > * {
  opacity: 0.5;
}

.sa-var-manager.freeze input:focus {
  opacity: 1 !important;
}

.sa-var-manager.freeze textarea:focus {
  opacity: 1 !important;
}

.sa-var-manager-heading {
  display: block;
  font-weight: bold;
  font-size: large;
}

.sa-var-manager-value {
  width: 25%;
  padding: 0;
}

.sa-var-manager-value > input {
  border: none;
  padding: 8px;
  width: 100%;
  height: 100%;
}

.sa-var-manager-value > textarea {
  border: none;
  padding: 8px;
  width: 100%;
  height: 100%;
  resize: none;
}

table {
  border-radius: 5px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */
