.sa-smart-error {
    min-height: 25px;
    max-width: 80%;
    border: 5px solid #ff7b26;
    display: flex;
    border-radius: 5px;
    background-color: #f3b68d;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    padding: 10px;
    gap: 5px;
    align-items: center;
}
