.green-flag_green-flag_1kiAo {
    background-color: var(--customisableControlButtons-playBack);
}

.pause-btn {
    background-color: var(--customisableControlButtons-pauseBack);
}

.stop-all_stop-all_1Y8P9 {
    background-color: var(--customisableControlButtons-stopBack);
}