[class*="stage-header_stage-menu-wrapper"],
[class*="stage-header_stage-size-row"] {
  flex-direction: row-reverse;
}

[dir="ltr"] [class*="stage-header_stage-size-toggle-group"],
[dir="ltr"] .sa-debugger-container,
[dir="ltr"] .sa-gamepad-container {
  margin-right: 0;
  margin-left: 0.2rem;
}

[dir="rtl"] [class*="stage-header_stage-size-toggle-group"],
[dir="rtl"] .sa-debugger-container,
[dir="rtl"] .sa-gamepad-container {
  margin-left: 0;
  margin-right: 0.2rem;
}

[class*="green-flag_green-flag_"],
[class*="stop-all_stop-all_"],
.pause-btn {
  order: 1;
}
