[class*="monitor_value_"],
[class*="monitor_large-value_"],
[class*="monitor_list-value_"] {
  background-color: var(--stageMonitor-monitorValueBg) !important;
  color: var(--stageMonitor-monitorValueText) !important;
}

[class*="monitor_list-input_"] {
  color: var(--stageMonitor-monitorValueText);
}
