.addon-setting {
  margin: 10px;
  margin-right: 20px;
  min-height: 35px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.setting-input {
  color: var(--accent-5);
  background: var(--accent-2);
  border: 1px solid #000;
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.25s ease;
  transition-property: box-shadow border;
}
.setting-input:focus {
  outline: none;
  border-color: var(--brand-orange);
  box-shadow: 0 0 0 3px #ff7d265d;
}

.setting-input.check {
  height: 20px;
  width: 20px;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-size: 20px 20px;
  background-position: center center;
}

.setting-input.check:checked {
  background-color: #175ef8;
  background-image: url(/images/icons/check.svg);
}

.setting-input.check:hover:not(:focus) {
  border-color: #0e44b8;
}

.setting-input.number {
  border-radius: 20px;
}
.setting-label {
  width: 200px;
  text-transform: uppercase;
  color: var(--accent-4);
  font-weight: 600;
  font-size: 12px;
  margin-right: 10px;
}

.setting-dropdown {
  position: relative;
}
.setting-dropdown.open .clear-button {
  border-bottom-right-radius: 0;
  background: #151515;
}
.setting-dropdown ul {
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  margin: 0;
  padding: 6px 0;
  display: none;
  z-index: 3;
  border-radius: 4px;
  border-top-right-radius: 0;
  background: var(--accent-2);
  color: var(--accent-5);
  border: 1px solid #000;
}
.setting-dropdown.open ul {
  display: block;
}
.setting-dropdown li {
  padding: 6px 12px;
  list-style: none;
  white-space: nowrap;
  text-align: left;
  transition: 0.25s ease;
  user-select: none;
}
.setting-dropdown li:hover {
  background: #151515;
}
.setting-dropdown li > * {
  vertical-align: middle;
}
.setting-dropdown .reset-preview {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border-radius: 5px;
  background: linear-gradient(45deg, #777 25%, transparent 25%), linear-gradient(-45deg, #777 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #777 75%), linear-gradient(-45deg, transparent 75%, #777 75%);
  background-color: white;
  background-size: 6px 6px;
  background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
}
.setting-dropdown .reset-preview span {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #000;
}
