.badge {
  background: gray;
  color: var(--white-text);
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 500;
  margin-inline-start: 10px;
  border-bottom: 2px solid #111;
  white-space: nowrap;

  &.blue {
    background: #175ef8;
    border-color: #0e44b8;
  }

  &.green {
    background: #78fd2b;
    color: #333;
    border-color: #53b31c;
  }
  &.yellow {
    background: #fddd2b;
    color: #333;
    border-color: #fdab12;
  }
  &.red {
    background: #fd662b;
    border-color: #d84a12;
  }
  &.darkred {
    background: #fd2b2b;
    border-color: #d81212;
  }
  &.darkgreen {
    background: #00b1a8;
    border-color: #047773;
  }
  &.purple {
    background: rgb(177, 23, 248);
    border-color: #b20eb8;
  }

  .tooltiptext {
    white-space: normal;
  }
}

.filter-option.sel {
  &.blue {
    background: #175ef8;
  }

  &.green {
    background: #78fd2b;
    color: #333;
  }

  &.yellow {
    background: #fddd2b;
    color: #333;
  }

  &.red {
    background: #fd662b;
  }

  &.darkgreen {
    background: #00b1a8;
  }
}
