.badge {
  background: gray;
  color: var(--white-text);
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 500;
  margin-inline-start: 10px;
  border-bottom: 2px solid #111;
  white-space: nowrap;
  color: #000;
}
.badge .tooltiptext {
  white-space: normal;
}

.badge.blue {
  background: #56a9ff;
  border-color: #3c88d7;
}
.badge.green {
  background: #78fd2b;
  border-color: #53b31c;
}
.badge.yellow {
  background: #fddd2b;
  border-color: #fdab12;
}
.badge.red {
  background: #ff9031;
  border-color: #cb5e00;
}
.badge.darkred {
  background: #ff7272;
  border-color: #d53b3b;
}
.badge.darkgreen {
  background: #0cd1c7;
  border-color: #12a39e;
}
.badge.purple {
  background: #ff67de;
  border-color: #e137bd;
}
.filter-option.sel.blue {
  background: #175ef8;
}
.filter-option.sel.green {
  background: #78fd2b;
  color: #333;
}
.filter-option.sel.yellow {
  background: #fddd2b;
  color: #333;
}
.filter-option.sel.red {
  background: #fd662b;
}
.filter-option.sel.darkgreen {
  background: #00b1a8;
}
