.large-button {
  color: var(--content-text);
  background: var(--button-background);
  border: 1px solid var(--control-border);
  display: flex;
  align-items: center;
  padding: 7px 12px;
  border-radius: 4px;
  transition: 0.2s ease;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  user-select: none;
}

.large-button.split-button-dropdown {
  border-inline-start: none;
  padding: 7px;
}

.large-button.split-button-dropdown > .icon-type {
  margin: 0;
}

.large-button:hover:not(:disabled),
.split-button .large-button.split-button-dropdown.open {
  background: var(--button-hover-background);
  cursor: pointer;
}

.large-button:focus-visible {
  outline: none;
  border-color: var(--orange);
  box-shadow: var(--input-focus-shadow);
}

.large-button > * {
  vertical-align: middle;
}

.icon-button {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  border: none;
  user-select: none;
  transition: 0.2s ease;
}

.icon-button > .icon-type {
  margin: 0;
}

.split-button:hover:not(:disabled) .icon-button.split-button-button:not(:hover),
.split-button:hover:not(:disabled) .icon-button.split-button-dropdown:not(:hover),
.split-button:has(.open) .icon-button.split-button-button {
  background: var(--hover-highlight-reduced);
}

.icon-button:hover:not(:disabled),
.split-button .icon-button.split-button-dropdown.open,
.split-button:hover .icon-button.split-button-dropdown.open:not(:hover) {
  background: var(--hover-highlight);
}

.split-button {
  display: flex;
}

.split-button-button {
  border-radius: 4px 0 0 4px;
}

[dir="rtl"] .split-button-button {
  border-radius: 0 4px 4px 0;
}

.split-button-dropdown {
  border-radius: 0 4px 4px 0;
}

[dir="rtl"] .split-button-dropdown {
  border-radius: 4px 0 0 4px;
}

.split-button:has(.open) .split-button-button,
.split-button .split-button-dropdown.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
