.categories-block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  background: var(--accent-3);
  min-width: 300px;
  overflow-y: auto;
  padding: 20px 0;
}

.category {
  padding: 20px 20px;
  position: relative;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.category.category-small {
  padding: 15px 20px 15px 20px;
}

.category.sel {
  color: var(--brand-orange);
}
.category:hover {
  background: rgba(0, 0, 0, 0.1);
}
.category.sel::before {
  content: "";
  display: block;
  width: 4px;
  border-radius: 0 4px 4px 0;
  height: 40px;
  background: var(--brand-orange);
  position: absolute;
  top: 10px;
  left: 0;
}

.category img {
  height: 18px;
  filter: brightness(10);
}
.category.sel img {
  filter: brightness(1);
}
.category span {
  margin-left: 15px;
}
