.categories-block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  background: var(--navigation-background);
  min-width: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-text) transparent;
  padding: 20px 0;
}

.categories-block.smallMode {
  box-sizing: border-box;
  position: absolute;
  z-index: 200;
  height: calc(100vh - 60px);
  height: calc(100svh - 60px);
  padding-bottom: 0;
  transition: 0.25s;
}

.categories-block.smallMode.closed {
  transform: translateX(-100%);
}
[dir="rtl"] .categories-block.smallMode.closed {
  transform: translateX(100%);
}

.categories-block.closed:not(.smallMode) {
  display: none;
}
