.popup {
  position: fixed;
  left: calc(50% - 200px);
  z-index: 1000000;
  background: var(--content-background);
  box-shadow: 0px -3px 15px 2px rgb(42 42 42);
  height: 180px;
  text-align: center;
  padding: 20px;
  top: 0px;
  border-radius: 0px 0px 10px 10px;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes dropDown {
  0% {
    top: -400px;
  }
  100% {
    top: 0px;
  }
}

@keyframes closePopup {
  0% {
    top: 0px;
  }
  100% {
    top: -400px;
  }
}

@media (prefers-reduced-motion) {
  @keyframes dropDown {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes closePopup {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.popup img {
  height: 50px;
  width: 50px;
}

.popup .label {
  margin-bottom: 30px;
}

.popup .large-button {
  display: inline-flex;
}

.popup .large-button:not(:last-child) {
  margin-inline-end: 20px;
}
