.footer {
  text-align: center;
  color: var(--gray-text);
  margin-top: auto;
}
.footer a {
  color: var(--gray-text);
}
.settings-block {
  margin-top: 20px;
  overflow-y: auto;
}
.more-settings .large-button {
  display: block;
  margin-inline-end: 10px;
}
.more-settings .filter-selector {
  margin: 0;
}
.more-settings .addon-body,
.more-settings .addon-setting {
  margin-inline: 0;
}
.more-settings .addon-body:first-child {
  margin-top: 0;
}
.more-settings .addon-body:last-child {
  margin-bottom: 0;
}
.more-settings .addon-topbar {
  height: 36px;
  border-bottom: 1px solid var(--content-border);
}
.more-settings .addon-name {
  margin-inline-start: 10px;
}
.more-settings .addon-settings {
  padding: 10px;
  padding-bottom: 0;
}
