.footer {
  text-align: center;
  color: var(--gray-text);
  margin-top: auto;
}
.footer a {
  color: var(--gray-text);
}
.settings-block {
  margin: 0 -20px;
  padding: 10px 20px; /* prevents shadows from being cut off */
  overflow-y: auto;
}
.more-settings .filter-selector {
  margin: 0;
}
.more-settings .addon-body,
.more-settings .addon-setting {
  margin-inline: 0;
}
.more-settings .addon-body:first-child {
  margin-top: 0;
}
.more-settings .addon-body:last-child {
  margin-bottom: 0;
}
.more-settings .addon-topbar {
  min-height: 36px;
  border-bottom: 1px solid var(--content-border);
}
.more-settings .addon-name,
.more-settings .addon-icon {
  margin-inline-start: 10px;
}
.more-settings .addon-settings {
  padding: 10px;
  padding-bottom: 0;
}
.export-actions {
  flex-wrap: wrap;
  gap: 10px 25px;
}
.export-actions-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.permissions-block {
  padding: 5px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.permissions-block h1 {
  font-family: "Sora", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-right: 19px;
}
.permissions-steps {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .permissions-steps {
    flex-direction: column;
    align-items: center;
  }
}
.permissions-steps > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.permissions-steps button {
  display: block;
  height: 6rem;
  width: 18rem;
  font-family: "Sora", sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
}
.permissions-steps img {
  width: 24rem;
  max-width: 100%;
}
