.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 65%);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--accent-2);
  margin: auto;
  padding: 20px;
  width: 50rem;
  border-radius: 10px;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.close {
  float: right;
  cursor: pointer;
}
[dir="rtl"] .close {
  float: left;
}

.footer {
  text-align: center;
  width: 800px;
  color: gray;
  margin-top: auto;
}
.footer a {
  color: gray;
}
.settings-block {
  margin-top: 20px;
}
.modal .large-button {
  display: block;
  margin-inline-end: 10px;
}
.modal .filter-selector {
  margin: 0;
}
.modal .addon-name {
  margin-inline-start: 14px;
}
