@import url("/libraries/thirdparty/Roboto.css");
html {
  font-size: 14px;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-text) transparent;
}
html.fullscreen {
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: auto;
  overflow-x: hidden;
  background-color: var(--page-background);
  color: var(--content-text);
}

@media (min-width: 700px) {
  body.fullscreen {
    width: 55%;
    min-width: 700px;
    min-height: calc(100% - 2px);
    height: auto;
    border: 1px solid var(--control-border);
    box-shadow: var(--fullscreen-popup-shadow);
  }
}

[v-cloak] {
  display: none !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a[href]:not(.nolink) {
  color: var(--blue-text);
}
a:hover {
  text-decoration: underline;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* hide track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
}
