.search-box {
  background: var(--search-toolbar-background);
  border-bottom: 1px solid var(--control-border);
  display: flex;
  align-items: center;
  padding-inline-start: 30px;
  user-select: none;
}
.navbar .search-box {
  background: none;
  border-bottom: none;
}

.search-box input {
  background: var(--search-input-background);
  padding: 8px 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  color: var(--content-text);
  width: 150px;
  height: 16px;
  font-family: inherit;
  font-size: 14px;
}
[dir="rtl"] .search-box input {
  border-radius: 0 4px 4px 0;
}
.search-box input:focus {
  outline: none;
}
.search-box input::placeholder {
  color: var(--placeholder-text);
}
.navbar .search-box input {
  background: var(--search-input-background-navbar);
  color: var(--black-text);
}

.search-box > button {
  background-color: var(--search-input-background);
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 44px;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
}
[dir="rtl"] .search-box > button {
  border-radius: 4px 0 0 4px;
}
.navbar .search-box > button {
  background-color: var(--search-input-background-navbar);
}

.search-button {
  background-image: url(/images/icons/search.svg);
}

.search-clear-button {
  background-image: url(/images/icons/x.svg);
}
