.search-box {
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  border: 1px solid transparent; /* prevent layout shift */
  transition: 0.2s ease;
}

.search-box:focus-within {
  border-color: var(--brand-orange);
}

.search-box input {
  background: var(--search-input-background);
  padding: 8px 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  color: var(--content-text);
  width: 150px;
  height: 16px;
  font-family: inherit;
  font-size: 14px;
}
[dir="rtl"] .search-box input {
  border-radius: 0 4px 4px 0;
}
.search-box input:focus {
  outline: none;
}
.search-box input::placeholder {
  color: var(--placeholder-text);
}

.search-box > button {
  background-color: var(--search-input-background);
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 44px;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
}
[dir="rtl"] .search-box > button {
  border-radius: 4px 0 0 4px;
}

.search-button {
  background-image: url(/images/icons/search.svg);
}

.search-clear-button {
  background-image: url(/images/icons/x.svg);
}
