.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  user-select: none;
}

.search-box input {
  background: var(--search-input-background);
  padding: 8px 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  color: var(--content-text);
  width: 30rem;
  height: 1.25rem;
}
[dir="rtl"] .search-box input {
  border-radius: 0 4px 4px 0;
}
.search-box input:focus {
  outline: none;
}
.search-box input::placeholder {
  color: var(--content-text);
}

.search-box > button {
  background-color: var(--search-input-background);
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  width: 44px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  cursor: pointer;
  background-size: 20px;
}
[dir="rtl"] .search-box > button {
  border-radius: 4px 0 0 4px;
}

.search-button {
  background-image: url(/images/icons/search.svg);
}

.search-clear-button {
  background-image: url(/images/icons/x.svg);
}
