.search-box {
  min-height: 60px;
  background: var(--accent-1);
  display: flex;
  align-items: center;
  padding: 10px 30px;
  user-select: none;
}

.search-box input {
  background: #111;
  padding: 10px 15px;
  border: none;
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
  color: var(--accent-5);
  width: 150px;
  height: 16px;
}
.search-box input:focus {
  outline: none;
}
.search-box input::placeholder {
  color: #777;
}

.search-box > button {
  background-color: #111;
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  width: 45px;
  border: none;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
  outline: none;
  cursor: pointer;
}

.search-button {
  background-image: url(/images/icons/search.svg);
}

.search-clear-button {
  background-image: url(/images/icons/x.svg);
}

.search-box .badge {
  cursor: default;
  border-bottom: none;
}
.search-box .badge .selected-badge {
  cursor: default;
  border-bottom: none;
}
