.categories-block.smallMode {
  border-radius: 0px 0px 10px 10px;
  margin-inline-start: 10px;
  z-index: 10;
  position: absolute;
  max-height: calc(100vh - 60px);
  box-sizing: border-box;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.toggle {
  margin-inline-end: 5px;
  padding: 5px;

  cursor: pointer;
}
.toggle img {
  width: 24px;
  height: 24px;
}

.search-box.smallMode {
  overflow-y: hidden;
}
