.categories-block.smallMode {
  border-radius: 0px 0px 10px 10px;
  margin-inline-start: 10px;
  padding-bottom: 8px;
  z-index: 5;
  position: absolute;
  max-height: calc(100vh - 60px);
  box-sizing: border-box;
  box-shadow: var(--large-shadow);
}
.categories-block.smallMode .category:not(.hasParent) {
  padding-block: 15px;
}
.toggle {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 18px;
  margin-inline-start: -14px;
  margin-inline-end: 14px;
  transition: 0.2s ease;
}
.toggle:hover {
  background: var(--header-hover-darken);
}
