.tooltip {
  position: relative;
  /* making the .tooltip span a container for the tooltip text */
  cursor: default;
}

.tooltip-indicator {
  border-bottom: 1px dashed var(--control-border);
  /* little indicator to indicate it's hoverable */
}

.tooltiptext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* Bring it on top of other tags */
  z-index: 10;
  left: 100%;
  margin-inline-start: 10px; /* distance from parent */
  width: max-content;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: var(--tooltip-background);
  color: var(--content-text);
  text-align: center;
  visibility: hidden;

  filter: var(--large-shadow-filter);
}
[dir="rtl"] .tooltiptext {
  left: auto;
  right: 100%;
}
.tooltiptext.tooltiptextleft {
  left: auto;
  right: 100%;
  top: -3px;
  transform: none;
  margin-inline-start: 0;
}
[dir="rtl"] .tooltiptext.tooltiptextleft {
  right: auto;
  left: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border: 5px solid transparent;
  border-inline-end-color: var(--tooltip-background);
  white-space: normal;
}
[dir="rtl"] .tooltip .tooltiptext::after {
  right: auto;
  left: 100%; /* To the right of the tooltip */
}
.tooltip .tooltiptext.tooltiptextleft::after {
  right: auto;
  left: 100%;
  top: 15px;
  border-inline-end-color: transparent;
  border-inline-start-color: var(--tooltip-background);
}
[dir="rtl"] .tooltip .tooltiptext.tooltiptextleft::after {
  left: auto;
  right: 100%;
}

.tooltiptext:hover .tooltiptext:after {
  visibility: visible;
}
