.tooltip {
  position: relative;
  /* making the .tooltip span a container for the tooltip text */
  cursor: default;
}

.tooltip-indicator {
  border-bottom: 1px dashed #000;
  /* little indicator to indicate it's hoverable */
}

.tooltiptext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* Bring it on top of other tags */
  z-index: 10;
  __MSG_@@bidi_start_edge__: 100%;
  margin-__MSG_@@bidi_start_edge__: 10px; /* distance from parent */
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  visibility: hidden;

  box-shadow: 0px 0px 16px 10px #3b3b3b52;
}
.tooltiptext.tooltiptextleft {
  __MSG_@@bidi_start_edge__: auto;
  top: -3px;
  transform: none;
  __MSG_@@bidi_end_edge__: 100%;
  margin-__MSG_@@bidi_start_edge__: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  __MSG_@@bidi_end_edge__: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border: 5px solid transparent;
  border-__MSG_@@bidi_end_edge__-color: black;
  white-space: normal;
}
.tooltip .tooltiptext.tooltiptextleft::after {
  __MSG_@@bidi_end_edge__: auto;
  top: 15px;
  __MSG_@@bidi_start_edge__: 100%;
  border-__MSG_@@bidi_end_edge__-color: transparent;
  border-__MSG_@@bidi_start_edge__-color: black;
}

.tooltiptext:hover .tooltiptext:after {
  visibility: visible;
}
