root = true

[*]
end_of_line = auto ; As long as Git auto-converts line endings to LF on commit, we don't have to set our preferred line ending here
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.svg]
insert_final_newline = false

[.github/ISSUE_TEMPLATE/*.md]
trim_trailing_whitespace = false
