# Please also update the paths listed on .github/workflows/format-code.yml.

libraries/thirdparty/*
*.md

addons-l10n/*/*.json
!addons-l10n/en/*.json

_locales/*/messages.json
!_locales/en/messages.json

.github/*
!.github/*.mjs
