:root {
  --brand-orange-min-font-weight: 600;
  --green-text: var(--green);
  --blue-text: var(--blue);

  --page-background: #efefef;
  --content-background: #ffffff;
  --navigation-background: #f3f3f3;
  --search-toolbar-background: #eeeeee;
  --button-background: #e8e8e8;
  --button-hover-background: #dcdcdc;
  --tab-hover-underline: #c8c8c8;
  --input-background: #e6e6e6;
  --search-input-background: #ffffff;
  --switch-inner-background: var(--content-text);
  --tooltip-background: #f1f1f1;
  --comment-background: #f3f3f3;
  --admin-comment-background: #ffffff7a;
  --unread-comment-background: #e4e4e4;
  --unread-comment-border: inset 0px 0px 0px 2px #f3f3f3;
  --notice-background: var(--yellow-opacity50);
  --notice-text: #222;
  --notice-icon-filter: none;
  --warning-background: var(--red);
  --warning-border: var(--red-variant);
  --info-border: var(--content-border);
  --update-background: rgba(177, 23, 248, 0.1);
  --update-border: rgba(177, 23, 248, 0.2);
  --update-text: #222;

  --hover-highlight: rgba(0, 0, 0, 0.05);
  --hover-highlight-reduced: rgba(0, 0, 0, 0.02);
  --hover-darken: var(--hover-highlight);
  --sel-darken: rgba(0, 0, 0, 0.08);

  --content-border: #cfcfcf;
  --content-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  --searchbox-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  --content-separator: #aaa;
  --control-border: #aaa;

  --content-text: #222;
  --content-icon-filter: brightness(0);
  --description-text: #444;
  --description-icon-filter: brightness(0) invert(0.27);
  --label-text: #555;
  --gray-text: #a1a1a1;
}
