:root {
  --orange: #ff7b26;
  --orange-opacity15: rgba(255, 123, 38, 0.15);
  --orange-opacity20: rgba(255, 123, 38, 0.2);
  --orange-opacity35: rgba(255, 123, 38, 0.35);
  --orange-opacity60: rgba(255, 123, 38, 0.6);
  --orange-variant: #d96111;
  --orange-min-font-weight: normal;
  --yellow: #fddd2b;
  --yellow-opacity25: rgba(253, 221, 43, 0.25);
  --yellow-opacity50: rgba(253, 221, 43, 0.5);
  --yellow-variant: #fdab12;
  --blue: #175ef8;
  --blue-variant: #0e44b8;
  --blue-text: #1aa0d8;
  --red: #fd2b2b;
  --red-opacity75: rgba(253, 43, 43, 0.75);
  --red-variant: #d81212;
  --black-text: #222;
  --white-text: #fff;

  --brand: var(--orange);
  --page-background: #222;
  --content-background: #2a2a2a;
  --navigation-background: #333;
  --search-toolbar-background: #2a2a2a;
  --button-background: #222;
  --button-hover-background: #1a1a1a;
  --input-background: #222;
  --search-input-background: #111;
  --switch-background: #111;
  --switch-inner-background: #aaa;
  --tooltip-background: #000;
  --comment-background: #222;
  --unread-comment-background: #000;
  --notice-background: var(--navigation-background);
  --notice-border: var(--yellow-opacity50);
  --notice-text: #fff;
  --warning-background: var(--red-opacity75);
  --warning-border: var(--red);
  --warning-text: #fff;
  --info-border: var(--content-separator);
  --update-background: var(--navigation-background);
  --update-border: var(--orange-opacity60);
  --update-text: #fff;
  --badge-background: #aaa;
  --badge-border: rgba(0, 0, 0, 0.2);
  --badge-text: #222;

  --modal-overlay: rgba(0, 0, 0, 0.65);
  --hover-highlight: rgba(255, 255, 255, 0.05);
  --hover-highlight-reduced: rgba(255, 255, 255, 0.02);
  --hover-darken: rgba(0, 0, 0, 0.1);

  --large-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --large-shadow-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  --content-border: #333;
  --content-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  --content-separator: #808080;
  --control-border: #000;
  --input-focus-shadow: 0 0 0 3px var(--orange-opacity35);
  --fullscreen-popup-shadow: 0 -1px 7px rgba(0, 0, 0, 0.2);

  --content-text: #fff;
  --description-text: #ddd;
  --label-text: #aaa;
  --gray-text: #808080;
  --placeholder-text: #777;
}
