img {
  border-radius: calc(var(--roundedThumbs-roundSize) * 1px);
}

.gallery.thumb span.image {
  border-radius: calc(var(--roundedThumbs-roundSize) * 1.35px);
}

#profile-box .player {
  border-radius: calc(var(--roundedThumbs-roundSize) * 1px);
}