.sa-onion-group-container {
  display: flex;
  flex-direction: row;
}

.sa-onion-button[data-enabled="true"] {
  background-color: #4c97ff;
}

.sa-onion-settings {
  position: absolute;
  bottom: 0;
  right: 24px;
  /* based on the styles for the color dropdown */
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .3);
  transition-property: bottom, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  pointer-events: none;
  /* TODO: dark mode */
  background: white;
  color: black;
}

.sa-onion-settings[data-visible="true"] {
  bottom: 24px;
  pointer-events: auto;
  opacity: 1;
}

[dir="rtl"] .sa-onion-settings {
  right: initial;
  left: 24px;
}

.sa-onion-settings-group {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.sa-onion-settings-header {
  text-align: center;
  font-weight: bold;
}

.sa-onion-settings input[type="number"] {
  width: 40px;
  box-sizing: border-box;
}

/* TODO: more clear indication of valid/invalid inputs */
