.sa-onion-group-container {
  display: flex;
  flex-direction: row; /* TODO: check how this looks in RTL*/
}

.sa-onion-button[data-enabled="true"] {
  background-color: #4C97FF;
}

.sa-onion-settings {
  position: absolute;
  background: white;
  bottom: 24px;
  right: 24px;
  width: 250px;
  height: 100px;
  border: 1px solid black;
}
