.sa-onion-group-container {
  display: flex;
  flex-direction: row;
}

.sa-onion-button[data-enabled="true"] {
  background-color: #4c97ff;
}

.sa-onion-settings {
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 1px;
  border: 1px solid black;
  /* TODO: dark mode */
  background: white;
  color: black;
}

[dir="rtl"] .sa-onion-settings {
  right: initial;
  left: 24px;
}

.sa-onion-settings-group {
  display: flex;
  justify-content: flex-end;
}

.sa-onion-settings-header {
  text-align: center;
  font-weight: bold;
}

.sa-onion-settings input[type="number"] {
  width: 40px;
  box-sizing: border-box;
}

/* TODO: more clear indication of valid/invalid inputs */
