[dir="ltr"] .sa-debugger-container {
  margin-right: 0.2rem;
}

[dir="rtl"] .sa-debugger-container {
  margin-left: 0.2rem;
}

.sa-debugger-small .sa-debugger-container {
  display: none !important;
}

.sa-debugger-interface {
  display: none;
  position: absolute;
  z-index: 492;
  background-color: white;
  width: 565px;
  height: 25rem;
}

.sa-debugger-interface h1 {
  padding: 10px;
  z-index: 10;
  width: calc(100% - 20px);
  font-size: 20px;
}

.sa-debugger-tabs {
  margin-top: auto !important;
}
.sa-debugger-tabs img {
  margin-right: 0.2rem;
}

.sa-debugger-unpause {
  animation: saDebuggerUnpause 2s infinite alternate;
}
.sa-debugger-unpause > img {
  width: 20px;
  height: 20px;
}
@keyframes saDebuggerUnpause {
  0% {
    background-color: rgba(0, 0, 0, 0.15);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.sa-debugger-tab-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: default;
}

.sa-debugger-chart {
  width: 100%;
  height: 100%;
}

.sa-debugger-log-outer {
  height: 100%;
}

.sa-debugger-log-inner {
  position: relative;
  overflow-y: auto;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.2;
  height: 100%;
  contain: strict;
}

.sa-debugger-log-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.sa-debugger-log-end {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.sa-debugger-log {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 4px;
}
.sa-debugger-log[data-type="warn"] {
  border-color: hsl(50deg, 100%, 75%);
  color: hsl(39deg 100% 18%);
  background-color: hsl(50deg 100% 95%);
}
.sa-debugger-log[data-type="error"] {
  border-color: hsl(0deg 100% 92%);
  color: red;
  background-color: hsl(0deg 100% 95%);
}

.sa-debugger-log-repeats {
  background-color: hsla(163, 85%, 40%, 1);
  color: white;
  border-radius: 100px;
  padding: 1px 6px;
  margin-right: 4px;
}

.sa-debugger-log-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
[data-type="warn"] .sa-debugger-log-icon {
  background-image: url(./icons/warning.svg);
}
[data-type="error"] .sa-debugger-log-icon {
  background-image: url(./icons/error.svg);
}
.sa-debugger-threads .sa-debugger-log-icon {
  background-image: url(./icons/subthread.svg);
}

.sa-debugger-log-link {
  color: inherit;
  cursor: pointer;
  opacity: 0.5;
  text-decoration: underline;
  float: right;
  text-align: right;
  max-width: 100%;
  padding-left: 4px;
  margin-right: 4px;
  margin-left: auto;
}
.sa-debugger-log-link:hover {
  text-decoration: underline;
  color: #4d97ff;
  opacity: 1;
}
.sa-debugger-log-link-unknown {
  pointer-events: none;
}

.sa-debugger-log-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.sa-debugger-log-body-empty {
  font-style: italic;
}
.sa-debugger-log-internal .sa-debugger-log-body {
  font-style: italic;
}

.sa-debugger-thread-target-name {
  font-weight: bold;
  margin-right: 8px;
}
.sa-debugger-thread-target-id {
}
.sa-debugger-thread-running {
  background-color: rgba(255, 187, 0, 0.233);
  font-weight: bold;
}

.sa-debugger-input-block {
  color: white;
  border-radius: 100px;
  padding: 1px 6px;
  margin-right: 4px;
}

.sa-debugger-stacked-block {
  padding: 1px 6px;
  border-radius: 3px;
  color: white;
  margin-right: 4px;
}
