.blocklyDropDownDiv .goog-menuitem-highlight,
.blocklyDropDownDiv .goog-menuitem-hover,
.blocklyDropDownDiv .blocklyMenu .blocklyMenuItem:hover,
.blocklyDropDownDiv .blocklyMenu .u-dropdown-selected-item,
.sa-contextmenu-colored .blocklyContextMenu .goog-menuitem-highlight,
.sa-contextmenu-colored .blocklyContextMenu .blocklyMenuItem:hover {
    background-color: rgba(256,256,256,0.68);
    color:black;
}

.blocklyDropDownDiv {
    padding:0;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.75);
    border-radius:0;
    border:0;
    transform:none !important;
    transition: none !important;
}

.goog-menuitem-checkbox {
    display:none !important;
}
.blocklyDropDownArrow {
    display:none;
}

.blocklyDropDownDiv .blocklyMenuItem,
.blocklyDropDownDiv .goog-menuitem,
.blocklyDropDownDiv .goog-option {
    padding: 0px;
    padding-left:22px;
    padding-right:12px;
    line-height:22px;
    font-weight:lighter;
    font-size:13px;
	min-height: 22px !important;
	margin:0;
}

/* Search bar addon support */
.u-dropdown-searchbar, .u-dropdown-searchbar:active, .u-dropdown-searchbar:hover{
	padding:2px;
	color:black !important;
	transition: none !important;
	background-color:white !important;
	border-radius:0px;
	font-weight:normal;
	font-size:12px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	min-width:auto;
	border: 0;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
}
.u-dropdown-searchbar::selection {
	background-color: Highlight;
	color: HighlightText;
}