:root {
  --dropdown-input-scratch2-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  --dropdown-check-display-style: block;
}

.blocklyDropDownDiv .goog-menuitem-highlight,
.blocklyDropDownDiv .goog-menuitem-hover,
.blocklyDropDownDiv .blocklyMenu .blocklyMenuItem:hover,
.blocklyDropDownDiv .blocklyMenu .u-dropdown-selected-item {
  background-color: rgba(256, 256, 256, 0.6);
  color: black;
}
.blocklyDropDownDiv {
  padding: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 0;
  border: 0;
  transform: none !important;
  transition: none !important;
  overflow: hidden;
}

.blocklyDropDownContent {
  scrollbar-width: none;
}
.blocklyDropDownContent::-webkit-scrollbar {
  display: none;
}

.blocklyDropDownContent .goog-menuitem-checkbox.goog-menuitem-checkbox {
  display: var(--dropdown-check-display-style);
  height: 22px;
  width: 22px;
  background: url("images/check_mark.png") !important;
  left: 0;
  margin: 0 0 0 -22px;
}
.blocklyDropDownArrow {
  display: none;
}

.blocklyDropDownDiv .blocklyMenuItem,
.blocklyDropDownDiv .goog-menuitem,
.blocklyDropDownDiv .goog-option {
  padding: 0px;
  padding-left: 22px;
  padding-right: 12px;
  line-height: 22px;
  font-weight: lighter;
  font-size: 13px;
  min-height: 22px !important;
  margin: 0;
}

/* Scroll arrows */
.dropdownArrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Search bar addon support */
.u-dropdown-searchbar,
.u-dropdown-searchbar:active,
.u-dropdown-searchbar:hover {
  padding: 2px;
  color: black !important;
  transition: none !important;
  background-color: white !important;
  border-radius: 0px;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  min-width: auto;
  border: 0;
  box-shadow: var(--dropdown-input-scratch2-shadow);
}
.u-dropdown-searchbar::selection {
  background-color: Highlight;
  color: HighlightText;
}
