.sa-forum-toolbar {
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
}

.sa-forum-toolbar a {
  background-size: 20px;
}

.sa-forum-toolbar-dropdown {
  background-size: 16px !important;
}

.sa-forum-toolbar-dropdown > a {
  width: 16px !important;
}

.sa-forum-toolbar-dropdown ul li {
  height: 20px;
  width: initial !important;
  min-width: 120px;
  background-position: 0% 0%;
  background-size: 20px;
}

.sa-forum-toolbar-dropdown ul li a {
  padding: 0 5px 0 25px;
}

.sa-forum-toolbar-link {
  background-image: unset !important;
}

.sa-forum-toolbar-link > a {
  background-image: url(./link.svg);
}

.sa-forum-toolbar-center a {
  background-image: url(./center.svg);
}

.sa-forum-toolbar-wp a,
.sa-forum-toolbar-wiki a {
  background-image: url(./wp.svg);
}

.sa-forum-toolbar-google a {
  background-image: url(./google.svg);
}

.sa-forum-toolbar-dictionary a {
  background-image: url(./dictionary.svg);
}

.sa-forum-toolbar-code a {
  background-image: url(./code.svg);
}

.sa-forum-toolbar-color a {
  background-image: url(./color.svg);
}
