.layers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.layer {
  border: black solid 2px;
  border-radius: 5px;
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.paint-layers-icon:not(.selected) {
  filter: saturate(0);
}