.sa-custom-zoom-area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 148px;
  --sa-custom-zoom-area-height: 148px;
  z-index: 1;
}
.blocklyZoom > * {
  transition: transform var(--sa-custom-zoom-speed, 0) ease-in-out;
}
.sa-custom-zoom-area:not(:hover) + .blocklySvg.sa-custom-zoom-autohide .blocklyZoom * {
  transform: translateX(80px);
}
