/* removing cat ears */
.avatar-badge-wrapper{
    all: revert;
}
/* Several things need this and it doesn't break anything so it will stay here */
.comment .avatar {
    box-shadow: 0px 0px 0px 1px rgba(77,151,255,.25) !important
}
