.sa-show-trash div[class*="target-pane_target-pane_"]:hover button[class*="delete-button_delete-button_"],
.sa-show-trash aside[class*="selector_wrapper_"]:hover button[class*="delete-button_delete-button_"] {
  display: block !important;
}
