.sa-show-trash [class*="target-pane_target-pane_"]:hover [class*="delete-button_delete-button_"],
.sa-show-trash [class*="selector_wrapper_"]:hover [class*="delete-button_delete-button_"] {
  display: block !important;
}
