.user-info > .avatar {
  margin-right: 0 !important;
}
.user-info > .profile-name {
  display: none;
}

.sa-profile-name {
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 0px;
  padding-bottom: 15px;
}

.sa-compact-profile-icon {
  margin-right: 0px !important;
}
