.categories-block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  background: var(--navigation-background);
  min-width: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-text) transparent;
  padding: 20px 0;
}
