.sa-volume {
  /* Same lateral padding as .clone-container-container */
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.sa-vol-slider-small .sa-volume {
  display: none !important;
}

.sa-volume > * {
  vertical-align: middle;
  margin-top: 6px;
  user-select: none;
}

.sa-volume input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background-color: #de91de;
  margin-left: 3px;
}

.sa-volume input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cf63cf;
}

.sa-volume input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #cf63cf;
}
