<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />

    <!-- Preload styles -->
    <link rel="preload" href="../styles/colors-light.css" as="style" />
    <link rel="preload" href="style.css" as="style" />

    <!-- Preload font -->
    <link rel="preload" href="../../libraries/thirdparty/Sora.css" as="style" />
    <link rel="preload" href="../../libraries/thirdparty/Roboto.css" as="style" />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Sora/latin-ext.400.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Sora/latin-ext.600.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Sora/latin.400.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Sora/latin.600.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Roboto/latin-ext.400.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Roboto/latin-ext.500.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Roboto/latin-ext.700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Roboto/latin.400.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Roboto/latin.500.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="../../libraries/thirdparty/Roboto/latin.700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <!-- Preload index.js imports -->
    <link rel="modulepreload" href="../../libraries/common/cs/download-blob.js" />
    <link rel="modulepreload" href="../rtl-list.js" />
    <link rel="modulepreload" href="../../libraries/common/load-vue-components.js" />
    <link rel="modulepreload" href="../../libraries/thirdparty/cs/fuse.esm.min.js" />
    <link rel="modulepreload" href="data/tags.js" />
    <link rel="modulepreload" href="data/addon-groups.js" />
    <link rel="modulepreload" href="data/categories.js" />
    <link rel="modulepreload" href="data/example-manifest.js" />
    <link rel="modulepreload" href="data/fuse-options.js" />

    <!-- Preload images -->
    <link rel="preload" href="../../images/icons/menu.svg" as="image" />
    <link rel="preload" href="../../images/icon-transparent.svg" as="image" />
    <link rel="preload" href="../../images/icons/list.svg" as="image" />
    <link rel="preload" href="../../images/icons/puzzle.svg" as="image" />
    <link rel="preload" href="../../images/icons/player.svg" as="image" />
    <link rel="preload" href="../../images/icons/web.svg" as="image" />
    <link rel="preload" href="../../images/icons/brush.svg" as="image" />
    <link rel="preload" href="../../images/icons/popup.svg" as="image" />
    <link rel="preload" href="../../images/icons/users.svg" as="image" />
    <link rel="preload" href="../../images/icons/translate.svg" as="image" />
    <link rel="preload" href="../../images/icons/comment.svg" as="image" />
    <link rel="preload" href="../../images/icons/wrench.svg" as="image" />
    <link rel="preload" href="../../images/icons/search.svg" as="image" />
    <link rel="preload" href="../../images/icons/expand.svg" as="image" />

    <!-- Preload components -->
    <link rel="preload" href="components/picker-component.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/picker-component.js" />
    <link rel="preload" href="components/reset-dropdown.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/reset-dropdown.js" />
    <link rel="preload" href="components/addon-setting.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/addon-setting.js" />
    <link rel="preload" href="components/addon-tag.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/addon-tag.js" />
    <link rel="preload" href="components/addon-group-header.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/addon-group-header.js" />
    <link rel="preload" href="components/addon-body.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/addon-body.js" />
    <link rel="preload" href="components/category-selector.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/category-selector.js" />
    <link rel="preload" href="components/modal.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/modal.js" />
    <link rel="preload" href="components/previews/compact-messages.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/previews/compact-messages.js" />
    <link rel="preload" href="components/previews/dark-www.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/previews/dark-www.js" />
    <link rel="preload" href="components/previews/editor-dark-mode.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/previews/editor-dark-mode.js" />
    <link rel="preload" href="components/previews/palette.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/previews/palette.js" />
    <link rel="preload" href="components/previews/stage-monitor.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/previews/stage-monitor.js" />
    <link rel="preload" href="components/previews/stage-monitor-preset.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/previews/stage-monitor-preset.js" />
    <link rel="preload" href="components/previews/workspace-dots.html" as="fetch" crossorigin />
    <link rel="modulepreload" href="components/previews/workspace-dots.js" />

    <script src="../set-lang.js" type="module"></script>
    <script src="../check-unsupported.js" defer></script>
    <script src="../error/check-chrome-storage.js" defer></script>

    <style>
      /*
       * Imports are here to attempt to speed up load. Also, it means licenses.html loads fewer unused styles, and this file doesn't get licenses.html's styles! In order of when it will be noticed/needed on the page
      */
      @import url("../styles/colors.css");
      @import url("../styles/components/badges.css");
      @import url("../styles/components/buttons.css");
      @import url("../styles/components/filter.css");
      @import url("../styles/components/categories.css");
      @import url("../styles/components/search.css");
      @import url("../styles/components/tooltips.css");
      /* Modals and popups are needed last */
      @import url("../styles/components/modal.css");
      @import url("../styles/components/enablepopup.css");
    </style>

    <link rel="icon" href="../../images/icon.png" id="favicon" />
    <link rel="stylesheet" href="style.css" />

    <link href="../../libraries/thirdparty/Sora.css" rel="stylesheet" />
    <link href="../../libraries/thirdparty/Roboto.css" rel="stylesheet" />
    <script src="../../libraries/thirdparty/vue.js" defer></script>
    <script src="../../libraries/thirdparty/color-picker.js" type="module"></script>
    <script src="../../libraries/thirdparty/sortable.min.js" type="module"></script>
    <script src="index.js" type="module"></script>
  </head>
  <body v-cloak :class="{light: theme}">
    <div class="navbar">
      <img
        src="../../images/icons/menu.svg"
        id="sidebar-toggle"
        class="header-button"
        :class="{sidebarToggleOpen: categoryOpen === true}"
        @click="sidebarToggle()"
        v-cloak
        v-show="smallMode"
        draggable="false"
      />
      <img src="../../images/icon-transparent.svg" class="logo" alt="Logo" draggable="false" />
      <h1 v-cloak>{{ msg("settings") }}</h1>
      <div @click="setTheme(!theme)" class="header-button header-end">
        <img v-cloak class="theme-switch" :src="themePath" draggable="false" />
      </div>
    </div>
    <div class="main">
      <div
        class="categories-block"
        v-click-outside="closesidebar"
        v-show="!isIframe"
        :class="{closed: categoryOpen === false, smallMode: smallMode === true}"
      >
        <category-selector v-for="category of categories" :category="category"></category-selector>

        <a
          v-cloak
          class="category"
          style="margin-top: auto"
          href="https://scratchaddons.com/credits/"
          :href="sidebarUrls.contributors"
          target="_blank"
        >
          <img src="../../images/icons/users.svg" draggable="false" />
          <span>{{ msg("credits") }} <img src="../../images/icons/popout.svg" draggable="false" /></span>
        </a>
        <a v-cloak class="category" href="https://scratchaddons.com/translate" target="_blank">
          <img src="../../images/icons/translate.svg" draggable="false" />
          <span>{{ msg("translate") }} <img src="../../images/icons/popout.svg" draggable="false" /></span>
        </a>
        <a
          v-cloak
          class="category"
          href="https://scratchaddons.com/feedback/"
          :href="sidebarUrls.feedback"
          target="_blank"
        >
          <img src="../../images/icons/comment.svg" draggable="false" />
          <span>{{ msg("feedback") }} <img src="../../images/icons/popout.svg" draggable="false" /></span>
        </a>
        <div v-cloak class="category" style="margin-top: 12px; margin-bottom: 14px" @click="openMoreSettings()">
          <img src="../../images/icons/wrench.svg" draggable="false" />
          <span>{{ msg("moreSettings") }}</span>
        </div>
      </div>
      <div v-show="!isIframe && smallMode === false" class="categories-shrink" @click="sidebarToggle()">
        <img
          src="../../images/icons/left-arrow.svg"
          :class="{flipped: categoryOpen === (direction() === 'rtl')}"
          draggable="false"
        />
      </div>

      <!-- This is the main menu, where the searchbar and the addon items are located -->
      <div class="addons-block">
        <div class="addons-block-header">
          <div v-if="!isIframe" class="category-header-title" v-cloak>
            <div v-if="relatedAddonsOpen" class="related-addons-header">
              <img
                src="../../images/icons/left-arrow.svg"
                class="back-button"
                draggable="false"
                @click="backRelatedAddon()"
              />
              <span>{{ msg("relatedTo", relatedToAddonName) }}</span>
            </div>
            <span v-else>{{ selectedCategoryName }}</span>
          </div>
          <div v-cloak class="search-box" v-if="!relatedAddonsOpen" :class="{smallMode: smallMode === true}">
            <input type="text" id="searchBox" :placeholder="searchMsg" v-model="searchInputReal" autofocus />
            <button v-show="searchInput === ''"><img src="../../images/icons/search.svg" class="search-icon" /></button>
            <button v-else @click="clearAndFocusSearch()">
              <img src="../../images/icons/x.svg" class="search-icon" />
            </button>
          </div>
        </div>

        <div class="addons-container" :class="{placeholder: !loaded}" v-cloak>
          <template v-if="searchInput && hasNoResults">
            <p id="search-not-found" v-if="selectedCategory === 'all' || !selectedCategoryName">
              {{ msg("searchNotFound") }}
            </p>
            <p id="search-not-found" v-else>{{ msg("searchNotFoundInCategory", selectedCategoryName) }}</p>
          </template>
          <template v-if="relatedAddonsOpen">
            <addon-body
              v-for="addonManifest of relatedAddons"
              :visible="true"
              :addon="addonManifest"
              group-id="enabled"
              :group-expanded="true"
            ></addon-body>
          </template>
          <template v-else>
            <div v-for="addon of addonList">
              <div
                id="iframe-fullscreen-suggestion"
                v-if="isIframe && addon.headerAbove && (hasNoResults || addon.group.id === 'enabled')"
                v-show="searchInput === ''"
              >
                <span>{{ msg("exploreAllAddons", [addonAmt]) }}</span>
                <button class="large-button" @click="openFullSettings()">{{ msg("openFullSettings") }}</button>
              </div>
              <addon-group-header
                v-if="addon.headerAbove"
                :group="addon.group"
                :shown-count="groupShownCount(addon.group)"
                :margin-above="groupMarginAbove(addon.group)"
              ></addon-group-header>
              <addon-body
                :visible="addon.matchesSearch && addon.matchesCategory"
                :addon="addon.manifest"
                :group-id="addon.group.id"
                :group-expanded="addon.group.expanded"
              ></addon-body>
            </div>
          </template>
        </div>
      </div>
    </div>
    <modal class="more-settings" :is-open.sync="moreSettingsOpen" :title="msg('moreSettings')" v-cloak>
      <div class="addon-block settings-block">
        <div class="addon-body">
          <div class="addon-topbar">
            <img src="../../images/icons/theme.svg" class="icon-type addon-icon" draggable="false" />
            <span class="addon-name-and-tags">{{ msg("scratchAddonsTheme") }}</span>
          </div>
          <div class="addon-settings">
            <span class="addon-description-full">{{ msg("scratchAddonsThemeDescription") }}</span>
            <div class="addon-setting">
              <div class="filter-selector">
                <div class="filter-text">{{ msg("theme") }}</div>
                <div class="filter-options">
                  <div class="filter-option" :class="{'sel': theme === true}" @click="setTheme(true)">
                    {{ msg("light") }}
                  </div>
                  <div class="filter-option" :class="{'sel': theme === false}" @click="setTheme(false)">
                    {{ msg("dark") }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="addon-body">
          <div class="addon-topbar">
            <img
              src="../../images/icons/import-export.svg"
              class="icon-type addon-icon"
              :class="{'dark': theme === false}"
              draggable="false"
            />
            <span class="addon-name-and-tags">{{ msg("exportAndImportSettings") }}</span>
          </div>
          <div class="addon-settings">
            <span class="addon-description-full">{{ msg("exportAndImportSettingsDescription") }}</span>
            <span class="addon-description-full">{{ msg("useBrowserSync") }}</span>
            <div class="addon-setting export-actions">
              <div class="export-actions-group">
                <button class="large-button" @click="exportSettings()">{{ msg("export") }}</button>
                <button class="large-button" @click="importSettings()">{{ msg("import") }}</button>
                <button class="large-button hidden-button" id="confirmImport">{{ msg("confirmImport") }}</button>
              </div>
              <div class="export-actions-group">
                <button class="large-button" @click="viewSettings()">{{ msg("viewSettings") }}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="addon-body">
          <div class="addon-topbar">
            <img src="../../images/icons/translate.svg" class="icon-type addon-icon" draggable="false" />
            <span class="addon-name-and-tags">{{ msg("language") }}</span>
          </div>
          <div class="addon-settings">
            <div class="addon-setting" style="margin-top: 0">
              <input
                type="checkbox"
                class="setting-input check"
                v-model="forceEnglishSetting"
                style="margin-inline-start: 0; margin-inline-end: 8px"
              />
              <span>Show addon names and descriptions in English</span>
              <div class="badge red">{{ msg("beta") }}</div>
              <button
                class="large-button"
                id="applyLanguageSettingsButton"
                v-show="forceEnglishSetting !== null && forceEnglishSetting !== this.forceEnglishSettingInitial"
                @click="applyLanguageSettings()"
                style="margin-inline-start: 16px"
              >
                {{ msg("applySettings") }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>
          {{ msg("extensionName") }}
          <a
            href="https://scratchaddons.com/changelog"
            :href="sidebarUrls.changelog"
            title="{{ msg('changelog') }}"
            target="_blank"
          >
            v{{ version }}</a
          >
        </p>
        <p>
          <a
            href="./licenses.html?libraries=icu-message-formatter,vue,color-picker-web-component,comlink,Sora,fuse,idb,sortable,Roboto"
            target="_blank"
            >{{ msg("libraryCredits") }}</a
          >
        </p>
      </div>
    </modal>
    <div class="popup" v-cloak v-show="showPopupModal">
      <div class="label">{{ msg("settingsPagePermission", addonToEnable ? addonToEnable.name : "") }}</div>
      <div>
        <button class="large-button" @click="openFullSettings()">{{ msg("openFullSettings") }}</button>
        <button class="large-button" @click="hidePopup()">{{ msg("skipOpenFullSettings") }}</button>
      </div>
    </div>
  </body>
</html>
