:root {
  --accent-1: #f7f7f7;
  --accent-2: #f7f7f7;
  --accent-3: #ecebeb;
  --accent-4: #555;
  --accent-5: #222;
}

.search-box {
  background: #fcfcfc;
}

.search-box input,
.search-box button {
  background-color: #f0f0f0;
}

.filter-options {
  background: #f0f0f0;
  border-color: #aaa;
}

.filter-option {
  border-right-color: #aaa;
}
.filter-option.sel {
  color: #fff;
}
.filter-option:hover {
  background: #e9e9e9;
}
.filter-option.sel:hover {
  background: #ff7b26;
}

.filter-option.sel.blue:hover {
  background: #175ef8;
}
.filter-option.sel.green:hover {
  background: #78fd2b;
  color: #333333;
}
.filter-option.sel.yellow:hover {
  background: #fddd2b;
  color: #333333;
}
.filter-option.sel.red:hover {
  background: #fd662b;
}
.filter-option.sel.darkgreen:hover {
  background: #00b1a8;
}

.addon-body {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.addon-body:target {
  animation: addonBlinkLight 2s 1;
}

@keyframes addonBlinkLight {
  10% {
    border: 1px solid #f7f7f7;
  }
  25% {
    border: 1px solid #7e7e7e;
  }
  50% {
    border: 1px solid #f7f7f7;
  }
  75% {
    border: 1px solid #7e7e7e;
  }
  100% {
    border: 1px solid #f7f7f7;
  }
}

.addon-description {
  color: #a1a1a1;
}

.addon-name > span:empty {
  background-color: #a1a1a1;
}

.addon-description-full,
.addon-credits {
  color: #111;
}

.addon-notice {
  background-color: rgba(253, 221, 43, 0.25);
}
.addon-notice img {
  filter: none;
}
.addon-warn {
  background-color: #fd2b2b;
  border-color: #d81212;
}

img :not(.navbar, .icon-type) {
  filter: invert(100%) brightness(0);
}
.icon-type,
.btn-dropdown img,
.categories-shrink img,
.category img,
.addon-group > span > img,
.addon-group > span:after {
  filter: invert(1) brightness(0);
}
.clickeable-area:hover .btn-dropdown {
  background: rgba(0, 0, 0, 0.05);
}

.category.sel {
  font-weight: 600;
}

.addon-credits a,
.addon-license a {
  color: #2a67eb;
}

.setting-input {
  border-color: #acacac;
}

.large-button {
  color: #000;
  background: #efefef;
  border-color: #acacac;
}
.large-button:hover:not([disabled]) {
  background: #aaaaaa;
}

.small-button {
  border-color: #666;
  color: #222;
}
.small-button:hover {
  background: #aaaaaa;
}

.switch {
  background: #888;
}
.switch::before {
  background: #fff;
}
.modal-content {
  background-color: #fcfcfc;
}
.close {
  filter: invert(1);
}

.setting-dropdown.open .clear-button,
.setting-dropdown li:hover {
  background: #aaa;
}
.setting-dropdown ul,
.setting-dropdown .reset-preview span {
  border-color: #acacac;
}

#running-page {
  background-color: #fff;
}

color-picker#picker {
  --color-picker-background-color: #fff !important;
  --color-picker-color: #222 !important;
}
