@import "../styles/colors-light.css";

.addon-notice {
  background-color: rgba(253, 221, 43, 0.25);
}
.addon-notice img {
  filter: none;
}
.addon-warn {
  background-color: var(--red);
  border-color: var(--red-variant);
}

.icon-type,
.btn-dropdown img,
.categories-shrink img,
.category img,
.addon-group > img,
.close {
  filter: brightness(0);
}

.category.sel {
  font-weight: 600;
}
