.media-item-content.not-shared .media-action {
  top: 20px !important;
}

.__share_button__ {
  position: relative;
  display: block;
  left: 20px;
}

.media-item-content.not-shared .media-trash {
  position: relative;
  float: none;
  top: 0;
  left: 20px;
}
