.media-item-content.not-shared .media-action {
  top: 20px;
}

.media-list {
  display: block !important;
  opacity: 1 !important;
}

.sa-justShared {
  animation: sa-STMS-fadeOut 1s;
  animation-fill-mode: forwards;
}

.sa-share-button {
  position: relative;
  display: block;
  left: 20px;
}

.media-item-content.not-shared .media-trash {
  position: relative;
  float: none;
  top: 0px;
  left: 20px;
}

@keyframes sa-STMS-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}
