.markItUpHeader > ul > li > a {
  margin: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: 20px;
  background-position: 0 0;
  border-radius: 0;
  filter: var(--darkWww-box-filter, none);
}
.markItUp .markItUpButton7 ul a,
.sa-forum-toolbar-link ul a {
  background-size: 20px;
  padding-left: 30px !important;
  filter: var(--darkWww-box-filter, none);
}

.markItUp .markItUpButton1 a {
  background-image: url(bold.svg) !important;
}
.markItUp .markItUpButton2 a {
  background-image: url(italic.svg) !important;
}
.markItUp .markItUpButton3 a {
  background-image: url(underlined.svg) !important;
}

.markItUp .markItUpButton4 a {
  background-image: url(strikethrough.svg) !important;
}

.markItUp .markItUpButton5 a {
  background-image: url(image.svg) !important;
}
.markItUp .markItUpButton6 a {
  background-image: url(link.svg) !important;
}

.markItUp .markItUpButton7 a {
  background-image: url(size.svg) !important;
}
.markItUp .markItUpButton8 a {
  background-image: url(bullet_list.svg) !important;
}
.markItUp .markItUpButton9 a {
  background-image: url(number_list.svg) !important;
}
.markItUp .markItUpButton10 a {
  background-image: url(list_item.svg) !important;
}

.markItUp .markItUpButton11 a {
  background-image: url(quote.svg) !important;
}
.markItUp .markItUpButton12 > a {
  background-image: url(smiley.svg) !important;
}
.markItUp .scratchblocks-button > a {
  background-image: url(scratchblocks.svg) !important;
}
.markItUp .browser-os-button a {
  background-image: url(computer.svg) !important;
}
.markItUp .clean a {
  background-image: url(clear.svg) !important;
}
.markItUp .preview a {
  background-image: url(done.svg) !important;
}

.sa-forum-toolbar-link > a {
  background-image: url(link.svg);
}
.sa-forum-toolbar-center a {
  background-image: url(center.svg);
}
.sa-forum-toolbar-wp a,
.sa-forum-toolbar-wiki a {
  background-image: url(wp.svg);
}
.sa-forum-toolbar-google a {
  background-image: url(google.svg);
}
.sa-forum-toolbar-dictionary a {
  background-image: url(dictionary.svg);
}
.sa-forum-toolbar-code a {
  background-image: url(code.svg);
}
.sa-forum-toolbar-color a {
  background-image: url(color.svg);
}

.markItUpHeader > ul > .markItUpDropMenu {
  margin: 0 !important;
  background: transparent !important;
}
.markItUpHeader > ul > .markItUpDropMenu::after {
  content: "";
  position: absolute;
  left: auto;
  right: -2px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-image: url(expand.svg);
  background-size: 100%;
  filter: var(--darkWww-box-filter, none);
  pointer-events: none;
}
.markItUpHeader > ul > .markItUpDropMenu > a {
  width: 21px;
}
.markItUpHeader ul ul {
  top: 22px !important;
}
