:root {
  --filledMaterialIcons: 0
}

.markItUpHeader > ul > li > a {
  width: 22px;
  height: 22px;
  background-size: 20px;
  background-position: 0 0;
  border-radius: 0;
  padding: 0;
  font-size: 0px;
}

.markItUp .markItUpButton a,
.markItUp .markItUpDropMenu ul li {
  background-image: none !important;
}

.markItUpHeader > ul > .markItUpButton > a > .materialIcon {
  font-size: 22px !important;
  bottom: 3px;
  position: absolute;
}

.markItUpDropMenu .markItUpButton .materialIcon {
  font-size: 20px;
  position: absolute;
  left: 4px;
  pointer-events: none;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(MaterialSymbolsOutlined.woff2) format('woff2');
}

.materialIcon {
  filter: var(--darkWww-box-filter);
  font-family: 'Material Symbols Outlined';
  color: black;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
  'FILL' var(--filledMaterialIcons),
  'wght' 400,
  'GRAD' 0,
  'opsz' 22;
}

.markItUpHeader ul a {
  text-indent: 0px !important;
}

.markItUp .markItUpButton7 ul a,
.sa-forum-toolbar-link ul a {
  background-size: 20px;
  padding-left: 30px !important;
  filter: var(--darkWww-box-filter, none);
}

.markItUpHeader > ul > .markItUpDropMenu {
  background: transparent !important;
}

.markItUpHeader > ul > .markItUpDropMenu > a > .dropMenuExpandButton {
  left: 16px;
  bottom: 4px;
  font-size: 16px;
  font-variation-settings:
  'FILL' var(--filledMaterialIcons),
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
  !important;
}

.markItUpHeader > ul > .markItUpDropMenu a > .subDropMenuExpandButton {
  display: inline-block;
  width: inherit;
  height: inherit;
  text-align: right;
  font-size: 16px;
  font-variation-settings:
  'FILL' var(--filledMaterialIcons),
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
  !important;
}

.markItUpHeader > ul > .markItUpDropMenu > a {
  width: 26px;
}