@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(MaterialSymbolsOutlined.woff2) format('woff2');
}

.markItUpHeader > ul > .markItUpButton > a::after {
  content: attr(iconName);
  font-size: 22px !important;
  filter: var(--darkWww-box-filter);
  font-family: 'Material Symbols Outlined';
  color: black;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
  'FILL' var(--materialForumEditorButtons-iconStyle),
  'wght' 400,
  'GRAD' 0,
  'opsz' 22;
  bottom: 3px;
  position: absolute;
}

.markItUpHeader > ul > .markItUpDropMenu:not(.markItUpButton12, .markItUpButton14) > ul > .markItUpButton > a::before {
  content: attr(iconName);
  font-size: 20px;
  filter: var(--darkWww-box-filter);
  font-family: 'Material Symbols Outlined';
  color: black;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
  'FILL' var(--materialForumEditorButtons-iconStyle),
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  left: 4px;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

.markItUpHeader > ul > .markItUpDropMenu > a::after {
  content: attr(iconName)"expand_more";
  letter-spacing: -5px !important;
}

.markItUpHeader > ul > .markItUpButton > a {
  width: 22px;
  height: 22px;
  background-size: 20px;
  background-position: 0 0;
  border-radius: 0;
  padding: 0;
  font-size: 0px;
}

.markItUpHeader > ul > .markItUpButton > a,
.markItUpDropMenu:not(.markItUpButton12) ul a,
.markItUpButton14 > ul > li
{
  background-image: none !important;
}

.markItUpHeader ul a {
  text-indent: 0px !important;
}

.markItUpDropMenu:not(.markItUpButton12, .markItUpButton14) > ul > li > a {
  padding-left: 30px !important;
}

.markItUpHeader > ul > .markItUpDropMenu {
  background: transparent !important;
  margin-right: 0 !important;
}

.markItUpDropMenu > ul > .markItUpDropMenu > a::before {
  content: "chevron_right";
  filter: var(--darkWww-box-filter);
  font-family: 'Material Symbols Outlined';
  color: black;
  display: inline-block;
  position: absolute;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
  'FILL' var(--materialForumEditorButtons-iconStyle),
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  font-size: 20px;
  width: inherit;
  text-align: right;
}

.markItUpHeader > ul > .markItUpDropMenu > a {
  width: 34px;
}

/* These have to be in the userstyle because forum-toolbar and image-uploader load after material-forum-editor-buttons is done */

.markItUpButton17 > a::after {
  content: "file_upload" !important;
}

.sa-forum-toolbar-color > a::after {
  content: "palette" !important;
}

.sa-forum-toolbar-center > a::after {
  content: "format_align_center" !important;
}

.sa-forum-toolbar-code > a::after {
  content: "code" !important;
}

.sa-forum-toolbar-link > a::after {
  content: "add_linkexpand_more" !important;
}