.gamepadlib-selector {
  width: 100%;
  margin-bottom: 3px;
}

.gamepadlib-mapping {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.gamepadlib-mapping-label {
  width: 100px;
  text-align: center;
}

.gamepadlib-keyinput {
  text-align: center;
  width: 75px;
  height: 25px;
  border-radius: 0;
  border: 1px solid black;
  background: white;
  color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.gamepadlib-mapping[data-value="1"] .gamepadlib-keyinput {
  background: yellow;
}
.gamepadlib-keyinput[data-accepting-input="true"] {
  background: #d6fff9;
}
.gamepadlib-keyinput[data-type="none"]:not([data-accepting-input="true"]) {
  color: #aaa;
  font-style: italic;
}
