.sa-gamepad-popup {
  box-sizing: border-box;
  width: 700px;
  max-height: min(800px, 80vh);
  height: 100%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.sa-gamepad-popup-content {
  background-color: white;
  padding: 1.5rem 2.25rem;
  height: 100%;
  overflow-y: auto;
}

.sa-gamepad-cursor-container {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  will-change: transform;
}

.sa-gamepad-cursor-image {
  display: block;
  transform: translate(-50%, -50%);
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
