.u-progress-bar-outer {
  width: 100%;
  height: 5px;
  box-sizing: border-box;
  border: 1px solid white;
}
.u-progress-bar-inner {
  width: 0;
  height: 100%;
  background-color: white;
}

.u-progress-bar-loading {
  width: 250px;
}
.u-progress-bar-caption {
  margin: 5px 0;
  height: 20px;
}

.u-progress-bar-saving {
  margin-top: 2px;
}
