.u-progress-bar-outer {
  width: 100%;
  height: 5px;
  box-sizing: border-box;
}
.u-progress-bar-inner {
  width: 0;
  height: 100%;
  background-color: white;
}

.u-progress-bar-saving {
  position: fixed;
  z-index: 10000000; /* a lot */
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  transition: opacity 0.2s;
}
.u-progress-bar-saving .u-progress-bar-inner {
  transition: width 0.2s;
}

.u-progress-bar-loading {
  border: 1px solid white;
}
.u-progress-bar-caption {
  margin: 5px 0;
  height: 20px;
}
