.sa-editormessages {
  display: block;
  position: relative;
  background: url(https://scratch.mit.edu/images/nav-notifications.png) no-repeat center center;
  background-size: 37.5%;
  padding: 0 0.75rem;
  width: 1.7rem;
  height: 100%;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: none;
}

.sa-editormessages:hover {
  background-color: hsla(0, 0%, 0%, 0.15);
}

.sa-editormessages-count {
  display: block;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
  border-radius: 1rem;
  background-color: #ffab1a;
  padding: 0 0.25rem;
  line-height: 1rem;
  color: white;
  font-size: 0.7rem;
  text-align: center;
}
