.sa-editormessages {
  background-image: url(https://scratch.mit.edu/images/nav-notifications.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 45%;
  padding-right: 10px;
  padding-left: 10px;
  width: 30px;
  overflow: hidden;
  text-indent: 50px;
  white-space: nowrap;
  display: block;
  padding: 13px 15px 4px 15px;
  height: 33px;
  text-decoration: none;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
}

.sa-editormessages:hover {
  background-color: hsla(0, 0%, 0%, 0.15);
}

.sa-editormessages-count {
  display: block;
  border-radius: 1rem;
  background-color: #ffab1a;
  padding: 0 0.25rem;
  text-indent: 0;
  line-height: 1rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 19px;
  height: 15px;
  width: 8px;
  position: relative;
  text-align: center;
}
