.project-loves {
  font-size: 0;
  padding: 0;
}

.project-loves.stat-display {
  font-size: 16px;
}

#sa-love-label {
  padding-left: -0.5rem;
  font-size: 16px;
  font-weight: 700;
  padding-right: 2rem;
}

.thumbnail .thumbnail-loves {
  display: none;
}
