.forum-search-list {
  max-height: 50vh;
  overflow-y: scroll;
  padding: 10px;
  padding-top: 20px;
}

.forum-search-list.show {
  display: block !important;
}

.forum-search-list .blockpost .box-head a {
  display: inline-block;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post_body_html img {
  max-width: 100%;
}

#forum-search-input,
#forum-search-filter-input {
  flex: 1 0 0;
  margin-right: 0.25rem;
}

#forum-search-dropdown {
  flex: 0 1 15%;
  margin-right: 0.25rem;
}

#forum-search-form {
  padding: 6px 20px;
  display: flex;
  background: white;
  border-top: 1px solid #e0e0e0;
}

#forum-search-form .button {
  margin: 0;
  height: auto;
  line-height: 18px;
}
