svg[class*="scratchblocks-style-scratch3"] .sb3-motion,
svg[class*="scratchblocks-style-scratch3"] .sb3-looks,
svg[class*="scratchblocks-style-scratch3"] .sb3-sound,
svg[class*="scratchblocks-style-scratch3"] .sb3-events,
svg[class*="scratchblocks-style-scratch3"] .sb3-control,
svg[class*="scratchblocks-style-scratch3"] .sb3-sensing,
svg[class*="scratchblocks-style-scratch3"] .sb3-operators,
svg[class*="scratchblocks-style-scratch3"] .sb3-variables,
svg[class*="scratchblocks-style-scratch3"] .sb3-list,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom-arg,
svg[class*="scratchblocks-style-scratch3"] .sb3-extension,
svg[class*="scratchblocks-style-scratch3"] .sb3-grey,
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete {
  fill: var(--sa-block-color);
  stroke: rgba(0, 0, 0, 0.2);
}

svg[class*="scratchblocks-style-scratch3"] .sb3-motion-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-looks-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-sound-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-events-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-control-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-sensing-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-operators-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-variables-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-list-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-extension-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-grey-alt,
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete-alt {
  fill: rgba(0, 0, 0, 0.1);
  stroke: rgba(0, 0, 0, 0.1);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-motion-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-looks-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-sound-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-events-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-control-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-sensing-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-operators-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-variables-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-list-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-extension-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-grey-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete-dark {
  fill: rgba(0, 0, 0, 0.2);
}

svg[class*="scratchblocks-style-scratch3"] .sb3-motion,
svg[class*="scratchblocks-style-scratch3"] .sb3-motion-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-motion ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-motionColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-looks,
svg[class*="scratchblocks-style-scratch3"] .sb3-looks-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-looks ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-looksColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-sound,
svg[class*="scratchblocks-style-scratch3"] .sb3-sound-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-sound ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-soundsColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-events,
svg[class*="scratchblocks-style-scratch3"] .sb3-events-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-events ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-eventsColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-control,
svg[class*="scratchblocks-style-scratch3"] .sb3-control-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-control ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-controlColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-sensing,
svg[class*="scratchblocks-style-scratch3"] .sb3-sensing-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-sensing ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-sensingColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-operators,
svg[class*="scratchblocks-style-scratch3"] .sb3-operators-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-operators ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-operatorsColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-variables,
svg[class*="scratchblocks-style-scratch3"] .sb3-variables-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-variables ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-dataColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-list,
svg[class*="scratchblocks-style-scratch3"] .sb3-list-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-list ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-dataListsColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-custom,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom ~ .sb3-label,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom-arg,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom-arg ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-customColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-extension,
svg[class*="scratchblocks-style-scratch3"] .sb3-extension-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-extension ~ .sb3-label {
  --sa-block-color: var(--editorTheme3-PenColor);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-grey,
svg[class*="scratchblocks-style-scratch3"] .sb3-grey-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-grey ~ .sb3-label {
  --sa-block-color: #bfbfbf;
}
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete,
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete ~ .sb3-label {
  --sa-block-color: #ed4242;
}

svg[class*="scratchblocks-style-scratch3"] .sb3-label,
#sb3-dropdownArrow-high-contrast path,
#sb3-loopArrow-high-contrast path,
#sb3-turnLeft-high-contrast path,
#sb3-turnRight-high-contrast path {
  fill: white;
}

.sb3-comment,
.sb3-comment-line {
  fill: var(--editorTheme3-commentColor);
  stroke: var(--editorTheme3-commentBorder);
}
svg[class*="scratchblocks-style-scratch3"] .sb3-label.sb3-comment-label {
  fill: var(--editorTheme3-commentText);
}

svg[class*="scratchblocks-style-scratch3"] .sb3-input.sb3-input-number,
svg[class*="scratchblocks-style-scratch3"] .sb3-input.sb3-input-string {
  fill: var(--editorTheme3-inputColor);
}
.sb3-input ~ .sb3-label.sb3-literal-number,
.sb3-input ~ .sb3-label.sb3-literal-string {
  fill: var(--editorTheme3-inputColor-text);
}

#sb3-dropdownArrow-high-contrast path {
  fill: white;
}
