svg .sb3-motion,
svg .sb3-looks,
svg .sb3-sound,
svg .sb3-events,
svg .sb3-control,
svg .sb3-sensing,
svg .sb3-operators,
svg .sb3-variables,
svg .sb3-list,
svg .sb3-custom,
svg .sb3-custom-arg,
svg .sb3-extension,
svg .sb3-grey,
svg .sb3-obsolete {
  stroke: rgba(0, 0, 0, 0.35);
}

svg .sb3-motion-alt,
svg .sb3-looks-alt,
svg .sb3-sound-alt,
svg .sb3-events-alt,
svg .sb3-control-alt,
svg .sb3-sensing-alt,
svg .sb3-operators-alt,
svg .sb3-variables-alt,
svg .sb3-list-alt,
svg .sb3-custom-alt,
svg .sb3-extension-alt,
svg .sb3-grey-alt,
svg .sb3-obsolete-alt {
  fill: rgba(255, 255, 255, 0.4);
  stroke: rgba(0, 0, 0, 0.4);
}
svg .sb3-motion-dark,
svg .sb3-looks-dark,
svg .sb3-sound-dark,
svg .sb3-events-dark,
svg .sb3-control-dark,
svg .sb3-sensing-dark,
svg .sb3-operators-dark,
svg .sb3-variables-dark,
svg .sb3-list-dark,
svg .sb3-custom-dark,
svg .sb3-extension-dark,
svg .sb3-grey-dark,
svg .sb3-obsolete-dark {
  fill: rgba(0, 0, 0, 0.35);
}

svg .sb3-motion ~ .sb3-label,
svg .sb3-looks ~ .sb3-label,
svg .sb3-sound ~ .sb3-label,
svg .sb3-events ~ .sb3-label,
svg .sb3-control ~ .sb3-label,
svg .sb3-sensing ~ .sb3-label,
svg .sb3-operators ~ .sb3-label,
svg .sb3-variables ~ .sb3-label,
svg .sb3-list ~ .sb3-label,
svg .sb3-custom ~ .sb3-label,
svg .sb3-custom-arg ~ .sb3-label,
svg .sb3-extension ~ .sb3-label,
svg .sb3-grey ~ .sb3-label,
svg .sb3-obsolete ~ .sb3-label,
#sb3-dropdownArrow path,
#sb3-loopArrow path[fill="#fff"],
#sb3-turnLeft path[fill="#fff"],
#sb3-turnRight path[fill="#fff"] {
  fill: black;
}

.sb3-input ~ .sb3-label.sb3-literal-number,
.sb3-input ~ .sb3-label.sb3-literal-string {
  fill: var(--editorTheme3-inputColor-blackText);
}

svg .sb3-obsolete,
svg .sb3-obsolete-dark,
svg .sb3-obsolete ~ .sb3-label {
  --sa-block-color: #fc6666;
}
