@import "%addon-self-dir%/forums/colored_text.css";

svg[class*="scratchblocks-style-scratch3"] .sb3-motion,
svg[class*="scratchblocks-style-scratch3"] .sb3-looks,
svg[class*="scratchblocks-style-scratch3"] .sb3-sound,
svg[class*="scratchblocks-style-scratch3"] .sb3-events,
svg[class*="scratchblocks-style-scratch3"] .sb3-control,
svg[class*="scratchblocks-style-scratch3"] .sb3-sensing,
svg[class*="scratchblocks-style-scratch3"] .sb3-operators,
svg[class*="scratchblocks-style-scratch3"] .sb3-variables,
svg[class*="scratchblocks-style-scratch3"] .sb3-list,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom,
svg[class*="scratchblocks-style-scratch3"] .sb3-custom-arg,
svg[class*="scratchblocks-style-scratch3"] .sb3-extension,
svg[class*="scratchblocks-style-scratch3"] .sb3-grey,
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete {
  fill: #282828;
}

.sb3-comment {
  fill: #282828;
  stroke: var(--editorTheme3-commentColor);
}

svg[class*="scratchblocks-style-scratch3"] .sb3-label,
svg[class*="scratchblocks-style-scratch3"] .sb3-label.sb3-comment-label {
  fill: white;
}

svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete,
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete-dark,
svg[class*="scratchblocks-style-scratch3"] .sb3-obsolete ~ .sb3-label {
  --sa-block-color: #fc6666;
}
