.desc-limit {
  font-size: 12px;
  font-weight: normal;
}

.project-textlabel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.project-notes .desc-limit {
  margin-left: auto;
}

.desc-limit.limit-hidden {
  animation: chLimitFadeOut 0.12s !important;
  display: none;
}

/* Take the place of the project preview toggle */
.desc-limit:not(.limit-hidden) ~ .sa-toggle-project-preview {
  display: none;
}

@keyframes chLimitFadeOut {
  from {
    display: revert;
    opacity: 1;
  }
  to {
    display: revert;
    opacity: 0;
  }
}
