.desc-limit {
  padding-left: 7px;
  font-size: 12px;
  font-weight: normal;
}

.studio-desc-limit {
  padding-top: 7px;
  font-size: 12px;
  font-weight: normal;
}

.limit-hidden {
  display: none !important;
}
