.scratchCategoryItemBubble::after {
  /* block-palette-icons */
  filter: brightness(0);
  opacity: 0.6;
}

.blocklyDropDownDiv .goog-menuitem {
  color: #575e75;
}
.blocklyDropDownDiv .blocklyText {
  fill: #575e75;
}
