.categoryBubble::after {
  /* block-palette-icons */
  filter: brightness(0);
  opacity: 0.6;
}

.u-dropdown-searchbar,
.u-dropdown-searchbar:focus,
.blocklyDropDownDiv .blocklyMenuItem,
.blocklyNumPadButton {
  color: #575e75;
}
.blocklyDropDownDiv.scratch-renderer.default-theme .blocklyText {
  /* "Play note" dropdown */
  fill: #575e75;
}
.u-dropdown-searchbar:focus {
  background-color: var(--editorTheme3-hoveredItem);
}

.blocklyAngleGauge,
.blocklyAngleCenterPoint {
  fill: black;
}
.blocklyAngleLine,
.blocklyAngleMarks,
.blocklyAngleCenterPoint {
  stroke: black;
}
.blocklyAngleDragHandle {
  stroke: black;
  stroke-opacity: 0.15;
  paint-order: stroke fill;
}

.blocklyComment .blocklyTextarea {
  background-color: #ffffff;
}
.blocklyComment {
  --colour-commentBorder: var(--editorTheme3-commentColor);
}
.blocklyCommentTopbarBackground {
  fill: #e9eef2;
}
.scratch-renderer.default-theme .blocklyComment .blocklyTextarea {
  fill: #575e75;
  color: #575e75;
}

.blocklyCommentTopbar > image {
  filter: brightness(0);
}

/* Compatibility */

.sa-block-color {
  --sa-block-colored-background: var(--sa-block-background-secondary);
  --sa-block-colored-background-secondary: var(--sa-block-field-background);
  --sa-block-bright-background: var(--sa-block-background-tertiary);
  --sa-block-text: var(--sa-block-background-tertiary);
  --sa-block-gray-text: #575e75;
  --sa-block-colored-text: var(--sa-block-background-tertiary);
  --sa-block-text-on-bright-background: white;
}
