.scratchCommentRect {
  fill: var(--editorTheme3-commentColor);
}
.scratchCommentBody,
.scratchCommentTextarea {
  background-color: var(--editorTheme3-commentColor);
}
.scratchCommentTextarea::placeholder {
  color: var(--editorTheme3-commentText);
  opacity: 0.5;
}
.scratchCommentText {
  fill: var(--editorTheme3-commentText);
  color: var(--editorTheme3-commentText);
}
