.blocklyInsertionMarker .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-customColor) !important;
  fill-opacity: 0.4 !important;
}

.blocklyInsertionMarker[data-category="motion"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-motionColor) !important;
}

.blocklyInsertionMarker[data-category="looks"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-looksColor) !important;
}

.blocklyInsertionMarker[data-category="sounds"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-soundsColor) !important;
}

.blocklyInsertionMarker[data-category="events"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-eventsColor) !important;
}

.blocklyInsertionMarker[data-category="control"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-controlColor) !important;
}

.blocklyInsertionMarker[data-category="sensing"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-sensingColor) !important;
}

.blocklyInsertionMarker[data-category="operators"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-operatorsColor) !important;
}

.blocklyInsertionMarker[data-category="data"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-dataColor) !important;
}

.blocklyInsertionMarker[data-category="data"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-dataColor) !important;
}

.blocklyInsertionMarker[data-category="data-lists"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-dataListsColor) !important;
}

.blocklyInsertionMarker[data-category="Makey Makey"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="Pen"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="Video Sensing"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="Text to Speech"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="Music"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="Translate"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="micro:bit"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="LEGO EV3"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="BOOST"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="WeDo 2.0"] .blocklyPath.blocklyBlockBackground[fill="#000000"],
.blocklyInsertionMarker[data-category="Force and Acceleration"] .blocklyPath.blocklyBlockBackground[fill="#000000"] {
  fill: var(--editorTheme3-PenColor) !important;
}
