.blocklyEditableText > text {
  fill: var(--editorTheme3-inputColor-text);
}
.blocklyHtmlInput {
  background-color: var(--editorTheme3-inputColor);
  color: var(--editorTheme3-inputColor-text);
}

.blocklyDropDownDiv .goog-menuitem-highlight,
.blocklyDropDownDiv .goog-menuitem-hover,
.sa-contextmenu-colored .blocklyContextMenu .goog-menuitem-highlight {
  background-color: var(--editorTheme3-hoveredItem, rgba(0, 0, 0, 0.2));
}

.scratchCommentRect {
  fill: var(--editorTheme3-commentColor);
}
.scratchCommentBody,
.scratchCommentTextarea {
  background-color: var(--editorTheme3-commentColor);
}
.scratchWorkspaceCommentBorder {
  stroke: var(--editorTheme3-commentBorder);
}
.scratchCommentTextarea::placeholder {
  color: var(--editorTheme3-commentTextTransparent);
}
.scratchCommentText {
  fill: var(--editorTheme3-commentText);
  color: var(--editorTheme3-commentText);
}

.sa-colormode-submenu li:nth-child(1) div,
.sa-colormode-submenu li:nth-child(2) div {
  filter: opacity(0.5) grayscale(1);
}
.sa-colormode-submenu li:nth-child(1) div img:first-child,
.sa-colormode-submenu li:nth-child(2) div img:first-child {
  visibility: hidden;
}
.sa-theme3-link div img:first-child {
  display: none;
}
.sa-colormode-submenu li:nth-child(1):hover,
.sa-colormode-submenu li:nth-child(2):hover,
.sa-theme3-managed:hover {
  background-color: inherit;
  cursor: default;
}
.sa-theme3-managed {
  border-bottom: 1px solid white;
}
.sa-theme3-link {
  backdrop-filter: brightness(0.85);
}
.sa-theme3-link [class*="settings-menu_expand-caret_"] {
  margin-left: auto;
  transform: rotate(-135deg);
}
