.sa-tooltips-wrapper {
  margin: .25em;
}

.sa-tooltips-studio-title {
  width: 200px;
}

.sa-tooltips-project .sa-tooltips-info-wrapper,
.sa-tooltips-user .sa-tooltips-info-wrapper,
.sa-tooltips-studio .sa-tooltips-info-wrapper {
  width: 200px;
}

.sa-tooltips-project-author,
.sa-tooltips-project-title {
  width: calc(250px - 3em);
}

.sa-tooltips-project-img,
.sa-tooltips-studio-img {
  width: 150px;
}

.sa-tooltips-user-img {
  width: 100px;
}

.tippy-box[data-theme^="sa-tooltips"] {
  max-width: none !important;
}

.tippy-box[data-theme^="sa-tooltips"] .tippy-content {
  font-size: .923em;
  line-height: 1.2em;
  font-weight: bold;
}

.sa-tooltips-project-author,
.sa-tooltips-topic-category,
.sa-tooltips-post-count {
  color: #aaa;
  font-size: .8462em;
}

.tippy-box[data-theme="sa-tooltips-light"] .sa-tooltips-project-author,
.tippy-box[data-theme="sa-tooltips-light"] .sa-tooltips-topic-category,
.tippy-box[data-theme="sa-tooltips-light"] .sa-tooltips-post-count {
  color: #575e75;
}

.sa-tooltips-topic-title,
.sa-tooltips-post {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.sa-tooltips-forum-topic .sa-tooltips-post,
.sa-tooltips-forum-post .sa-tooltips-topic-title {
  -webkit-line-clamp: 2;
}

.sa-tooltips-forum-topic .sa-tooltips-topic-title,
.sa-tooltips-forum-post .sa-tooltips-post {
  -webkit-line-clamp: 6;
}

.sa-tooltips-post,
.sa-tooltips-post-author {
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
}

.sa-tooltips-post-author {
  padding-top: .5em;
  border-top: 1px solid #8888;
  font-weight: bold;
}

.sa-tooltips-forum-topic .sa-tooltips-info-wrapper > *,
.sa-tooltips-forum-post .sa-tooltips-info-wrapper > * {
  margin: .5em 0;
}

.sa-tooltips-studio .sa-tooltips-img-wrapper {
  margin-bottom: .5em;
}

.sa-tooltips-user,
.sa-tooltips-project,
.sa-tooltips-studio {
  display: grid;
  grid-auto-flow: column;
  gap: .25em .5em;
}

.sa-tooltips-user .sa-tooltips-img-wrapper,
.sa-tooltips-project .sa-tooltips-img-wrapper,
.sa-tooltips-studio .sa-tooltips-img-wrapper {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.sa-tooltips-project .sa-tooltips-info-wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 0px;
  /* grid-template-columns: repeat(2); */
  margin-top: auto;
}

.sa-tooltips-project-author-img {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin: auto .5em auto 0;
  border-radius: calc((1em / 0.923) * 0.25);
  width: calc((1em / 0.923) * 2);
  height: calc((1em / 0.923) * 2);
}

.sa-tooltips-project .sa-tooltips-info-wrapper,
.sa-tooltips-studio .sa-tooltips-info-wrapper,
.sa-tooltips-user .sa-tooltips-info-wrapper {
  margin-top: auto;
}

.sa-tooltips-project .sa-tooltips-info-extended-wrapper,
.sa-tooltips-studio .sa-tooltips-info-extended-wrapper,
.sa-tooltips-user .sa-tooltips-info-extended-wrapper {
  width: 250px;
  font-size: .8462em;
  font-weight: normal;
  margin-bottom: auto;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.sa-tooltips-user .sa-tooltips-origin {
  grid-column: 1 / span 2;
}

.sa-tooltips-project .sa-tooltips-img-wrapper,
.sa-tooltips-studio .sa-tooltips-img-wrapper,
.sa-tooltips-user .sa-tooltips-img-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.sa-tooltips-forum-post,
.sa-tooltips-forum-topic {
  max-width: calc(350px - 18.5px - .5em);
}
