.tabs button .tab-icon.sa-search-profile-icon {
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

.tabs button.sa-search-profile-btn {
  /* Vanilla style is width:8.75em */
  width: auto;
  min-width: 8.75em;
}

.sa-search-profile-btn span {
  display: flex;
  justify-content: center;
}

.tabs button:disabled {
  opacity: 0.5;
  cursor: default;
}

.tabs button:disabled:hover,
.tabs button:disabled:active {
  background-color: transparent;
  border: none;
}
