[class^="backpack_backpack-container"] {
  display: none;
}

[class^="paint-editor_zoom-controls_"] {
  margin-right: 45px;
}

.sa-backpack-button {
  position: absolute;
  right: 21px;
  bottom: 12px;
  width: 35px;
  height: 35px;
  background-size: contain;
}
