.blocklyEditableText > text {
  fill: var(--customBlockColor-inputColor-text);
}
.blocklyHtmlInput {
  background-color: var(--customBlockColor-inputColor);
  color: var(--customBlockColor-inputColor-text);
}

.blocklyDropDownDiv .goog-menuitem-highlight,
.blocklyDropDownDiv .goog-menuitem-hover,
.sa-contextmenu-colored .blocklyContextMenu .goog-menuitem-highlight {
  background-color: var(--customBlockColor-hoveredItem, rgba(0, 0, 0, 0.2));
}
