/* Imported by other addons */

.sa-block-color {
  --sa-block-colored-background: var(--sa-block-background-primary);
  --sa-block-colored-background-secondary: var(--sa-block-background-tertiary);
  --sa-block-bright-background: var(--sa-block-background-primary);
  --sa-block-text: white;
  --sa-block-gray-text: white;
  --sa-block-colored-text: var(--sa-block-background-primary);
  --sa-block-text-on-bright-background: white;
}

.sa-block-color-motion {
  --sa-block-background-primary: var(--customBlockColor-motion-primary, #4c97ff);
  --sa-block-background-secondary: var(--customBlockColor-motion-secondary, #4280d7);
  --sa-block-background-tertiary: var(--customBlockColor-motion-tertiary, #3373cc);
  --sa-block-field-background: var(--customBlockColor-motion-field, #3373cc);
}

.sa-block-color-looks {
  --sa-block-background-primary: var(--customBlockColor-looks-primary, #9966ff);
  --sa-block-background-secondary: var(--customBlockColor-looks-secondary, #855cd6);
  --sa-block-background-tertiary: var(--customBlockColor-looks-tertiary, #774dcb);
  --sa-block-field-background: var(--customBlockColor-looks-field, #774dcb);
}

.sa-block-color-sounds {
  --sa-block-background-primary: var(--customBlockColor-sounds-primary, #cf63cf);
  --sa-block-background-secondary: var(--customBlockColor-sounds-secondary, #c94fc9);
  --sa-block-background-tertiary: var(--customBlockColor-sounds-tertiary, #bd42bd);
  --sa-block-field-background: var(--customBlockColor-sounds-field, #bd42bd);
}

.sa-block-color-event {
  --sa-block-background-primary: var(--customBlockColor-event-primary, #ffbf00);
  --sa-block-background-secondary: var(--customBlockColor-event-secondary, #e6ac00);
  --sa-block-background-tertiary: var(--customBlockColor-event-tertiary, #cc9900);
  --sa-block-field-background: var(--customBlockColor-event-field, #cc9900);
}

.sa-block-color-control {
  --sa-block-background-primary: var(--customBlockColor-control-primary, #ffab19);
  --sa-block-background-secondary: var(--customBlockColor-control-secondary, #ec9c13);
  --sa-block-background-tertiary: var(--customBlockColor-control-tertiary, #cf8b17);
  --sa-block-field-background: var(--customBlockColor-control-field, #cf8b17);
}

.sa-block-color-sensing {
  --sa-block-background-primary: var(--customBlockColor-sensing-primary, #5cb1d6);
  --sa-block-background-secondary: var(--customBlockColor-sensing-secondary, #47a8d1);
  --sa-block-background-tertiary: var(--customBlockColor-sensing-tertiary, #2e8eb8);
  --sa-block-field-background: var(--customBlockColor-sensing-field, #2e8eb8);
}

.sa-block-color-operators {
  --sa-block-background-primary: var(--customBlockColor-operators-primary, #59c059);
  --sa-block-background-secondary: var(--customBlockColor-operators-secondary, #46b946);
  --sa-block-background-tertiary: var(--customBlockColor-operators-tertiary, #389438);
  --sa-block-field-background: var(--customBlockColor-operators-field, #389438);
}

.sa-block-color-data {
  --sa-block-background-primary: var(--customBlockColor-data-primary, #ff8c1a);
  --sa-block-background-secondary: var(--customBlockColor-data-secondary, #ff8000);
  --sa-block-background-tertiary: var(--customBlockColor-data-tertiary, #db6e00);
  --sa-block-field-background: var(--customBlockColor-data-field, #db6e00);
}

.sa-block-color-data_lists {
  --sa-block-background-primary: var(--customBlockColor-data_lists-primary, #ff661a);
  --sa-block-background-secondary: var(--customBlockColor-data_lists-secondary, #ff5500);
  --sa-block-background-tertiary: var(--customBlockColor-data_lists-tertiary, #e64d00);
  --sa-block-field-background: var(--customBlockColor-data_lists-field, #e64d00);
}

.sa-block-color-more {
  --sa-block-background-primary: var(--customBlockColor-more-primary, #ff6680);
  --sa-block-background-secondary: var(--customBlockColor-more-secondary, #ff4d6a);
  --sa-block-background-tertiary: var(--customBlockColor-more-tertiary, #ff3355);
  --sa-block-field-background: var(--customBlockColor-more-field, #ff3355);
}

.sa-block-color-pen {
  --sa-block-background-primary: var(--customBlockColor-pen-primary, #0fbd8c);
  --sa-block-background-secondary: var(--customBlockColor-pen-secondary, #0da57a);
  --sa-block-background-tertiary: var(--customBlockColor-pen-tertiary, #0b8e69);
  --sa-block-field-background: var(--customBlockColor-pen-field, #0b8e69);
}

.sa-block-color-sa {
  --sa-block-background-primary: var(--customBlockColor-sa-primary, #29beb8);
  --sa-block-background-secondary: var(--customBlockColor-sa-secondary, #3aa8a4);
  --sa-block-background-tertiary: var(--customBlockColor-sa-tertiary, #3aa8a4);
  --sa-block-field-background: var(--customBlockColor-sa-field, #3aa8a4);
}
