.inner {
  display: flex;
}

.inner > .dropdown.button.grey.small,
.inner > .right {
  align-self: center;
  margin-left: 8px;
}

#search-my-stuff-form {
  align-self: center;
}

#search-my-stuff-input {
  align-self: center;
  margin-bottom: 0;
}

#search-my-stuff-header,
#search-my-stuff-tip {
  text-align: center;
}

#search-my-stuff-tip {
  display: block;
  margin: 10px 15px 25px;
}
