/* Shamelessly copied from forum-search */
.dropdown.radio-style.button.grey.small {
  display: none;
}

#search-my-stuff-form {
  display: flex;
}

#search-my-stuff-input {
  width: 50%;
  margin-right: 8px;
}

#search-my-stuff-dropdown {
  width: auto;
}

#search-my-stuff-dropdown:hover {
  cursor: pointer;
}

#search-my-stuff-dropdown:focus {
  outline: none;
}
