.inner {
  display: flex;
}

.inner > .dropdown.button.grey.small,
.inner > .right {
  align-self: center;
  margin-left: 8px;
}

#search-my-stuff-form {
  align-self: center;
}

#search-my-stuff-input {
  align-self: center;
  margin-bottom: 0;
}
