.preview .remix-button:before {
    margin-right:0px;
    padding-right: 0px;
    padding-left: 0px;
}
.preview .see-inside-button:before {
    margin-right:0px;
    padding-right: 0px;
    padding-left: 0px;
}