input.scratchtoolsAssetSearch.input_input-form_l9eYg {
  font-size: 11px;
  padding-top: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  margin-left: 16px;
}

img.activity-img {
  padding-right: 0px;
  border-radius: 100px;
}

div.flex-row.mod-social-message {
  padding-left: 11px;
}

img.account-nav_avatar_1P49z.user-avatar_user-thumbnail_jSYS1 {
  padding-top: px;
  padding-bottom: px;
  padding-right: px;
  padding-left: px;
  width: px;
  height: px;
}

input.input {
  border-radius: 100px;
}

#search-input {
  border-radius: 100px;
}

button.load-more-wh.button {
  border-radius: 100px;
}

div button span {
  border-radius: 100px;
}

button.button.button.see-inside-button {
  border-radius: 100px;
  margin-left: 8px;
}

button.button.remix-button.sa-remix-button {
  border-radius: 100px;
  margin-left: 8px;
}

button.button.sa-tw-button {
  border-radius: 100px;
  margin-left: 8px;
}

div.extension-chip {
  border-radius: 100px;
}

span.button_outlined-button_1bS__.menu-bar_menu-bar-button_3IDN0.community-button_community-button_2Lo_g {
  border-radius: 100px;
}

span.button_outlined-button_1bS__.menu-bar_menu-bar-button_3IDN0.share-button_share-button_Nxxf0.share-button_share-button-is-shared_1tjKq.sa-unshare-button {
  border-radius: 100px;
}

input.input_input-form_l9eYg.project-title-input_title-field_en5Gd.menu-bar_title-field-growable_3qr4G {
  border-radius: 100px;
}

input.input_input-form_l9eYg.sa-find-input {
  border-radius: 100px;
}

div.library-item_library-item-inset-image-container_3PLJ1 {
  border-radius: 100px;
}

#search-my-stuff-input {
  border-radius: 100px;
}

button.button.banner-button {
  border-radius: 100px;
}

span.button_outlined-button_1bS__.menu-bar_menu-bar-button_3IDN0.share-button_share-button_Nxxf0 {
  border-radius: 100px;
}

div.button.small.grey {
  border-radius: 100px;
}

div.button.small {
  border-radius: 100px;
}

div.button.grey {
  border-radius: 100px;
}

div div button {
  border-radius: 100px;
}

input.u-dropdown-searchbar {
  border-radius: 100px;
  margin-bottom: 8px;
}

input.prompt_variable-name-text-input_1iu8- {
  border-radius: 100px;
}

span.button_button_u6SE2.paint-editor_bitmap-button_keW7B {
  border-radius: 100px;
}

input.inplace-input {
  border-radius: 100px;
}

select.form-control {
  border-radius: 100px;
}

a.button.small.grey {
  border-radius: 100px;
}

span.button_button_u6SE2.tool-select-base_mod-tool-select_1iD-h.tool-select-base_is-selected_3x4kL {
  border-radius: 100px;
}

span.button_button_u6SE2.tool-select-base_mod-tool-select_1iD-h {
  border-radius: 100px;
}

div.dropdown_dropdown_yOinO.font-dropdown_mod-unselect_33YJN.font-dropdown_font-dropdown_3XyMU.undefined {
  border-radius: 100px;
}

div.dropdown_dropdown_yOinO.font-dropdown_mod-unselect_33YJN.font-dropdown_font-dropdown_3XyMU.dropdown_mod-open_3zJSJ {
  border-radius: 100px;
}

div.scratchCategoryItemIcon {
  filter: brightness(10);
  border-radius: 100px;
  background-color: #02140f;
}

span.follow.text {
  border-radius: 100px;
}

div.follow-button.button.notfollowing.blue {
  border-radius: 100px;
}

#forum-search-input {
  border-radius: 100px;
}

#forum-search-dropdown {
  border-radius: 100px;
}

form div a {
  border-radius: 100px;
}

#language-selection {
  border-radius: 100px;
}

img.color-picker_clickable_29wR3 {
  border-radius: 100px;
}

span.media-info-item.date.shortDateFormat {
  font-size: 9px;
}

input.password {
  border-radius: 100px;
}

button.button.primary {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 16px;
  padding-left: 16px;
}

div.monitor_value_3Yexa {
  border-radius: 100px;
}

div.monitor_monitor-container_2J9gl.react-draggable.box_box_2jjDp {
  border-radius: 15px;
}

input.slider-prompt_min-input_1IxXX {
  border-radius: 100px;
}

input.slider-prompt_max-input_1Nwbv {
  border-radius: 100px;
}

span.button_outlined-button_1bS__.menu-bar_menu-bar-button_3IDN0.menu-bar_remix-button_2LQQc {
  border-radius: 100px;
}

button.button.remix-button {
  margin-left: 8px;
}

#ST-STATS {
  border-radius: 100px;
}

#ST-WIBD {
  border-radius: 100px;
}

div.color-button_color-button-arrow_2NxGY {
  display: none;
}

div.color-button_color-button_1NNLx {
  margin-right: -10px;
}

img.library-item_library-item-image_2bORn {
  border-radius: 9px;
}

a.intro-button.join-button.button {
  border-radius: 100px;
}

a.intro-button.create-button.button {
  border-radius: 100px;
}

div.watch-button.button {
  border-radius: 100px;
}

input.formik-input.fail.join-flow-input {
  border-radius: 100px;
}

input.formik-input.join-flow-input {
  border-radius: 100px;
}

div form input {
  border-radius: 100px;
}
