[class*="blocks_blocks_"] .blocklyToolboxDiv {
  height: auto !important;
}

.scratchCategoryMenu {
  width: 100%;
  columns: 2;
  column-gap: 0.5rem;
  padding: 0.25rem;
  padding-bottom: 2.25rem;
}

.scratchCategoryMenuItem {
  display: inline-flex; /* inline so that it isn't split between both columns */
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.875rem;
}

.scratchCategoryItemBubble,
.scratchCategoryItemIcon {
  margin: 0;
  margin-right: 0.5rem;
}

.scratchCategoryMenuItemLabel {
  flex: 1;
  display: flex;
  align-items: center;
}

[class*="gui_extension-button-container_"] {
  top: calc(var(--sa-add-extension-button-y) * 1px);
  bottom: auto;
  margin-left: calc(0.25rem + 1px);
  width: calc(308px - 0.5rem);
  height: calc(1.75rem - 2px);
  background-color: var(--editorDarkMode-accent, white);
  border-color: var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
  border-radius: 0.875rem;
}

[class*="gui_extension-button-container_"]:hover {
  border-color: var(--editorDarkMode-primary, #4d97ff);
}

[class*="gui_extension-button-container_"]::before {
  display: none;
}

[class*="gui_extension-button_"] {
  padding-inline: calc(0.125rem - 1px);
  text-align: left;
}

[class*="gui_extension-button-icon_"] {
  vertical-align: middle;
  margin-top: -1px;
  margin-inline-end: 0.125rem;
  filter: var(--editorDarkMode-accent-invertedFilter, brightness(0.4));
}

.sa-add-extension-label {
  vertical-align: middle;
  color: var(--editorDarkMode-accent-text, #575e75);
  font-size: 0.65rem;
}
