[class*="blocks_blocks_"] .blocklyToolboxDiv,
[class*="blocks_blocks_"] .blocklyToolbox {
  width: 310px;
  height: auto !important;
  box-sizing: content-box;
  border-right-color: var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
  border-bottom: 1px solid var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
}

.scratchCategoryMenu,
.blocklyToolboxCategoryGroup {
  display: block;
  width: 100%;
  columns: 2;
  column-gap: 0.5rem;
  padding: 0.25rem;
}

.scratchCategorySecondMenu {
  columns: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2.25rem;
}

.scratchCategorySecondMenu:empty {
  padding-top: 0;
  padding-bottom: 2rem;
}

.scratchCategoryMenuItem {
  display: inline-flex; /* inline so that it isn't split between both columns */
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.875rem;
}

.blocklyToolboxCategoryContainer {
  display: inline-block; /* inline so that it isn't split between both columns */
  width: 100%;
}

.blocklyToolbox .blocklyToolboxCategory {
  padding: 0.25rem !important;
  border-radius: 0.875rem;
}

.blocklyTreeRowContentContainer {
  flex-direction: row;
}

.scratchCategoryItemBubble,
.scratchCategoryItemIcon,
.categoryBubble,
.categoryIconBubble {
  margin: 0;
  margin-inline-end: 0.5rem;
}

.scratchCategoryMenuItemLabel,
.blocklyToolboxCategoryLabel {
  flex: 1;
  display: flex;
  align-items: center;
}

[class*="gui_extension-button-container_"],
[class*="extension-button_extension-button-container_"] {
  top: var(--sa-add-extension-button-y);
  bottom: auto;
  margin-inline-start: 0.5rem;
  width: calc(308px - 1rem);
  height: calc(1.75rem - 2px);
  background-color: transparent;
  border-color: var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
}

/* [dir] is for specificity to override editor-stage-left */
[dir] [class*="gui_extension-button-container_"],
[dir] [class*="extension-button_extension-button-container_"] {
  border-radius: 0.25rem;
}

[class*="gui_extension-button-container_"]:hover,
[class*="extension-button_extension-button-container_"]:hover {
  background-color: var(--editorDarkMode-accent, white);
}

[class*="gui_extension-button-container_"]::before,
[class*="extension-button_extension-button-container_"]::before {
  display: none;
}

[class*="gui_extension-button_"],
[class*="extension-button_extension-button_"] {
  display: flex;
  align-items: center;
  padding-inline: 0;
}

[class*="gui_extension-button-icon_"],
[class*="extension-button_extension-button-icon_"] {
  filter: var(--editorDarkMode-categoryMenu-invertedFilter, brightness(0.4));
}

[class*="gui_extension-button-container_"]:hover [class*="gui_extension-button-icon_"],
[class*="extension-button_extension-button-container_"]:hover [class*="extension-button_extension-button-icon_"] {
  filter: var(--editorDarkMode-accent-invertedFilter, brightness(0.4));
}

.sa-add-extension-label {
  color: var(--editorDarkMode-categoryMenu-text, #575e75);
  font-size: 0.65rem;
}

[class*="gui_extension-button-container_"]:hover .sa-add-extension-label,
[class*="extension-button_extension-button-container_"]:hover .sa-add-extension-label {
  color: var(--editorDarkMode-accent-text, #575e75);
  font-size: 0.65rem;
}

[class*="extension-button_radiate_"]::before,
[class*="extension-button_radiate_"]::after {
  border-radius: 0.25rem;
  clip-path: none;
}

/* hide-flyout compatibility */

[class*="gui_tabs_"] {
  --sa-flyout-width: 310px;
  --sa-category-width: 0;
}

.sa-flyout-placeHolder {
  top: calc(var(--sa-flyout-y));
}
