.unsupported-browser,
.wedo .top-banner,
.sa-annual-report-2019 .message-section,
.sa-annual-report-2019 .initiatives-section .initiatives-subsection-header.community,
.sa-annual-report-2019 .initiatives-section .initiatives-community .community-quotes .community-quote .comment-text,
.title-banner.mod-conference,
.conf2019-title-band {
  background-color: #004099;
}
.sa-annual-report-2019 .initiatives-section .initiatives-community .community-quotes .community-quote .comment-text,
.sa-annual-report-2019
  .initiatives-section
  .initiatives-community
  .community-quotes
  .community-quote
  .comment-text::before,
.sa-annual-report-2019
  .initiatives-section
  .initiatives-community
  .community-quotes
  .community-quote
  .comment-text::after {
  border-color: #004099;
}
.parents .title-banner.masthead,
.download .title-banner.masthead /* Scratch 2.0 and 1.4 download */,
.gdxfor .extension-header,
.blue-background,
.privacy-banner,
.sa-annual-report-2019 .subnavigation,
.sa-annual-report-2020 .initiatives-section .initiatives-subsection-header.community,
.sa-annual-report-2021 .initiatives-section .initiatives-subsection-header.SEC,
.conf2017-title-band {
  background-color: #003a8a;
}
.parents .title-banner.masthead .ted-talk {
  border-color: black;
}
.educators .title-banner.masthead,
.educators #teacher-accounts,
.expect .keynote,
.initiatives-section .initiatives-subsection-header.schools,
.initiatives-section .initiatives-subsection-content .teacher-quote .comment-text,
.initiatives-section .initiatives-subsection-header.connectivity,
.initiatives-section .initiatives-subsection-header.community,
.teacher-registration,
.teacher-waitingroom {
  background-color: #3d2966;
}
.initiatives-section .initiatives-subsection-content .teacher-quote .comment-text,
.initiatives-section .initiatives-subsection-content .teacher-quote .comment-text::before,
.initiatives-section .initiatives-subsection-content .teacher-quote .comment-text::after {
  border-color: #3d2966;
}
.boost .extension-header,
.ev3 .extension-header,
.wedo2 .extension-header {
  background-color: #752475;
}
.hoc-banner,
.feature-banner,
.banner-wrapper /* Ideas */,
.developers .title-banner.masthead,
.sa-annual-report-2019 .reach-section,
.initiatives-section .initiatives-subsection-header.tools,
.initiatives-section .initiatives-tools .abhi-quote .comment-text,
.initiatives-section .initiatives-subsection-header.adaptation,
.donate-section,
.sa-annual-report-2021 .subnavigation,
.sa-annual-report-2021 .message-section,
.sa-annual-report-2021 .reach-section,
.sa-annual-report-2021 .reach-scratch-jr,
.card .card-button,
.microbit .extension-header {
  background-color: #064734;
}
.hoc-banner .hoc-banner-image,
.feature-banner .feature-banner-image,
.initiatives-section .initiatives-tools .abhi-quote .comment-text,
.initiatives-section .initiatives-tools .abhi-quote .comment-text::before,
.initiatives-section .initiatives-tools .abhi-quote .comment-text::after {
  border-color: #064734;
}
.donate-banner,
.sa-annual-report-2019 .reach-scratch-jr {
  background-color: #05402f;
}
.initiatives-section .initiatives-subsection-header.access {
  background-color: #235c23;
}
.sa-annual-report-2020 .subnavigation,
.sa-annual-report-2020 .message-section,
.sa-annual-report-2020 .reach-section {
  background-color: #194e66;
}
.sa-annual-report-2020 .reach-scratch-jr {
  background-color: #1c465a;
}
#force-account-rename,
.financials-section,
.sa-annual-report-2020 .directors-message,
.sa-annual-report-2021 .founders-message {
  background-color: #16171d;
}
.join-flow-outer-content /* username change */ {
  background-clip: padding-box;
  border-color: rgba(255, 255, 255, 0.25);
}
