html {
  font-size: 12px;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #ff7b26 rgba(0, 0, 0, 0);
  color: #dddddd;
}

body {
  margin: 0 auto;
  font-family: "Sora", sans-serif;
  width: auto;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #222;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ff7b26;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a[href] {
  color: #1aa0d8;
}
a:hover {
  text-decoration: underline;
}

.title {
  top: 0;
  z-index: 999;
  font-size: 12px;
  color: white;
  padding: 12px;
  padding-bottom: none;
  margin-bottom: 12px;
  cursor: default;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  user-select: none;
}

.project-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: auto;
  max-width: 75%;
}
.float-right {
  margin-left: 4px;
  white-space: nowrap;
  font-size: 0.9rem;
}
.float-right > span {
  display: inline-block;
  margin-left: 2px;
}

.project-details {
  padding: 0px 20px 20px 20px;
  font-size: 12px;
}
.username-list > a {
  display: inline-block;
  margin-right: 10px;
}

.games {
  border-radius: 4px;
  border: 1px solid #333;
  background: #2a2a2a;
  margin: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.title a {
  color: white;
}
