<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Scratch Addons - Cloud games</title>
    <link rel="stylesheet" href="popup.css" />
    <link href="../../libraries/Sora.css" rel="stylesheet" />
    <script src="../../libraries/vue.js" defer></script>
    <script src="./popup.js" defer></script>
  </head>

  <body style="display: none" v-show="loaded">
    <div class="games" v-for="project of projectsSorted">
      <div class="title" @click="false && project.extended = !project.extended;">
        <a class="project-name" :href="'https://scratch.mit.edu/projects/' + project.id" target="_blank"
          >{{ project.title }}</a
        >
        <span class="float-right"><img class="small-icon" src="../../images/icons/users.svg" /> {{ project.amt }}</span>
      </div>
      <div class="project-details" v-show="true || project.amt > 0 && project.extended">
        <div class="username-list">
          <a v-for="user of project.users">{{ user }}</a>
        </div>
        <div class="username-list" v-show="project.amt === 0">No users currently playing</div>
      </div>
    </div>
  </body>
</html>
