.loading {
  text-align: center;
  font-size: 0.9rem;
  padding-top: 1rem;
  font-weight: bold;
  margin: 0 2rem;
}

.title {
  top: 0;
  z-index: 999;
  font-size: 12px;
  color: white;
  padding: 12px 20px;
  padding-inline-end: 8px;
  padding-bottom: none;
  margin-bottom: 12px;
  cursor: default;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  user-select: none;
}

.project-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-inline-end: auto;
  max-width: 75%;
}
.float-right {
  margin-inline-end: 4px;
  white-space: nowrap;
  font-size: 12px;
}
.float-right > span {
  display: inline-block;
  margin-inline-end: 2px;
}

.project-details {
  padding: 0px 20px 20px 20px;
  font-size: 12px;
}
.username-list > a {
  display: inline-block;
  margin-inline-end: 10px;
  color: #1aa0d8;
}

.games {
  border-radius: 4px;
  border: 1px solid #333;
  background: #2a2a2a;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.title a {
  color: white;
}

.small-icon {
  height: 14px;
  vertical-align: text-bottom;
  filter: brightness(10);
}
/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* hide track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
}
