body {
  padding-bottom: 1px; /* show margin below last game */
}

.loading {
  text-align: center;
  font-size: 1rem;
  padding-top: 10px;
  font-weight: 600;
  margin: 0 2rem;
}

.title {
  font-size: 12px;
  color: var(--content-text);
  padding: 6px 8px;
  cursor: default;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--content-border);
  user-select: none;
}

.project-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-inline-end: auto;
}
.float-right {
  white-space: nowrap;
  font-size: 12px;
}

.project-details {
  padding: 8px;
  font-size: 12px;
}
.username-list > a {
  display: inline-block;
  margin-inline-end: 10px;
  color: var(--blue-text);
}

.games {
  border-radius: 4px;
  border: 1px solid var(--content-border);
  background: var(--content-background);
  margin: 10px;
  box-shadow: var(--content-shadow);
}

.title a {
  color: var(--content-text);
}

.small-icon {
  height: 14px;
  vertical-align: text-bottom;
  filter: var(--content-icon-filter);
}
