<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" href="light.css" as="style" />
    <link rel="preload" href="popup.css" as="style" />
    <meta charset="UTF-8" />
    <title></title>
    <style>
      @import url("/webpages/styles/components/popup.css");
    </style>
    <script src="/webpages/set-lang.js" defer></script>
    <link rel="stylesheet" href="popup.css" />
    <link href="/libraries/Sora.css" rel="stylesheet" />
    <script src="/libraries/vue.js" defer></script>
    <script src="./popup.js" type="module"></script>
  </head>

  <body style="display: none" v-show="true">
    <div class="loading" v-show="projects.length === 0 || projects.length !== projectsChecked">{{ loadingMsg }}</div>
    <div v-show="loaded">
      <div class="games" v-for="project of projectsSorted">
        <div class="title">
          <a class="project-name" :href="'https://scratch.mit.edu/projects/' + project.id" target="_blank"
            >{{ project.title }}</a
          >
          <span class="float-right"><img class="small-icon" src="/images/icons/users.svg" /> {{ project.amt }}</span>
        </div>
        <div class="project-details" v-show="true || project.amt > 0 && project.extended">
          <div class="username-list">
            <a v-for="user of project.users" :href="'https://scratch.mit.edu/users/' + user" target="_blank"
              >{{ user }}</a
            >
          </div>
          <div class="username-list" v-show="project.amt === 0">{{ messages.noUsersMsg }}</div>
        </div>
      </div>
    </div>
  </body>
</html>
