body {
  padding-bottom: 1px; /* show margin below last game */
}

.fade-transition {
  transition: opacity 0.2s ease;
}

.fade-enter,
.fade-leave {
  opacity: 0;
}

.loading {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  overflow: hidden;
  background-color: var(--tooltip-background);
  border-radius: 10px;
  box-shadow: var(--large-shadow);
  font-weight: 500;
  user-select: none;
}

.loading-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--brand-orange);
}

.error {
  text-align: center;
  font-size: 1rem;
  padding-top: 20px;
  font-weight: 500;
  margin: 0 2rem;
  user-select: none;
}

.title {
  font-size: 14px;
  color: var(--content-text);
  padding: 6px 8px;
  cursor: default;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--content-border);
  user-select: none;
}

.project-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-inline-end: auto;
}
.float-right {
  white-space: nowrap;
  font-size: 14px;
}

.project-details {
  padding: 8px;
  color: var(--description-text);
  font-size: 14px;
  -moz-text-size-adjust: none;
}
.username-list > a {
  display: inline-block;
  margin-inline-end: 10px;
  color: var(--blue-text);
}

.game {
  border-radius: 4px;
  border: 1px solid var(--content-border);
  background: var(--content-background);
  margin: 10px;
  box-shadow: var(--content-shadow);
}

.title a {
  color: var(--content-text);
}

.title-placeholder {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 8px;
  background-color: var(--gray-text);
  border-radius: 3px;
}

.small-icon {
  height: 16px;
  vertical-align: text-bottom;
  filter: var(--content-icon-filter);
}

.add-button {
  text-align: center;
  padding-top: 0.5rem;
}

.add-button .large-button {
  display: inline-flex;
}

.opened {
  border: 1px solid var(--blue-variant);
}

.opened .title {
  background: var(--blue);
  border-color: var(--blue-variant);
}
