.blocklyZoom image {
  display: none;
}
.blocklyZoom image:last-of-type {
  display: block;
}
.sa-zoom-slider-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 120px;
}
.sa-zoom-slider,
.sa-zoom-slider-count {
  width: 120px;
}
.sa-zoom-slider-count {
  text-align: center;
  padding: 0;
  background: none;
  border: 0;
}

/* custom-zoom compatibility */
.sa-custom-zoom-hidden > * {
  transform: translateX(150px);
}
.sa-custom-zoom-area {
  width: 130px;
  height: 50px;
}
