.message-count {
  background-color: var(--alertBadge-default) !important;
  color: var(--alertBadge-defaultfg) !important;
}
.message-count.sa-alert-badge {
  background-color: var(--alertBadge-alert) !important;
  color: var(--alertBadge-alertfg) !important;
}
.message-count.sa-alert-badge::after {
  content: "!";
}
