@import url("../editor-theme3/compatibility.css");

#s3devToolBar {
  display: flex;
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.s3devLabel {
  display: flex;
  padding-right: 2em;
}

[dir="rtl"] .s3devLabel {
  padding-right: 0;
  padding-left: 2em;
}

.s3devLabel > span:first-child {
  margin-left: 1.5em;
  margin-right: 1em;
  font-weight: bold;
  font-size: 0.625rem;
  user-select: none;
  cursor: default;
  white-space: nowrap;
  padding-top: 2px;
}

[dir="rtl"] .s3devLabel > span:first-child {
  margin-right: 1.5em;
  margin-left: 1em;
}

.s3devAction {
  transition: opacity 200ms ease-in;
  /*font-weight: bold;*/
  opacity: 0;
}

.s3devLabel:hover .s3devAction {
  opacity: 0.7;
}

/* Wrapper around find button and drop down */
.s3devWrap {
  overflow: visible;
  /*margin-left:3em;*/
  position: relative;
}

#s3devFind {
  height: 2rem;
}

/* Find Input Box */
input.s3devInp {
  min-width: 100%;
  box-sizing: border-box !important;
  /* !important required for extension, because CSS injection method (and hence order) differs from addon */
  height: 1.5rem;

  /* Change Scratch default styles */
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding-left: 0.4em;
}

input.s3devInp:focus {
  /* Change Scratch default styles */
  box-shadow: none;
}

/* Drop down from find button */
#s3devDDOut {
  top: -6px;
}

/* Drop down from find button */
div.s3devDDOut {
  z-index: 100;
  left: 0;
  width: 16em;
  position: relative;
  /*padding: 2.2em 0 0;*/
  /*background-color: white;*/
  padding: 4px;
}

/* Drop down from find button */
ul.s3devDD {
  display: none;
  position: relative;
  padding: 0.2em 0;
  font-size: 0.75rem;
  line-height: 1;
  overflow-y: auto;
  min-height: 128px;
  max-height: 65vh;
  user-select: none;
  max-width: 100%;
}

div.s3devDDOut.vis {
  /*box-shadow: 0 2px 3px rgba(0,0,0,0.3), 0 5px 8px rgba(0,0,0,0.2);*/
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  border: none;
  border-radius: 4px;
}

div.s3devDDOut.vis ul.s3devDD {
  display: block;
  border: none;
}

/* Drop down items */
.s3devDD > li {
  display: block;
  padding: 0.5em 0.3em;
  white-space: nowrap;
  margin: 0;
  color: var(--sa-block-colored-text);
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

.s3devDD > li > b {
  background-color: #aaffaa;
  color: black;
}

/* Drop down items */
.s3devDD > li:hover,
.s3devDD > li.sel {
  background-color: var(--sa-block-bright-background);
  color: var(--sa-block-text-on-bright-background);
  cursor: pointer;
}

#s3devDD > li::before {
  content: "\25CF "; /* ● */
}

/*.s3devDD>li.hat::before {                           content: '◠ ';}*/
/*.s3devDD>li.hat::before {                           content: '▲ ';}*/
/*.s3devDD>li.block::before {                         content: '■ ';}*/
/*.s3devDD>li.reporter::before {                      content: '● ';}*/
/*.s3devDD>li.boolean::before {                       content: '◆ ';}*/

#s3devDD > li.flag {
  color: #4cbf56;
}

#s3devDD > li.flag:hover,
#s3devDD > li.flag.sel {
  background-color: #4cbf56;
  color: white;
}

#s3devIDD > li {
  height: 19px;
  padding: 3px 8px;
  margin: 2px 0.3em;
  box-sizing: border-box;
  position: relative;
  font-weight: bold;
  width: min-content;
  background-color: var(--sa-block-colored-background);
  color: var(--sa-block-text);
}

#s3devIDD > li:hover,
#s3devIDD > li.sel {
  background-color: var(--sa-block-colored-background-secondary);
}

.s3devDD > li.hat {
  border-radius: 14px 14px 3px 3px;
}
.s3devDD > li.block {
  border-radius: 3px;
}
.s3devDD > li.reporter {
  border-radius: 10px;
}

.s3devDD > li.boolean {
  width: min-content;
}
.s3devDD > li.boolean::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-top: 9px solid white;
  border-bottom: 10px solid white;
}
.s3devDD > li.boolean::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-top: 9px solid white;
  border-bottom: 10px solid white;
}

#s3devOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(80, 80, 80, 0.5);
  z-index: 9999;
  padding: 10em;
  color: white;
  font-weight: bold;
}

.s3devMulti {
  font-weight: normal;
  position: absolute;
  right: 0;
  white-space: nowrap;
  background-color: inherit;
  z-index: 1;
  padding: 0;
}

.s3devNav {
  padding: 0 6px;
}

.s3devNav:hover {
  color: #ffff80;
}

.s3devAction {
  margin-left: 2em;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
}

@media screen and (max-width: 1180px) {
  .s3devAction {
    display: none;
  }
}

.s3devHide {
  display: none;
}

.s3dev-mi:hover {
  background-color: #d6e9f8;
}

#s3devHelpPop > div {
  box-sizing: border-box;
  width: 800px;
  height: 60vh;
  max-height: 800px;
  max-width: 85%;
  margin: auto;
  margin-top: 20vh;
}

#s3devHelpPop [class*="modal_header-item-title"] {
  margin: 0 -20rem 0 0;
}
#s3devHelpPop[dir="rtl"] [class*="modal_header-item-title"] {
  margin: 0 0 0 -20rem;
}

#s3devHelpContent {
  height: calc(100% - 3.125rem);
  overflow-y: auto;
  padding: 1em 2em 4em;
  background-color: white;
  user-select: text;
}

#s3devFloatingBar {
  display: flex;
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  position: absolute;
  min-width: 128px;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px, rgba(0, 0, 0, 0.2) 0 3px 10px;

  z-index: 999;
}

#s3devInsertLabel {
  padding: 0;
  align-items: center;
}

/* Drop down from find button */
ul#s3devIDD {
  max-height: 200px;
  margin-bottom: 0;
}

#s3devIDD > li > b {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

[data-highlighted="true"] {
  background-color: hsla(30, 100%, 55%, 1) !important; /* orange */
  color: white !important;
}
