.tabs-sa {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

.tab-choice-sa {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 12px 12px 0 0;
  border-color: rgba(77, 151, 255, 0.1);
  background-color: rgb(63 120 202 / 4%);
}

.tab-choice-sa span {
  padding: 12px 5px;
  font-size: 1rem;
  font-weight: bold;
}

.sa-selected {
  background-color: rgba(77, 151, 255, 0.1);
}
