.react-tabs_react-tabs__tab_3Nn-X {
    border-radius: 100rem;
    height: 26px;
    bottom: 3px;

}   
[dir="ltr"] .gui_tab_27Unf {
    margin-left: 0.2rem;
}
.gui_tab_27Unf.gui_is-selected_sHAiu {
    height: 26px;
}