[data-for*="HD Upload"]:hover + .__react_component_tooltip {
  visibility: visible;
}

[data-for="sa-Choose_a_Sprite_right-HD Upload"] + .__react_component_tooltip {
  left: auto;
}

[data-for="sa-Choose_a_Backdrop_right-HD Upload"] + .__react_component_tooltip {
  left: auto;
}

[data-for="sa-Choose_a_Costume-HD Upload"] + .__react_component_tooltip,
[data-for="sa-Choose_a_Backdrop-HD Upload"] + .__react_component_tooltip {
  right: auto;
}
