.fps-counter {
    font-size: 0.625rem;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.25rem;
    user-select: none;
    color: #0fbd8c;
    display: flex;
    align-items: center;
}