.sa-blur-overlay {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 0.5);
  backdrop-filter: blur(0px);
  z-index: 500;
  pointer-events: none;
  transition-property: backdrop-filter;
  transition-duration: 200ms;
}

.sa-blur-overlay.blur {
  backdrop-filter: blur(5px);
}
