.project-stats-content {
  width: 100%;
}

.ps-container {
  position: relative;
  background: #eaf1fc;
  width: 100%;
  height: 239px;
  border-radius: 13px;
}

.ps-header {
  position: absolute;
  left: 1.6%;
  top: 12px;
  background: #ffffff;
  width: 18%;
  height: 44px;
  border-radius: 13px;
}

.ps-header-right-content {
  position: absolute;
  float: right;
  right: 2%;
  top: 9px;
}

.ps-header-content {
  position: absolute;
  left: 7%;
  top: 2px;
}

.ps-content {
  position: absolute;
  top: 36px;
  left: 1.6%;
  background: #ffffff;
  width: 96.8%;
  height: 190px;
  border-radius: 13px;
}

[class^="ps-edge"] {
  position: absolute;
  top: 11%;
  width: 6%;
  height: 80px;
}

.ps-edge01 {
  left: 2%;
}

.ps-edge02 {
  left: 92.33%;
  transform: rotateY(180deg);
}

.ps-code-genetic {
  position: relative;
  height: 100px;
}

.ps-code-genetic-bg {
  position: absolute;
  background: #575757;
  top: 14%;
  left: 5%;
  width: 90%;
  height: 68px;
}

span.motion {
  background-color: #548af6;
}

span.looks {
  background-color: #865df3;
}

span.sound {
  background-color: #c059ca;
}

span.events {
  background-color: #f6d13f;
}

span.control {
  background-color: #f0a43b;
}

span.sensing {
  background-color: #62b5de;
}

span.operators {
  background-color: #5cb550;
}

span.variables {
  background-color: #ee8734;
}

span.my-blocks {
  background-color: #e86577;
}

[class^="ps-code-genetic-block"] {
  position: absolute;
  top: 14%;
  height: 68px;
}

.ps-code-genetic-table {
  position: relative;
  height: 100px;
}

.ps-code-genetic-table>[class^="ps-code-genetic-item"] {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

span.row0 {
  top: 1px;
}

span.row1 {
  top: 31px;
}

span.row2 {
  top: 62px;
}

span.col0 {
  left: 20.8%;
}

span.col1 {
  left: 42.4%;
}

span.col2 {
  left: 65.4%;
}

span.col3 {
  left: 88.2%;
}

.ps-code-genetic-item-motion {
  left: 9.9%;
  color: #548af6;
}

.ps-code-genetic-item-looks {
  left: 10.6%;
  top: 30px;
  color: #865df3;
}

.ps-code-genetic-item-sound {
  left: 10.6%;
  top: 60px;
  color: #c059ca;
}

.ps-code-genetic-item-events {
  left: 31.8%;
  color: #f6d13f;
}

.ps-code-genetic-item-control {
  left: 31.3%;
  top: 30px;
  color: #ee8734;
}

.ps-code-genetic-item-sensing {
  left: 30.9%;
  top: 60px;
  color: #62b5de;
}

.ps-code-genetic-item-operators {
  left: 51.9%;
  color: #5cb550;
}

.ps-code-genetic-item-variables {
  left: 52.7%;
  top: 30px;
  color: #ee8734;
}

.ps-code-genetic-item-my-blocks {
  left: 51.9%;
  top: 60px;
  color: #e86577;
}

.ps-code-genetic-item-extensions {
  left: 74.1%;
  color: #575757;
}