.remix-credit {
    width: auto;
}
.remix-credit:hover {
    cursor: pointer;
}
.remix-credit .credit-text {
    display: none;
}
.remix-credit .avatar-wrapper {
    margin-right: 0%;
}
.remixes-text {
    margin-right: 5px;
}
