/* Include */
a,
a:link,
a:not([href]),
a:hover,
a:active,
a.black:hover,
a.black:active,
a.reply,
input.link,
input.link:hover,
input.link:active,
input.link.black:hover,
input.link.black:active,
.button > span,
button,
span.comment-reply,
#comments .more-replies .pulldown,
#email-resend-box a {
  font-weight: bold;
}

#footer a {
  font-weight: bold !important;
}

/* Exclude */
a.slider-carousel-control,
#topnav ul.site-nav li a,
#topnav ul.account-nav ul.user-nav li a {
  font-weight: normal;
}
