/* Include */
a,
a:link,
a:not([href]),
a:hover,
a:active,
a.black:hover,
a.black:active,
a.reply,
input.link,
input.link:hover,
input.link:active,
input.link.black:hover,
input.link.black:active,
.news-description h4,
.slider-carousel .thumb span.title a {
  font-weight: normal;
}

/* Exclude */
.join-scratch a {
  font-weight: bold;
}
