.u-paint-editor-tool-shortcut {
  color: var(--editorDarkMode-primary-text);
  position: absolute; /* Position it absolutely relative to the button */
  font-size: 8px;
  bottom: 2px; /* Position it near the bottom */
  right: 2px; /* Position it near the right */
  padding: 1px;
}

span[class*='tool-select-base_is-selected'] .u-paint-editor-tool-shortcut {
  color: white;
}