.sa-tooltips-wrapper {
  margin: 0.25rem;
}

.sa-tooltips-studio .sa-tooltips-title {
  margin: 0;
  width: 200px;
  display: block;
}

.sa-tooltips-user .sa-tooltips-username {
  margin: 0;
  width: 150px;
  display: block;
}

.sa-tooltips-project .sa-tooltips-author,
.sa-tooltips-project .sa-tooltips-title {
  width: calc(200px - 3em);
  display: block;
}

.sa-tooltips-project .sa-tooltips-img {
  width: 200px;
  height: 150px;
}

.sa-tooltips-studio .sa-tooltips-img {
  width: 200px;
  height: 117.64px;
}

.sa-tooltips-user .sa-tooltips-img {
  width: 150px;
  height: 150px;
}

.sa-tooltips-wrapper {
  margin: 0.25rem;
}

.sa-tooltips-project .sa-tooltips-title,
.sa-tooltips-studio .sa-tooltips-title {
  margin: 0;
  width: 200px;
  display: block;
}

.sa-tooltips-user .sa-tooltips-username {
  margin: 0;
  width: 150px;
  display: block;
}

.sa-tooltips-project .sa-tooltips-author {
  width: 200px;
  display: block;
}

.sa-tooltips-project .sa-tooltips-img {
  width: 200px;
  height: 150px;
}

.sa-tooltips-studio .sa-tooltips-img {
  width: 200px;
  height: 117.64px;
}

.sa-tooltips-user .sa-tooltips-img {
  width: 150px;
  height: 150px;
}

.tippy-box[data-theme^="sa-tooltips"] .tippy-content {
  font-size: 0.923em;
  line-height: 1.2em;
}

.sa-tooltips-wrapper .sa-tooltips-title,
.sa-tooltips-user .sa-tooltips-username {
	font-weight: bold;
}

.sa-tooltips-project .sa-tooltips-author,
.sa-tooltips-forum-topic .sa-tooltips-category,
.sa-tooltips-forum-topic .sa-tooltips-post-count,
.sa-tooltips-forum-post .sa-tooltips-category {
  color: #aaa;
  font-size: 0.8462em;
}

.tippy-box[data-theme="sa-tooltips-light"] .sa-tooltips-project .sa-tooltips-author,
.tippy-box[data-theme="sa-tooltips-light"] .sa-tooltips-forum-topic .sa-tooltips-category,
.tippy-box[data-theme="sa-tooltips-light"] .sa-tooltips-forum-topic .sa-tooltips-post-count,
.tippy-box[data-theme="sa-tooltips-light"] .sa-tooltips-forum-post .sa-tooltips-category {
  color: #666;
}

.sa-tooltips-forum-topic .sa-tooltips-title,
.sa-tooltips-forum-topic .sa-tooltips-post,
.sa-tooltips-forum-post .sa-tooltips-title,
.sa-tooltips-forum-post .sa-tooltips-post {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.sa-tooltips-forum-topic .sa-tooltips-post,
.sa-tooltips-forum-post .sa-tooltips-title {
  -webkit-line-clamp: 2;
}

.sa-tooltips-forum-topic .sa-tooltips-title,
.sa-tooltips-forum-post .sa-tooltips-post {
  -webkit-line-clamp: 6;
}

.sa-tooltips-forum-topic .sa-tooltips-post,
.sa-tooltips-forum-post .sa-tooltips-post,
.sa-tooltips-forum-topic .sa-tooltips-author,
.sa-tooltips-forum-post .sa-tooltips-author {
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
}

.sa-tooltips-forum-topic .sa-tooltips-author,
.sa-tooltips-forum-post .sa-tooltips-author {
  padding-top: 0.5em;
  border-top: 1px solid #88888888;
  font-weight: bold;
}

.sa-tooltips-forum-topic .sa-tooltips-info-wrapper > *,
.sa-tooltips-forum-post .sa-tooltips-info-wrapper > * {
  margin: 0.5em 0;
}

.sa-tooltips-project .sa-tooltips-author-img {
  display: none
}