input.sa-search-sprites-box {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid hsla(0, 0%, 1%, 0.15);
  outline: none;
  padding: 5px 10px;
}
