[class*="menu-bar_file-group"] > [class*="menu-bar_hoverable"] > img {
  display: none;
}

[class*="menu-bar_hoverable"] {
  justify-content: center;
}

[class*="menu-bar_hoverable"] > span {
  padding-right: 0;
  margin-right: 0;
}
