<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="../set-lang.js" type="module"></script>
    <script src="../check-unsupported.js" defer></script>
    <style>
      @import url("../styles/components/tooltips.css");
      @import url("../styles/colors.css");
    </style>
    <link rel="icon" href="../../images/icon.png" id="favicon" />
    <link rel="stylesheet" href="style.css" />
    <link href="../../libraries/thirdparty/Sora.css" rel="stylesheet" />
    <script src="../../libraries/thirdparty/vue.js" defer></script>
    <script src="./index.js" type="module"></script>
    <link rel="preload" href="../styles/colors-light.css" as="style" />
  </head>
  <body class="loading">
    <div id="header">
      <div id="title">
        <img src="../../images/icon-transparent.svg" id="logo" alt="Logo" />
        <span id="title-text" v-cloak>
          {{ msg("extensionName") }}
          <a id="version" :href="changelogLink" target="_blank" title="{{ msg('changelog') }}">v{{ version }}</a>
        </span>
      </div>
      <div class="header-button" @click="openSettingsPage()">
        <img src="../../images/icons/settings.svg" id="settings-icon" title="{{ msg('settings') }}" />
      </div>
    </div>
    <div id="popups">
      <div id="popup-bar" v-cloak>
        <div id="popup-chooser">
          <div
            v-for="popup of popups"
            class="popup-name"
            :class="{ sel: currentPopup === popup }"
            @click="setPopup(popup)"
          >
            <img v-if="popup.icon" :src="popup.icon" class="popup-icon" />
            <a class="popup-title">{{ popup.name }}</a>
            <a
              v-if="popup.fullscreen"
              class="popout"
              href="../../popups/{{ popup._addonId }}/popup.html"
              target="_blank"
              @click="closePopup()"
            >
              <img src="../../images/icons/popout.svg" class="popout-img" title="{{ msg('openInNewTab') }}" />
            </a>
          </div>
        </div>
      </div>
      <iframe
        v-cloak
        v-for="popup in popupsWithIframes"
        v-show="currentPopup === popup"
        :src="iframeSrc(popup._addonId)"
        :key="popup._addonId"
      ></iframe>
    </div>
  </body>
</html>
