<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="../set-lang.js" type="module"></script>
    <script src="../check-unsupported.js" defer></script>
    <style>
      @import url("../styles/colors.css");
      @import url("../styles/components/tabbable.css");
      @import url("../styles/components/tooltips.css");
    </style>
    <link rel="stylesheet" href="style.css" />
    <link href="../../libraries/thirdparty/Sora.css" rel="stylesheet" />
    <script src="../../libraries/thirdparty/vue.js" defer></script>
    <script src="./index.js" defer></script>
    <link rel="preload" href="light.css" as="style" />
  </head>
  <body class="loading">
    <div id="header">
      <div id="title">
        <img src="../../images/icon.svg" id="logo" alt="Logo" />
        <!-- Hide template HTML until Vue loads -->
        <span id="title-text" style="display: none" v-show="true">{{ msg("extensionName") }}</span>
        <span
          ><a
            id="version"
            style="display: none"
            v-show="true"
            href="#"
            title="{{ msg('changelog') }}"
            @click="openChangelog()"
            >v{{ version }}</a
          ></span
        >
      </div>
      <button class="icon-tabbable" id="settings" @click="openSettingsPage()">
        <img src="../../images/icons/settings.svg" id="settings-icon" title="{{ msg('settings') }}" />
      </button>
    </div>
    <div id="popups">
      <div id="popup-bar">
        <div id="popup-chooser" style="visibility: hidden" :style="{ visibility: 'visible' }">
          <button
            v-for="popup of popups"
            class="tabbable popup-name"
            :class="{ sel: currentPopup === popup }"
            @click="setPopup(popup)"
          >
            <img v-if="popup.icon" :src="popup.icon" class="popup-icon" />
            <a class="popup-title">{{ popup.name }} {{ popup.fullscreen ? "\u00a0" : "" }}</a>
            <a
              v-if="popup.fullscreen"
              class="icon-tabbable popout"
              href="../../popups/{{ popup._addonId }}/popup.html"
              target="_blank"
              @click="closePopup()"
            >
              <img src="../../images/icons/popout.svg" class="popout-img" title="{{ msg('openInNewTab') }}" />
            </a>
          </button>
        </div>
      </div>
      <iframe
        v-for="popup in popupsWithIframes"
        v-show="currentPopup === popup"
        :src="iframeSrc(popup._addonId)"
        :key="popup._addonId"
      ></iframe>
    </div>
  </body>
</html>
