#popups {
  background-color: #e4e4e4;
}

#popup-bar {
  background-color: #f0f0f0;
}

#popup-chooser {
  color: #222;
  background: #f0f0f0;
}

.popup-name {
  border: 1px solid #aaa;
}
.popup-name.sel {
  color: #fff;
}

iframe {
  background-color: #e4e4e4;
}

.popup-name img {
  filter: brightness(0);
}
.popup-name.sel img {
  filter: brightness(10);
}
