html,
body {
  overflow: hidden;
}
body {
  width: var(--width, 400px);
  height: var(--height, 599px);
  overflow: hidden;
  margin: 0;
  background-color: var(--page-background);
  font-family: "Roboto", sans-serif;
  color: var(--white-text);
}

[v-cloak] {
  display: none !important;
}

#header {
  display: flex;
  height: 60px;
  background-color: var(--brand-orange);
}
.header-button {
  cursor: pointer;
  padding: 18px;
  line-height: 0;
  user-select: none;
  transition: 0.2s ease;
}
.header-button:hover {
  background: var(--header-hover-darken);
}
#title-text,
.header-button {
  font-size: 18px;
  font-weight: 400;
}
#title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: "Sora", sans-serif;
  user-select: none;
}
#logo {
  height: 25px;
  margin-inline-end: 20px;
  vertical-align: middle;
}
#settings-icon {
  width: 24px;
  height: 24px;
}
#popups {
  background-color: var(--content-background);
  width: 100%;
  height: calc(100% - 60px);
}

#popup-bar {
  display: flex;
  background-color: var(--navigation-background);
  border-bottom: 1px solid var(--control-border);
}

#popup-chooser {
  flex-grow: 1;
  display: flex;
  color: var(--content-text);
  height: 45px;
  overflow: hidden;
}
.popup-name {
  flex-grow: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  padding-inline-start: 10.5px;
  padding-inline-end: 12px;
  user-select: none;
  transition: 0.2s ease;
}
.popup-name:hover {
  background-color: var(--hover-darken);
}
.popup-name:not(.sel):hover {
  cursor: pointer;
}
.popup-name:not(:last-child) {
  border-inline-end: none;
}
.popup-name.sel {
  background-color: var(--hover-darken);
  font-weight: bold;
}
.popup-name::before {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 4px;
  background-color: var(--orange);
  border-radius: 4px 4px 0 0;
  opacity: 0;
  transition: all 0.2s ease;
}
.popup-name.sel::before {
  opacity: 1;
}
.popup-name img {
  vertical-align: middle;
  filter: var(--content-icon-filter);
  width: 18px;
  height: 18px;
}
.popup-title {
  padding-inline-start: 5px;
}
.popout {
  cursor: pointer;
}
.popout > .popout-img {
  display: inline-block;
  vertical-align: -3px;
  width: 12px;
  height: 12px;
  padding: 2px;
  margin-inline-start: 3px;
  margin-inline-end: -2px;
  border-radius: 2px;
}
.popout:hover > .popout-img {
  background-color: var(--hover-highlight);
}
[dir="rtl"] .popout > .popout-img {
  transform: scaleX(-1);
}

iframe {
  width: 100%;
  height: calc(100% - 45px);
  overflow-x: hidden;
  border: none;
  overflow-y: scroll;
  background-color: var(--page-background);
  user-select: none;
}
#version {
  color: var(--white-text);
  margin: 5px;
  text-decoration: none;
  opacity: 0.75;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  user-select: text;
}
