html,
body {
  overflow: hidden;
}
body {
  width: var(--width, 400px);
  height: var(--height, 599px);
  overflow: hidden;
  margin: 0;
  background-color: var(--brand-orange); /* Firefox popup arrow */
  font-family: "Sora", sans-serif;
  color: white;
}

#header {
  display: flex;
  height: 60px;
}
#title-text,
#settings {
  font-size: 18px;
  font-weight: 400;
}
#title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#fullscreen {
  display: none;
}
.popup-name img {
  vertical-align: middle;
  filter: brightness(10);
  height: 18px;
}
.popup-title {
  padding: 0 5px;
}
.popout {
  padding: 5px;
}
#logo {
  height: 30px;
  margin-inline-end: 20px;
  vertical-align: middle;
}
#settings {
  margin: 10px;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#settings > img {
  height: 24px;
}

#popups {
  background-color: #222;
  width: 100%;
  height: calc(100% - 60px);
}

#popup-bar {
  background-color: #2a2a2a;
  padding: 10px;
  padding-bottom: 0px;
}

#popup-chooser {
  display: flex;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  height: 35px;
  overflow: hidden;
}
.popup-name {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 12px 12px 0 0;
}
.popup-name:not(:last-child) {
  border-right: none;
}
.popup-name.sel {
  background-color: #ff7b26;
}
.popout > .popout-img {
  height: 10px;
}
[dir="rtl"] .popout > .popout-img {
  transform: scaleX(-1);
}

iframe {
  width: 100%;
  height: calc(100% - 45px);
  overflow-x: hidden;
  border: none;
  overflow-y: scroll;
  background-color: #222;
}
#version {
  color: white;
  margin: 5px;
  vertical-align: middle;
  text-decoration: none;
  opacity: 0.75;
  font-size: 0.7rem;
}
