html,
body {
  overflow: hidden;
}
body {
  width: var(--width, 400px);
  height: var(--height, 599px);
  overflow: hidden;
  margin: 0;
  background-color: var(--brand-orange); /* Firefox popup arrow */
  font-family: "Sora", sans-serif;
  color: var(--white-text);
}

[v-cloak] {
  display: none !important;
}

#header {
  display: flex;
  height: 60px;
}
.header-button {
  cursor: pointer;
  padding: 18px;
  line-height: 0;
  transition: 0.2s ease;
}
.header-button:hover {
  background: var(--header-hover-darken);
}
#title-text,
.header-button {
  font-size: 18px;
  font-weight: 400;
}
#title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#logo {
  width: 30px;
  height: 30px;
  margin-inline-end: 20px;
  vertical-align: middle;
}
#settings-icon {
  width: 24px;
  height: 24px;
}
#popups {
  background-color: var(--content-background);
  width: 100%;
  height: calc(100% - 60px);
}

#popup-bar {
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  border-bottom: 1px solid var(--control-border);
}

#popup-chooser {
  display: flex;
  color: var(--content-text);
  height: 35px;
  overflow: hidden;
}
.popup-name {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  font-size: 12px;
  padding-inline-start: 10.5px;
  padding-inline-end: 12px;
  background-color: var(--button-background);
  border: 1px solid var(--control-border);
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  transition: 0.2s ease;
}
.popup-name:hover {
  background-color: var(--button-hover-background);
}
.popup-name:not(.sel):hover {
  cursor: pointer;
}
.popup-name:not(:last-child) {
  border-inline-end: none;
}
.popup-name.sel {
  background-color: var(--brand-orange);
  color: var(--white-text);
}
.popup-name img {
  vertical-align: middle;
  filter: var(--content-icon-filter);
  width: 18px;
  height: 18px;
}
.popup-name.sel img {
  filter: brightness(0) invert(1);
}
.popup-title {
  padding-inline-start: 5px;
}
.popout > .popout-img {
  display: inline-block;
  vertical-align: -3px;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-inline-start: 3px;
  margin-inline-end: -2px;
  border-radius: 2px;
}
.popout:hover > .popout-img {
  background-color: var(--white-text);
  filter: none;
}
[dir="rtl"] .popout > .popout-img {
  transform: scaleX(-1);
}

iframe {
  width: 100%;
  height: calc(100% - 45px);
  overflow-x: hidden;
  border: none;
  overflow-y: scroll;
  background-color: var(--page-background);
}
#version {
  color: var(--white-text);
  margin: 5px;
  text-decoration: none;
  opacity: 0.75;
  font-size: 12px;
}
