@import url("../editor-theme3/compatibility.css");

.find-bar {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.find-bar > label {
  /* padding instead of margin so clicking on the empty area will select the input */
  padding-left: 1.5em;
  padding-right: 1em;
  font-weight: bold;
  font-size: 0.625rem;
  user-select: none;
  cursor: default;
  white-space: nowrap;
  padding-top: 2px;
}

[dir="rtl"] .find-bar > label {
  padding-right: 1.5em;
  padding-left: 1em;
}

.find-wrapper {
  overflow: visible;
  position: relative;
  height: 2rem;
  width: 100%;
  max-width: 16em;
}

.find-dropdown-out {
  display: block;
  top: -6px;
  z-index: 100;
  width: 100%;
  max-width: 16em;
  position: relative;
  padding: 4px;
  border: none;
  border-radius: 4px;
  margin-top: 6px;
}

.find-dropdown-out.visible {
  position: absolute;
  width: 16em;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

/* We need to modify Scratch styles so that the place where the find bar is injected */
/* has actually correct size information, which is used to make the find bar not cover up controls */
[class*="gui_tab-list_"] {
  width: 100%;
}
[class*="gui_tab_"] {
  flex-grow: 0;
}

.find-input {
  width: 100%;
  box-sizing: border-box !important;
  /* !important required for extension, because CSS injection method (and hence order) differs from addon */
  height: 1.5rem;

  /* Change Scratch default styles */
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding-left: 0.4em;
}

.find-input:focus {
  /* Change Scratch default styles */
  box-shadow: none;
}

.find-dropdown {
  display: none;
  position: relative;
  padding: 0.2em 0;
  font-size: 0.75rem;
  line-height: 1;
  overflow-y: auto;
  min-height: 128px;
  max-height: 65vh;
  user-select: none;
  max-width: 100%;
  margin-top: 6px;
  border: none;
}

.find-dropdown-out.visible > .find-dropdown {
  display: block;
}

.find-dropdown > li {
  display: block;
  padding: 0.5em 0.3em;
  white-space: nowrap;
  margin: 0;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

.find-dropdown > li > b {
  background-color: #aaffaa;
  color: black;
}

/* Drop down items */
.find-dropdown > li:hover,
.find-dropdown > li.sel {
  color: white;
  cursor: pointer;
}

.find-dropdown > li::before {
  content: "\25CF "; /* ● */
}

.flag {
  color: #4cbf56;
}
.flag:hover,
.flag.sel {
  background-color: #4cbf56;
}

.costume,
.sound {
  color: rgb(26, 66, 255);
}
.costume:hover,
.costume.sel,
.sound:hover,
.sound.sel {
  background-color: rgb(26, 66, 255);
}

.find-dropdown .sa-block-color {
  color: var(--sa-block-colored-text);
}
.find-dropdown .sa-block-color:hover,
.find-dropdown .sa-block-color.sel {
  background-color: var(--sa-block-bright-background);
}

.find-carousel {
  font-weight: normal;
  position: absolute;
  right: 0;
  white-space: nowrap;
  background-color: inherit;
  z-index: 1;
  padding: 0;
}

.find-carousel-control {
  padding: 0 6px;
}

.find-carousel-control:hover {
  color: #ffff80;
}
