.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.15s, opacity 0.15s linear;
}

.float-right {
  float: right;
}

.spacer {
  flex-grow: 1;
}

.comment-bottom-row .comment-reply {
  align-items: center;
  margin-left: 10px;
}

.magnifier-show-reaction-menu-button {
  cursor: pointer;
  user-select: none;
  margin-left: 10px;
}

.magnifier-reaction-menu {
  display: inline-block !important;
  border: none !important;
  background-color: #323232;
  margin-top: 0.25rem !important;
  background-color: #323232;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2.5px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
}

.tooltip-arrow {
  position: absolute;
  background-color: #323232;
  border-width: 5px 5px 0;
  border-style: solid;
  /*border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;*/
  border-top-color: transparent !important;
  left: calc(50% - 12px);
  bottom: -5px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.magnifier-reaction-list {
  border: none !important;
  background: none;
  margin-left: 0 !important;
  margin-top: 0.25rem !important;
}

.magnifier-reaction-button {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  background-color: #ecf0f1;
  color: black;
  font-weight: normal !important;
  border-radius: 0.375rem;
  padding: 0 0.25rem;
  margin: 0 !important;
  margin: 0 0.3125rem !important;
  transition-duration: 0.1s;
}

.magnifier-reaction-button:hover {
  background-color: #bdc3c7;
}

.magnifier-reaction-button.selected {
  background-color: #1abc9c;
}

.magnifier-reaction-button.selected:hover {
  background-color: #16a085;
}