/* Console */
.debug-btn {
  width: 2rem;
  height: 2rem;
  padding: 0.375rem;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  cursor: pointer;
  filter: saturate(0);
}

.debug-btn:hover {
  background-color: hsla(215, 100%, 65%, 0.15);
}
.debug {
  display: none;
}
.debug {
  position: absolute;
  z-index: 1000;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  min-height: 25rem;
  min-width: 25rem;
  max-height: 25rem;
}

.debug h1 {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
  width: calc(100% - 20px);
  font-size: 20px;
}
.log {
  --message-border-color: rgb(240 240 240);
  --warning-border-color: hsl(50deg 100% 88%);
  --error-border-color: hsl(0deg 100% 92%);
  --error-text-color: red;
  --monospace-font-size: 12px;
  --monospace-font-family: consolas, lucida console, courier new, monospace;
  --source-code-font-size: 12px;
  --source-code-font-family: consolas, lucida console, courier new, monospace;
  font-family: var(--monospace-font-family);
  font-size: var(--monospace-font-size) !important;
  word-wrap: break-word;
  user-select: text;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  display: flex;
  border-top: 1px solid var(--message-border-color);
  border-bottom: 1px solid transparent;
  background: white;
  word-wrap: break-word;
  white-space: pre-wrap;
  flex: auto;
  line-height: 1.2;
  border-top-right-radius: revert;
  border-top-left-radius: revert;
  cursor: text;
  align-items: center;
  padding: 2px;
}
.warn {
  border-color: --warning-border-color !important;
  color: hsl(39deg 100% 18%) !important;
  background-color: hsl(50deg 100% 95%) !important;
}
.logs {
  overflow-y: scroll;
  cursor: default;
  border-radius: 0;
  padding: 0;
  width: 100%;
  flex: 1;
}

.console-variable {
  padding: 4px;
  border-radius: 10px;
  color: white;
  margin-right: 5px;
}
.log a {
  color: gray;
  text-decoration: underline;
  float: right;
  text-align: right;
  max-width: 100%;
  margin-left: 4px;
  flex: auto;
  margin-right: 4px;
}

/* Pause */
.pause-btn {
  width: 2rem;
  height: 2rem;
  padding: 0.375rem;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  cursor: pointer;
}

.pause-btn:hover {
  background-color: hsla(215, 100%, 65%, 0.15);
}
