@import url("../editor-theme3/compatibility.css");

.sa-fr-bar {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 8%;
  margin-top: 0.1em;
  margin-left: 0.1em;
}
.sa-fr-bar[hidden] {
  /* !important to override displayNoneWhileDisabled */
  display: none !important;
}

.sa-fr-wrapper {
  overflow: visible;
  position: relative;
  height: 2rem;
  width: 100%;
  max-width: 16em;
}

.sa-fr-dropdown-out {
  display: block;
  top: -6px;
  z-index: 101;
  width: 100%;
  max-width: 16em;
  position: relative;
  padding: 4px;
  border: none;
  border-radius: 4px;
  margin-top: 6px;
}

sa-fr-dropdown-out.visible {
  position: absolute;
  width: 16em;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

/* We need to modify Scratch styles so that the place where the find bar is injected */
/* has actually correct size information, which is used to make the find bar not cover up controls */
[class*="gui_tab-list_"] {
  width: 100%;
}
[class*="gui_tab_"] {
  flex-grow: 0;
}

sa-fr-input {
  width: 100%;
  box-sizing: border-box !important;
  /* !important required for extension, because CSS injection method (and hence order) differs from addon */
  height: 1.5rem;

  /* Change Scratch default styles */
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding-left: 0.4em;
}

sa-fr-input:focus {
  /* Change Scratch default styles */
  box-shadow: none;
}

sa-fr-dropdown {
  display: none;
  position: relative;
  padding: 0.2em 0;
  font-size: 0.75rem;
  line-height: 1;
  overflow-y: auto;
  min-height: 128px;
  max-height: 65vh;
  user-select: none;
  max-width: 100%;
  margin-top: 6px;
  border: none;
}

sa-fr-dropdown-out.visible > sa-fr-dropdown {
  display: block;
}

sa-fr-dropdown > li {
  display: block;
  padding: 0.5em 0.3em;
  white-space: nowrap;
  margin: 0;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

sa-fr-dropdown > li > b {
  background-color: #aaffaa;
  color: black;
}

/* Drop down items */
sa-fr-dropdown > li:hover,
sa-fr-dropdown > li.sel {
  color: var(--sa-block-text-on-bright-background);
  cursor: pointer;
}

sa-fr-dropdown > li::before {
  content: "\25CF "; /* â— */
}

sa-fr-flag {
  color: #4cbf56;
}
/* sa-fr-dropdown added for specificity */
sa-fr-dropdown > sa-fr-flag:hover,
sa-fr-dropdown > sa-fr-flag.sel {
  background-color: #4cbf56;
  color: white;
}

sa-fr-dropdown .sa-block-color {
  color: var(--sa-block-colored-text);
}
sa-fr-dropdown .sa-block-color:hover,
sa-fr-dropdown .sa-block-color.sel {
  background-color: var(--sa-block-bright-background);
}

sa-fr-carousel {
  font-weight: normal;
  position: absolute;
  right: 0;
  white-space: nowrap;
  background-color: inherit;
  z-index: 1;
  padding: 0;
}

sa-fr-carousel-control {
  padding: 0 6px;
}

sa-fr-carousel-control:hover {
  color: #ffff80;
}

/* Ori Style */
#floatWindow {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 20%;
  /*right: 6px;*/
  background-color: #3a83e8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

#floatWindow .fr-header {
  background-color: #5cb85c;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#floatWindow #ref_list {
  background-color: #10e07f;
  width: 100%;
}

#floatWindow #ref_list li.hov {
  background-color: rgba(0, 64, 255, 0.229);
}
