body {
  background: white;
  color: #222;
}

button {
  border: 1px solid #8f8f8f;
  background: #e0e0e0;
  color: #222;
}
#bottom-bar {
  background: #e3e3e3;
}

.message-type {
  border: 1px solid #cfcfcf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
}
.message-type-title {
  color: black;
}
.btn-dropdown img {
  filter: invert(1);
}
.btn-dropdown:hover {
  background: rgba(0, 0, 0, 0.1);
}

.comment {
  background: #f2f2f2;
  border: 1px solid #b9b9b9;
}

.small-icon:not(.colored) {
  filter: brightness(0);
}

.popout-comment {
  filter: brightness(0);
}

#popout {
  filter: brightness(0);
}

.comment.unread,
.unread .comment {
  background-color: #fff;
}

.reply-textarea {
  background-color: #f2f2f2;
  color: black;
}
