<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Scratch Addons - Messaging</title>
    <link rel="stylesheet" href="popup.css" />
    <link href="../../libraries/Sora.css" rel="stylesheet" />
    <script src="../../libraries/vue.js" defer></script>
    <script src="./popup.js" defer></script>
    <base target="_blank" />

    <!-- <comment> element template -->
    <template id="comment-component">
      <div
        class="comment"
        :class="{'child-comment': !isParent, 'unread': unread, 'comment-me' : thisComment.author === username}"
      >
        <a class="comment-author" @click="openProfile(thisComment.author)">{{ thisComment.author }}</a>
        <span class="comment-time" v-show="deleteStep !== 1 && !deleted">
          · {{ commentTimeAgo }}&nbsp;&nbsp;
          <img
            src="../../images/icons/popout.svg"
            class="popout-comment"
            @click="openComment()"
            title="Open comment in new tab"
          />
        </span>
        <a @click="deleteComment()" class="delete-btn" :class="{'bold': deleteStep === 1}" v-show="!deleted"
          >{{ deleteStep === 0 ? "Delete" : "Click to confirm deletion" }}
        </a>
        <div class="comment-content" :class="{'comment-self' : thisComment.author === username}">
          <span class="comment-content-text">{{{ thisComment.content }}}</span>
          <a
            class="reply-button-comment"
            @click="replying = true"
            :class="{'replying': replying}"
            :style="{'visibility': replying ? 'hidden' : 'visible'}"
            v-show="!deleted"
            >Reply</a
          >
        </div>
        <div class="reply-box-comment" v-show="replying">
          <textarea class="reply-textarea" maxlength="500" v-model="replyBoxValue"></textarea>
          <div class="reply-box-buttons">
            <button @click="!postingComment && postComment()" style="background-color: #4d97ff">
              {{ postingComment ? "Posting..." : "Post" }}
            </button>
            <button @click="replying = false" style="background-color: gray" v-show="!postingComment">Cancel</button>
            <span class="comment-chars"> {{500 - lengthOfReplyBoxValue}} characters left </span>
          </div>
        </div>
      </div>
    </template>
  </head>

  <body style="display: none" v-show="mounted">
    <div v-show="!error">
      <!-- Follows -->
      <div class="message-type" v-show="follows.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.follows = !messageTypeExtended.follows"
        >
          <div class="btn-dropdown">
            <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.follows}" />
          </div>
          <span class="message-type-title-text">Follows</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/follow.svg" /> {{ follows.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.follows">
          <div class="username-list">
            <a v-for="follower of follows" @click="openProfile(follower)">{{follower}}</a>
          </div>
        </div>
      </div>

      <!-- Studio invites -->
      <div class="message-type" v-show="studioInvites.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioInvites = !messageTypeExtended.studioInvites"
        >
          <div class="btn-dropdown">
            <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.studioInvites}" />
          </div>
          <span class="message-type-title-text">Studio invites</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/studio-add.svg" /> {{ studioInvites.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioInvites">
          <div class="thread-list" v-for="invite of studioInvites">
            <a @click="openProfile(invite.actor)">{{ invite.actor }}</a> invited you to curate
            <a @click="openStudio(invite.studioId, 'curators')" style="text-decoration: underline"
              >{{ invite.studioTitle }}</a
            >
          </div>
        </div>
      </div>

      <!-- Forum activity -->
      <div class="message-type" v-show="forumActivity.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.forumActivity = !messageTypeExtended.forumActivity"
        >
          <div class="btn-dropdown">
            <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.forumActivity}" />
          </div>
          <span class="message-type-title-text">Forum activity</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/forum.svg" /> {{ forumActivity.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.forumActivity">
          <div class="thread-list" v-for="forumTopic of forumActivity">
            There are new posts in the forum thread
            <a @click="openUnreadPostsForums(forumTopic.topicId)" style="text-decoration: underline"
              >{{ forumTopic.topicTitle }}</a
            >
          </div>
        </div>
      </div>

      <!-- Studio activity -->
      <div class="message-type" v-show="studioActivity.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioActivity = !messageTypeExtended.studioActivity"
        >
          <div class="btn-dropdown">
            <img
              src="../../images/icons/expand.svg"
              alt="v"
              :class="{'reverted': messageTypeExtended.studioActivity}"
            />
          </div>
          <span class="message-type-title-text">Studio activity</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/studio.svg" /> {{ studioActivity.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioActivity">
          <div class="thread-list" v-for="studio of studioActivity">
            There was new activity in
            <a @click="openStudio(studio.studioId)" style="text-decoration: underline">{{ studio.studioTitle }}</a>
          </div>
        </div>
      </div>

      <!-- Remixes -->
      <div class="message-type" v-show="remixes.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.remixes = !messageTypeExtended.remixes"
        >
          <div class="btn-dropdown">
            <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.remixes}" />
          </div>
          <span class="message-type-title-text">Remixes</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/remix.svg" /> {{ remixes.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.remixes">
          <div v-for="remix of remixes" class="thread-list">
            <a @click="openProfile(remix.actor)">{{ remix.actor }}</a> remixed your project "{{ remix.parentTitle }}" as
            <a @click="openProject(remix.projectId)" style="text-decoration: underline">{{ remix.remixTitle }}</a>
          </div>
        </div>
      </div>

      <!-- Profiles -->
      <div
        class="message-type"
        v-for="profile of profilesOrdered"
        v-show="profile.unreadComments && profile.loadedComments"
      >
        <div class="message-type-title">
          <a class="message-type-title-text" @click="openProfile(profile.username)">
            <span v-if="profile.username === username">Your profile</span>
            <span v-else>{{ profile.username }}'s profile</span>
          </a>
          <span class="float-right">
            <span v-show="profile.unreadComments"
              ><img class="small-icon" src="../../images/icons/comment.svg" /> {{profile.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="profile.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of profile.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="user"
              :resource-id="profile.username"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="user"
              :resource-id="profile.username"
            ></comment>
          </div>
        </div>
      </div>
      <!-- Studios -->
      <div class="message-type" v-for="studio of studios" v-show="studio.unreadComments && studio.loadedComments">
        <div class="message-type-title">
          <a class="message-type-title-text" @click="openStudio(studio.id)">Studio: {{ studio.title }}</a>
          <span class="float-right">
            <span v-show="studio.unreadComments"
              ><img class="small-icon" src="../../images/icons/comment.svg" /> {{studio.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="studio.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of studio.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="gallery"
              :resource-id="studio.id"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="gallery"
              :resource-id="studio.id"
            ></comment>
          </div>
        </div>
      </div>

      <!-- Projects -->
      <div
        class="message-type"
        v-for="project of projectsOrdered"
        v-show="project.unreadComments && project.loadedComments || 
              !project.unreadComments && commentsReady"
      >
        <div class="message-type-title">
          <a class="message-type-title-text" @click="openProject(project.id)">{{ project.title }}</a>
          <span class="float-right">
            <span v-show="project.loves"
              ><img class="small-icon colored" src="../../images/icons/heart.svg" /> {{project.loves}}</span
            >
            <span v-show="project.favorites"
              ><img class="small-icon colored" src="../../images/icons/star.svg" /> {{project.favorites}}</span
            >
            <span v-show="project.unreadComments"
              ><img class="small-icon" src="../../images/icons/comment.svg" /> {{project.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="project.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of project.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="project"
              :resource-id="project.id"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="project"
              :resource-id="project.id"
            ></comment>
          </div>
        </div>
      </div>
    </div>

    <!-- Show errors, loading, etc. -->
    <div style="text-align: center; font-size: 0.9rem; margin-bottom: 3.5rem; font-weight: bold">
      <br />
      <span v-show="error === 'notReady'">Loading messages...</span>
      <span v-show="error === 'loggedOut'">Can't access messages, please log in on Scratch.</span>
      <span v-show="error === 'addonDisabled'"
        ><br />Please enable the Scratch Messaging addon in
        <a href="/webpages/settings/index.html" target="_blank">Scratch Addons settings</a>.</span
      >
      <span v-show="messagesReady && !commentsReady">Loading comments...</span>
      <button @click="reloadPage()" v-show="commentsReady && !canShowMoreMessages">
        <img class="small-icon" src="../../images/icons/reload.svg" /> Reload messages
      </button>
      <span v-show="messagesReady && showingMessagesAmt === 0">No unread messages.<br /><br /></span>
      <button @click="showAllMessages = true" v-show="canShowMoreMessages">
        <img class="small-icon" src="../../images/icons/plus.svg" /> Show more messages
      </button>
      <br />
    </div>

    <!-- Bottom bar-->
    <div id="bottom-bar" v-show="messagesReady">
      <a @click="markAsRead()" v-show="!markedAsRead">Mark messages as read</a>
      <span v-show="markedAsRead" style="font-weight: bold"
        ><img class="small-icon" src="../../images/icons/read.svg" /> Marked as read</span
      >&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://scratch.mit.edu/messages" id="open-messages"
        >Open messages page&nbsp;&nbsp;<img src="../../images/icons/popout.svg" id="popout"
      /></a>
    </div>
  </body>
</html>
