button {
  color: var(--content-text);
  font-family: inherit;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid var(--control-border);
  background: var(--button-background);
  height: 32px;
  box-sizing: border-box;
  padding: 0 12px;
  overflow: hidden;
  transition: 0.2s ease;
}
button:hover {
  background: var(--button-hover-background);
}
button > span {
  vertical-align: middle;
}

.contents {
  max-height: calc(100vh - 32px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-text) transparent;
}

.btn-dropdown {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
}
.message-type-title:hover .btn-dropdown {
  background: var(--hover-highlight);
}

.reverted {
  transform: rotate(180deg);
}

.btn-dropdown img {
  height: 24px;
  filter: var(--content-icon-filter);
}

.message-type {
  border-radius: 4px;
  border: 1px solid var(--content-border);
  background: var(--content-background);
  margin: 10px;
  box-shadow: var(--content-shadow);
}
.message-type-admin {
  border-color: var(--brand-orange);
}

.message-type-title {
  font-size: 12px;
  color: var(--content-text);
  padding: 6px;
  padding-inline-end: 9px;
  cursor: default;
  display: flex;
  align-items: center;
  user-select: none;
}
.fullscreen .message-type-title {
  padding: 10px;
  padding-inline-end: 12px;
}
.message-type-title:not(.hover-reverse) {
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 999;
  border-bottom: 1px solid var(--content-border);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.message-type-title:not(.hover-reverse) .message-type-title-text {
  margin-inline-start: 10px;
}

.thread-list,
.username-list {
  color: var(--description-text);
  font-size: 12px;
  padding-inline: 16px;
}
.fullscreen .thread-list,
.fullscreen .username-list {
  padding-inline: 20px;
}
.thread-list {
  padding-bottom: 20px;
}
.thread-list:first-child,
.username-list {
  padding-top: 5px;
}
.thread-list:last-child,
.username-list {
  padding-bottom: 16px;
}
.username-list > a {
  display: inline-block;
  margin-inline-end: 10px;
}
.hover-reverse {
  cursor: pointer;
}
.small-icon {
  height: 14px;
  vertical-align: text-bottom;
}
.small-icon:not(.colored) {
  filter: var(--content-icon-filter);
}
button > .small-icon {
  margin-inline-start: -2px;
  margin-inline-end: 6px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.message-type-title-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-inline-end: auto;
  margin-inline-start: 6px;
}
html.fullscreen .message-type-title-text {
  margin-inline-start: 10px;
}
a.message-type-title-text {
  color: var(--content-text);
}
.float-right {
  margin-inline-start: 6px;
  white-space: nowrap;
  font-size: 12px;
}
.float-right > span {
  display: inline-block;
  margin-inline-start: 6px;
}
.float-right > div {
  display: inline-block;
}

.tooltip {
  padding-inline-start: 10px;
}

.comment {
  padding: 3px 8px;
  background: var(--comment-background);
  border: 1px solid var(--control-border);
  border-radius: 8px;
  margin: 8px;
  font-size: 12px;
}
.fullscreen .comment {
  margin-inline: 12px;
}
.comment.unread,
.unread .comment {
  background-color: var(--unread-comment-background);
}
.comment-content {
  word-break: break-word;
  clip-path: inset(0 0 0 0); /* keep zalgo in this box */
}
.comment-content-text {
  display: inline-block;
}
.comment-content-text > span,
.comment-content-text .dom-element-renderer > * {
  margin-right: 10px;
  /* For multi-line comments */
  white-space: break-spaces;
}
.comment-author {
  font-weight: 600;
  color: var(--dark-red-text);
}
.comment-me .comment-author {
  font-weight: 700;
  color: var(--green-text);
}
.unread .comment-author {
  font-weight: 700;
}
.comment-time {
  /*font-weight: 200;*/
  opacity: 0.5;
}
.popout-comment {
  cursor: pointer;
  height: 10px;
  vertical-align: baseline;
  padding-left: 2px;
  filter: var(--content-icon-filter);
}
[dir="rtl"] .popout-comment {
  transform: scaleX(-1);
}
.delete-btn {
  float: right;
  opacity: 0;
  color: var(--gray-text);
  font-size: 0.65rem;
  padding-top: 2px;
}
.bold {
  font-weight: 600;
  color: var(--red);
}
.child-comment {
  margin-inline-start: 3em;
}
.fullscreen .child-comment {
  margin-inline-start: calc(3em + 12px);
}
.unread {
  font-weight: 500;
}
.reply-button-comment {
  opacity: 0;
  color: var(--blue-text);
  font-weight: 600;
  user-select: none;
}
.comment:hover .reply-button-comment,
.comment:hover .delete-btn {
  opacity: 1;
}
.reply-textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 5rem;
  font-family: Arial, sans-serif;
  padding: 8px;
  resize: vertical;
  margin-top: 8px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid var(--control-border);
  background-color: var(--input-background);
  color: var(--content-text);
  transition: 0.2s ease;
}
.reply-textarea:focus {
  outline: none;
  border-color: var(--brand-orange);
  box-shadow: var(--input-focus-shadow);
}
.reply-box-buttons {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 5px;
}
.reply-box-buttons > button {
  margin-inline-end: 8px;
}
.post-button {
  background-color: var(--blue);
  color: var(--white-text);
}
.post-button:hover {
  background-color: var(--blue);
  border-color: var(--blue-variant);
}
.comment-chars {
  margin-inline-start: auto;
  font-weight: normal;
}

.status-container {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.status-empty {
  display: block;
  margin-block: 10px;
}

#bottom-bar {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--content-background);
  border-top: 1px solid var(--content-border);
  font-size: 12px;
  text-align: center;
  box-shadow: var(--content-shadow);
  line-height: 15px;
  min-height: 31px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  user-select: none;
}
#bottom-bar > * {
  padding: 8px 0;
}
#bottom-bar > a {
  font-weight: var(--brand-orange-min-font-weight);
}
#bottom-bar > a:hover {
  color: var(--brand-orange);
  text-decoration: none;
}
#bottom-bar .separator {
  padding-inline: 5px;
}
.marked-as-read {
  font-weight: 600;
}
#popout {
  height: 10px;
  vertical-align: baseline;
  margin-left: 5px;
  opacity: 0.6;
  filter: var(--content-icon-filter);
}
[dir="rtl"] #popout {
  transform: scaleX(-1);
}
#open-messages {
  color: inherit;
}
#open-messages:hover #popout {
  opacity: 1;
  filter: none;
}

.dom-element-renderer {
  display: contents;
}
