<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <script src="/webpages/set-lang.js" defer></script>
    <link rel="stylesheet" href="popup.css" />
    <script src="/libraries/vue.js" defer></script>
    <link rel="preload" href="light.css" as="style" />
    <script src="./popup.js" type="module"></script>
    <style>
      @import url("/webpages/styles/components/tooltips.css");
      @import url("/webpages/styles/components/popup.css");
    </style>
    <base target="_blank" />

    <!-- <comment> element template -->
    <template id="comment-component">
      <div
        class="comment"
        :class="{'child-comment': !isParent, 'unread': unread, 'comment-me' : thisComment.author === username}"
      >
        <a class="comment-author" @click="openProfile(thisComment.author)">{{ thisComment.author }}</a>{{
        thisComment.scratchTeam ? "*" : "" }}
        <span class="comment-time" v-show="deleteStep !== 1 && !deleted">
          · {{ commentTimeAgo }}&nbsp;&nbsp;
          <img
            src="/images/icons/popout.svg"
            class="popout-comment"
            @click="openComment()"
            title="{{ messages.openNewTabMsg }}"
          />
        </span>
        <a @click="deleteComment()" class="delete-btn" :class="{'bold': deleteStep === 1}" v-show="!deleted"
          >{{ deleteStep === 0 ? messages.deleteMsg : messages.deleteConfirmMsg }}
        </a>
        <div class="comment-content" :class="{'comment-self' : thisComment.author === username}">
          <span class="comment-content-text">{{{ thisComment.content }}}</span>
          <a
            class="reply-button-comment"
            @click="replying = true"
            :class="{'replying': replying}"
            :style="{'visibility': replying ? 'hidden' : 'visible'}"
            v-show="!deleted"
            >{{ messages.replyMsg }}</a
          >
        </div>
        <div class="reply-box-comment" v-show="replying">
          <textarea class="reply-textarea" maxlength="500" v-model="replyBoxValue"></textarea>
          <div class="reply-box-buttons">
            <button @click="!postingComment && postComment()" style="background-color: #4d97ff">
              {{ postingComment ? messages.postingMsg : messages.postMsg }}
            </button>
            <button @click="replying = false" style="background-color: gray" v-show="!postingComment">
              {{ messages.cancelMsg }}
            </button>
            <span class="comment-chars"> {{ replyBoxLeftMsg }}</span>
          </div>
        </div>
      </div>
    </template>
  </head>

  <body style="display: none" v-show="mounted">
    <div v-show="!error">
      <!-- Follows -->
      <div class="message-type" v-show="follows.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.follows = !messageTypeExtended.follows"
        >
          <div class="btn-dropdown">
            <img src="/images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.follows}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.followsMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="/images/icons/follow.svg" /> {{ follows.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.follows">
          <div class="username-list">
            <a v-for="follower of follows" href="https://scratch.mit.edu/users/{{ follower }}">{{follower}}</a>
          </div>
        </div>
      </div>

      <!-- Studio invites -->
      <div class="message-type" v-show="studioInvites.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioInvites = !messageTypeExtended.studioInvites"
        >
          <div class="btn-dropdown">
            <img src="/images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.studioInvites}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.studioInvitesMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="/images/icons/studio-add.svg" /> {{ studioInvites.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioInvites">
          <div class="thread-list" v-for="invite of studioInvites">{{{ studioInviteHTML(invite) }}}</div>
        </div>
      </div>

      <!-- Studio promotions -->
      <div class="message-type" v-show="studioPromotions.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioPromotions = !messageTypeExtended.studioPromotions"
        >
          <div class="btn-dropdown">
            <img src="/images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.studioPromotions}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.studioPromotionsMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="/images/icons/adminusers.svg" /> {{ studioPromotions.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioPromotions">
          <div class="thread-list" v-for="promotion of studioPromotions">{{{ studioPromotionHTML(promotion) }}}</div>
        </div>
      </div>

      <!-- Forum activity -->
      <div class="message-type" v-show="forumActivity.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.forumActivity = !messageTypeExtended.forumActivity"
        >
          <div class="btn-dropdown">
            <img src="/../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.forumActivity}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.forumMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="/images/icons/forum.svg" /> {{ forumActivity.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.forumActivity">
          <div class="thread-list" v-for="forumTopic of forumActivity">{{{ forumHTML(forumTopic) }}}</div>
        </div>
      </div>

      <!-- Studio activity -->
      <div class="message-type" v-show="studioActivity.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioActivity = !messageTypeExtended.studioActivity"
        >
          <div class="btn-dropdown">
            <img src="/images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.studioActivity}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.studioActivityMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="/images/icons/studio.svg" /> {{ studioActivity.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioActivity">
          <div class="thread-list" v-for="studio of studioActivity">{{{ studioActivityHTML(studio) }}}</div>
        </div>
      </div>

      <!-- Remixes -->
      <div class="message-type" v-show="remixes.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.remixes = !messageTypeExtended.remixes"
        >
          <div class="btn-dropdown">
            <img src="/images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.remixes}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.remixesMsg }}</span>
          <span class="float-right"><img class="small-icon" src="/images/icons/remix.svg" /> {{ remixes.length }}</span>
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.remixes">
          <div v-for="remix of remixes" class="thread-list">{{{ remixHTML(remix) }}}</div>
        </div>
      </div>

      <!-- Profiles -->
      <div
        class="message-type"
        v-for="profile of profilesOrdered"
        v-show="profile.unreadComments && profile.loadedComments"
      >
        <div class="message-type-title">
          <a class="message-type-title-text" @click="openProfile(profile.username)">
            <span v-if="profile.username === username">{{ uiMessages.yourProfileMsg }}</span>
            <span v-else>{{ othersProfile(profile.username) }}</span>
          </a>
          <span class="float-right">
            <span v-show="profile.unreadComments"
              ><img class="small-icon" src="/images/icons/comment.svg" /> {{profile.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="profile.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of profile.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="user"
              :resource-id="profile.username"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="user"
              :resource-id="profile.username"
            ></comment>
          </div>
        </div>
      </div>
      <!-- Studios -->
      <div class="message-type" v-for="studio of studios" v-show="studio.unreadComments && studio.loadedComments">
        <div class="message-type-title">
          <a class="message-type-title-text" @click="openStudio(studio.id)">{{ studioText(studio.title) }}</a>
          <span class="float-right">
            <span v-show="studio.unreadComments"
              ><img class="small-icon" src="/images/icons/comment.svg" /> {{studio.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="studio.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of studio.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="gallery"
              :resource-id="studio.id"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="gallery"
              :resource-id="studio.id"
            ></comment>
          </div>
        </div>
      </div>

      <!-- Projects -->
      <div
        class="message-type"
        v-for="(i, project) in projectsOrdered"
        v-show="project.unreadComments && project.loadedComments ||
              !project.unreadComments && commentsReady"
      >
        <div class="message-type-title" :style="{zIndex: 9999 - i}">
          <a class="message-type-title-text" @click="openProject(project.id)">{{ project.title }}</a>
          <span class="float-right">
            <div
              class="tooltip"
              v-if="project.loveCount || project.favoriteCount"
              style="display: inline-block; padding-left: 6px; padding-right: 6px"
            >
              <span v-show="project.loveCount"
                ><img class="small-icon colored" src="/images/icons/heart.svg" /> {{project.loveCount}}</span
              >
              <span v-show="project.favoriteCount"
                ><img class="small-icon colored" src="/images/icons/star.svg" /> {{project.favoriteCount}}</span
              >
              <span class="tooltiptext tooltiptextleft" v-html="projectLoversAndFavers(project)"></span>
            </div>
            <span v-show="project.unreadComments"
              ><img class="small-icon" src="/images/icons/comment.svg" /> {{project.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="project.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of project.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="project"
              :resource-id="project.id"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="project"
              :resource-id="project.id"
            ></comment>
          </div>
        </div>
      </div>
    </div>

    <!-- Show errors, loading, etc. -->
    <div style="text-align: center; font-size: 0.9rem; padding-bottom: 3.5rem; font-weight: bold">
      <br />
      <span v-show="error === 'notReady'">{{ uiMessages.loadingMsg }}</span>
      <span v-show="error === 'loggedOut'">{{ uiMessages.loggedOutMsg }}</span>
      <span v-show="messagesReady && !commentsReady">{{ uiMessages.loadingCommentsMsg }}</span>
      <button @click="reloadPage()" v-show="commentsReady && !canShowMoreMessages">
        <img class="small-icon" src="/images/icons/reload.svg" /> {{ uiMessages.reloadMsg }}
      </button>
      <span v-show="messagesReady && showingMessagesAmt === 0">{{ uiMessages.noUnreadMsg }}<br /><br /></span>
      <button @click="showAllMessages = true" v-show="canShowMoreMessages">
        <img class="small-icon" src="/images/icons/plus.svg" /> {{ uiMessages.showMoreMsg }}
      </button>
    </div>

    <!-- Bottom bar-->
    <div id="bottom-bar" v-show="messagesReady">
      <a @click="markAsRead()" v-show="!markedAsRead">{{ uiMessages.markAsReadMsg }}</a>
      <span v-show="markedAsRead" style="font-weight: bold"
        ><img class="small-icon" src="/images/icons/read.svg" /> {{ uiMessages.markedAsReadMsg }}</span
      >&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://scratch.mit.edu/messages" id="open-messages"
        >{{ uiMessages.openMessagesMsg }}&nbsp;&nbsp;<img src="/images/icons/popout.svg" id="popout"
      /></a>
    </div>
  </body>
</html>
