<template>
  <div class="contents">
    <div v-show="!error">
      <!-- Scratch Team Messages -->
      <div class="message-type message-type-admin" v-show="stMessages.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.stMessages = !messageTypeExtended.stMessages"
        >
          <div class="btn-dropdown">
            <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.stMessages}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.stMessagesMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/notice.svg" /> {{ stMessages.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.stMessages">
          <div class="comment" v-for="alert of stMessages">
            <span class="comment-time">{{ alert.datetime_created }}</span>
            <a class="delete-btn" @click="dismissAlert(alert.id)">{{ uiMessages.dismissMsg }}</a>
            <div v-html="alert.message"></div>
          </div>
        </div>
      </div>

      <!-- Follows -->
      <div class="message-type" v-show="follows.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.follows = !messageTypeExtended.follows"
        >
          <div class="btn-dropdown">
            <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.follows}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.followsMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/follow.svg" /> {{ follows.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.follows">
          <div class="username-list">
            <a v-for="follower of follows" href="https://scratch.mit.edu/users/{{ follower }}/">{{follower}}</a>
          </div>
        </div>
      </div>

      <!-- Studio invites -->
      <div class="message-type" v-show="studioInvites.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioInvites = !messageTypeExtended.studioInvites"
        >
          <div class="btn-dropdown">
            <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.studioInvites}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.studioInvitesMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/studio-add.svg" /> {{ studioInvites.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioInvites">
          <div class="thread-list" v-for="invite of studioInvites">{{{ studioInviteHTML(invite) }}}</div>
        </div>
      </div>

      <!-- Studio promotions -->
      <div class="message-type" v-show="studioPromotions.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioPromotions = !messageTypeExtended.studioPromotions"
        >
          <div class="btn-dropdown">
            <img
              src="../../images/icons/expand.svg"
              alt="v"
              :class="{'reverted': messageTypeExtended.studioPromotions}"
            />
          </div>
          <span class="message-type-title-text">{{ uiMessages.studioPromotionsMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/adminusers.svg" /> {{ studioPromotions.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioPromotions">
          <div class="thread-list" v-for="promotion of studioPromotions">{{{ studioPromotionHTML(promotion) }}}</div>
        </div>
      </div>

      <!-- Studio host transfer -->
      <div class="message-type" v-show="studioHostTransfers.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioHostTransfers = !messageTypeExtended.studioHostTransfers"
        >
          <div class="btn-dropdown">
            <img
              src="../../images/icons/expand.svg"
              alt="v"
              :class="{'reverted': messageTypeExtended.studioHostTransfers}"
            />
          </div>
          <span class="message-type-title-text">{{ uiMessages.studioHostTransfersMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/users.svg" /> {{ studioHostTransfers.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioHostTransfers">
          <div class="thread-list" v-for="transfer of studioHostTransfers">
            {{{ studioHostTransferHTML(transfer) }}}
          </div>
        </div>
      </div>

      <!-- Forum activity -->
      <div class="message-type" v-show="forumActivity.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.forumActivity = !messageTypeExtended.forumActivity"
        >
          <div class="btn-dropdown">
            <img
              src="../../../images/icons/expand.svg"
              alt="v"
              :class="{'reverted': messageTypeExtended.forumActivity}"
            />
          </div>
          <span class="message-type-title-text">{{ uiMessages.forumMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/forum.svg" /> {{ forumActivity.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.forumActivity">
          <div class="thread-list" v-for="forumTopic of forumActivity">{{{ forumHTML(forumTopic) }}}</div>
        </div>
      </div>

      <!-- Studio activity -->
      <div class="message-type" v-show="studioActivity.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.studioActivity = !messageTypeExtended.studioActivity"
        >
          <div class="btn-dropdown">
            <img
              src="../../images/icons/expand.svg"
              alt="v"
              :class="{'reverted': messageTypeExtended.studioActivity}"
            />
          </div>
          <span class="message-type-title-text">{{ uiMessages.studioActivityMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/studio.svg" /> {{ studioActivity.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.studioActivity">
          <div class="thread-list" v-for="studio of studioActivity">{{{ studioActivityHTML(studio) }}}</div>
        </div>
      </div>

      <!-- Remixes -->
      <div class="message-type" v-show="remixes.length">
        <div
          class="message-type-title hover-reverse"
          @click="messageTypeExtended.remixes = !messageTypeExtended.remixes"
        >
          <div class="btn-dropdown">
            <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': messageTypeExtended.remixes}" />
          </div>
          <span class="message-type-title-text">{{ uiMessages.remixesMsg }}</span>
          <span class="float-right"
            ><img class="small-icon" src="../../images/icons/remix.svg" /> {{ remixes.length }}</span
          >
        </div>
        <div class="message-type-details" v-show="messageTypeExtended.remixes">
          <div v-for="remix of remixes" class="thread-list">{{{ remixHTML(remix) }}}</div>
        </div>
      </div>

      <!-- Profiles -->
      <div
        class="message-type"
        v-for="profile of profilesOrdered"
        v-show="profile.unreadComments && profile.loadedComments"
      >
        <div class="message-type-title">
          <a
            class="message-type-title-text nolink"
            rel="noreferrer noopener"
            target="_blank"
            href="https://scratch.mit.edu/users/{{ profile.username }}/"
          >
            <span v-if="profile.username === username">{{ uiMessages.yourProfileMsg }}</span>
            <span v-else>{{ othersProfile(profile.username) }}</span>
          </a>
          <span class="float-right">
            <span v-show="profile.unreadComments"
              ><img class="small-icon" src="../../images/icons/comment.svg" /> {{profile.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="profile.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of profile.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="user"
              :resource-id="profile.username"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="user"
              :resource-id="profile.username"
            ></comment>
          </div>
        </div>
      </div>
      <!-- Studios -->
      <div class="message-type" v-for="studio of studios" v-show="studio.unreadComments && studio.loadedComments">
        <div class="message-type-title">
          <a
            class="message-type-title-text nolink"
            rel="noopener noreferrer"
            target="_blank"
            href="https://scratch.mit.edu/studios/{{ studio.id }}/"
            >{{ studioText(studio.title) }}</a
          >
          <span class="float-right">
            <span v-show="studio.unreadComments"
              ><img class="small-icon" src="../../images/icons/comment.svg" /> {{studio.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="studio.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of studio.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="gallery"
              :resource-id="studio.id"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="gallery"
              :resource-id="studio.id"
            ></comment>
          </div>
        </div>
      </div>

      <!-- Projects -->
      <div
        class="message-type"
        v-for="(i, project) in projectsOrdered"
        v-show="project.unreadComments && project.loadedComments ||
            !project.unreadComments && commentsReady"
      >
        <div class="message-type-title" :style="{zIndex: 9999 - i}">
          <a
            class="message-type-title-text nolink"
            target="_blank"
            rel="noopener noreferrer"
            href="https://scratch.mit.edu/projects/{{ project.id }}/"
            >{{ project.title }}</a
          >
          <span class="float-right">
            <div class="tooltip" v-if="project.loveCount || project.favoriteCount">
              <span class="tooltip-indicator">
                <span v-show="project.loveCount"
                  ><img class="small-icon colored" src="../../images/icons/heart.svg" /> {{project.loveCount}}</span
                >
                <span v-show="project.favoriteCount"
                  ><img class="small-icon colored" src="../../images/icons/star.svg" /> {{project.favoriteCount}}</span
                >
              </span>
              <span class="tooltiptext tooltiptextleft" v-html="projectLoversAndFavers(project)"></span>
            </div>
            <span v-show="project.unreadComments"
              ><img class="small-icon" src="../../images/icons/comment.svg" /> {{project.unreadComments}}</span
            >
          </span>
        </div>
        <div class="message-type-details" v-show="project.commentChains.length">
          <div
            class="comment-chain"
            v-for="parentCommentId of project.commentChains"
            :class="{'unread': isCommentUnread(parentCommentId) }"
          >
            <comment
              :comment-id="parentCommentId"
              :comments-obj="comments"
              :is-parent="true"
              :unread="false"
              resource-type="project"
              :resource-id="project.id"
            ></comment>
            <comment
              v-for="childCommentId of comments[parentCommentId].children"
              :comment-id="childCommentId"
              :comments-obj="comments"
              :is-parent="false"
              :unread="isCommentUnread(childCommentId)"
              resource-type="project"
              :resource-id="project.id"
            ></comment>
          </div>
        </div>
      </div>
    </div>

    <!-- Show errors, loading, etc. -->
    <div class="status-container">
      <span v-show="error === 'notReady'">{{ uiMessages.loadingMsg }}</span>
      <span v-show="error === 'loggedOut'">{{ uiMessages.loggedOutMsg }}</span>
      <span v-show="messagesReady && !commentsReady">{{ uiMessages.loadingCommentsMsg }}</span>
      <button @click="reloadPage()" v-show="commentsReady && !canShowMoreMessages">
        <img class="small-icon" src="../../images/icons/reload.svg" /><span>{{ uiMessages.reloadMsg }}</span>
      </button>
      <span v-show="messagesReady && showingMessagesAmt === 0 && stMessages.length === 0" class="status-empty"
        >{{ uiMessages.noUnreadMsg }}</span
      >
      <button @click="showAllMessages = true" v-show="canShowMoreMessages">
        <img class="small-icon" src="../../images/icons/plus.svg" /><span>{{ uiMessages.showMoreMsg }}</span>
      </button>
    </div>
  </div>

  <!-- Bottom bar-->
  <div id="bottom-bar" v-show="messagesReady">
    <a @click="markAsRead()" v-show="!markedAsRead">{{ uiMessages.markAsReadMsg }}</a>
    <span v-show="markedAsRead" class="marked-as-read">
      <img class="small-icon" src="../../images/icons/read.svg" />
      {{ uiMessages.markedAsReadMsg }}
    </span>
    <span class="separator">|</span>
    <a href="https://scratch.mit.edu/messages" target="_blank" id="open-messages">
      {{ uiMessages.openMessagesMsg }}<img src="../../images/icons/popout.svg" id="popout" />
    </a>
  </div>
</template>

<style>
  button {
    color: var(--content-text);
    font-family: inherit;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid var(--control-border);
    background: var(--button-background);
    height: 32px;
    box-sizing: border-box;
    padding: 0 12px;
    overflow: hidden;
    transition: 0.2s ease;
  }
  button:hover {
    background: var(--button-hover-background);
  }
  button > span {
    vertical-align: middle;
  }

  .popup-container {
    display: flex;
    flex-direction: column;
  }

  .contents {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--gray-text) transparent;
  }

  .btn-dropdown {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
  }
  .message-type-title:hover .btn-dropdown {
    background: var(--hover-highlight);
  }

  .reverted {
    transform: rotate(180deg);
  }

  .btn-dropdown img {
    height: 24px;
    filter: var(--content-icon-filter);
  }

  .message-type {
    border-radius: 4px;
    border: 1px solid var(--content-border);
    background: var(--content-background);
    margin: 10px;
    box-shadow: var(--content-shadow);
  }
  .message-type-admin {
    border-color: var(--brand-orange);
  }

  .message-type-title {
    font-size: 12px;
    color: var(--content-text);
    padding: 6px;
    padding-inline-end: 9px;
    cursor: default;
    display: flex;
    align-items: center;
    user-select: none;
  }
  .fullscreen .message-type-title {
    padding: 10px;
    padding-inline-end: 12px;
  }
  .message-type-title:not(.hover-reverse) {
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 999;
    border-bottom: 1px solid var(--content-border);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .message-type-title:not(.hover-reverse) .message-type-title-text {
    margin-inline-start: 10px;
  }

  .thread-list,
  .username-list {
    color: var(--description-text);
    font-size: 12px;
    padding-inline: 16px;
  }
  .fullscreen .thread-list,
  .fullscreen .username-list {
    padding-inline: 20px;
  }
  .thread-list {
    padding-bottom: 20px;
  }
  .thread-list:first-child,
  .username-list {
    padding-top: 5px;
  }
  .thread-list:last-child,
  .username-list {
    padding-bottom: 16px;
  }
  .username-list > a {
    display: inline-block;
    margin-inline-end: 10px;
  }
  .hover-reverse {
    cursor: pointer;
  }
  .small-icon {
    height: 14px;
    vertical-align: text-bottom;
  }
  .small-icon:not(.colored) {
    filter: var(--content-icon-filter);
  }
  button > .small-icon {
    margin-inline-start: -2px;
    margin-inline-end: 6px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }
  .message-type-title-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-inline-end: auto;
    margin-inline-start: 6px;
  }
  .fullscreen .message-type-title-text {
    margin-inline-start: 10px;
  }
  a.message-type-title-text {
    color: var(--content-text);
  }
  .float-right {
    margin-inline-start: 6px;
    white-space: nowrap;
    font-size: 12px;
  }
  .float-right > span {
    display: inline-block;
    margin-inline-start: 6px;
  }
  .float-right > div {
    display: inline-block;
  }

  .tooltip {
    padding-inline-start: 10px;
  }

  .status-container {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  .status-empty {
    display: block;
    margin-block: 10px;
  }

  #bottom-bar {
    background: var(--content-background);
    border-top: 1px solid var(--content-border);
    font-size: 12px;
    text-align: center;
    box-shadow: var(--content-shadow);
    line-height: 15px;
    min-height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    user-select: none;
  }
  #bottom-bar > * {
    padding-top: 6px;
    padding-bottom: 8px;
  }
  #bottom-bar > a {
    font-weight: var(--brand-orange-min-font-weight);
  }
  #bottom-bar > a:hover {
    color: var(--brand-orange);
    text-decoration: none;
  }
  #bottom-bar .separator {
    padding-inline: 5px;
  }
  .marked-as-read {
    font-weight: 600;
  }
  #popout {
    height: 10px;
    vertical-align: baseline;
    margin-left: 5px;
    opacity: 0.6;
    filter: var(--content-icon-filter);
  }
  [dir="rtl"] #popout {
    transform: scaleX(-1);
  }
  #open-messages {
    color: inherit;
  }
  #open-messages:hover #popout {
    opacity: 1;
    filter: none;
  }
</style>
