button {
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #333;
  background: #2a2a2a;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.contents {
  max-height: calc(100vh - 24px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
}

.btn-dropdown {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
}
.message-type-title:hover .btn-dropdown {
  background: rgba(255, 255, 255, 0.05);
}

.reverted {
  transform: rotate(180deg);
}

.small-icon.inverted:not(.colored) {
  filter: invert(1);
}

.btn-dropdown img {
  height: 23px;
}

.message-type {
  border-radius: 4px;
  border: 1px solid #333;
  background: #2a2a2a;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.message-type-title {
  font-size: 12px;
  color: white;
  padding: 6px;
  padding-inline-end: 8px;
  cursor: default;
  display: flex;
  align-items: center;
  user-select: none;
}
.message-type-title:not(.hover-reverse) {
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 999;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.thread-list {
  padding: 0px 16px 20px 16px;
  font-size: 12px;
}

.comment.st-alert {
  padding: 10px;
}

.hover-reverse {
  cursor: pointer;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 10px 0px;
}
.small-icon {
  height: 14px;
  vertical-align: text-bottom;
}
.small-icon:not(.colored) {
  filter: brightness(100);
}
.message-type-title-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-inline-end: auto;
  margin-inline-start: 10px;
  max-width: 75%;
}
a.message-type-title-text {
  color: white;
}
.float-right {
  margin-inline-start: 6px;
  white-space: nowrap;
  font-size: 12px;
}
.float-right > span {
  display: inline-block;
  margin-inline-start: 6px;
}

.tooltip {
  padding-inline-start: 10px;
}

.username-list {
  padding: 0px 16px 20px 16px;
  font-size: 12px;
}

.username-list > a {
  display: inline-block;
  margin-inline-end: 10px;
}

.thread-list:last-child {
  margin-bottom: 0px !important;
}

.message-type-details > .comment-chain:last-child {
  border-bottom: none;
}
.comment {
  padding: 3px 8px;
  background: #222222;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 8px;
  font-size: 12px;
}
.comment.unread,
.unread .comment {
  background-color: #000;
}
.comment-content {
  word-break: break-word;
  clip-path: inset(0 0 0 0); /* keep zalgo in this box */
}
.comment-content-text {
  margin-right: 10px;
}
.comment-content-text:after {
  /* So that empty comments take up a line */
  content: "\200b";
}
.comment-author {
  font-weight: 600;
  color: #d84a27;
}
.comment-me .comment-author {
  font-weight: 700;
  color: green;
}
.unread .comment-author {
  font-weight: 700;
}
.comment-time {
  /*font-weight: 200;*/
  opacity: 0.5;
}
.popout-comment {
  cursor: pointer;
  height: 10px;
  vertical-align: text-top;
  filter: brightness(100);
}
[dir="rtl"] .popout-comment {
  transform: scaleX(-1);
}
.delete-btn {
  float: right;
  opacity: 0;
  color: gray;
  font-size: 0.65rem;
  padding-top: 2px;
}
.bold {
  font-weight: bold;
  color: red;
}
.child-comment {
  /*padding-left: 4px;*/
  /*margin-left: 24px;*/
  /*border-top: 1px dashed gray;*/
  margin-inline-start: 3em;
}
.unread {
  /*border-left: 3px solid #0f8bc0;*/
  font-weight: 500;
}
.reply-button-comment {
  opacity: 0;
  color: #0f8bc0;
  font-weight: bold;
  user-select: none;
}
.comment:hover .reply-button-comment,
.comment:hover .delete-btn {
  opacity: 1;
}
.reply-textarea {
  width: 100%;
  box-sizing: border-box;
  height: 5rem;
  font-family: Arial;
  padding: 8px;
  resize: vertical;
  margin-top: 8px;
  font-size: 12px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #222222;
  color: white;
}
.reply-box-buttons {
  padding-inline-end: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply-box-buttons > button {
  border-radius: 0.25rem;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 8px;
  outline: none;
  margin-inline-end: 4px;
  cursor: pointer;
}
.comment-chars {
  margin-inline-start: auto;
  font-weight: normal;
}

#bottom-bar {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
  border-top: 1px solid #00000038;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.1);
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bottom-bar > a:hover {
  color: #ff7b26;
  text-decoration: none;
}
#popout {
  height: 0.8rem;
  vertical-align: middle;
  opacity: 0.6;
  filter: brightness(100);
}
[dir="rtl"] #popout {
  transform: scaleX(-1);
}
#open-messages {
  color: inherit;
}
#open-messages:hover #popout {
  opacity: 1;
  filter: none;
}
/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* hide track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
}
