.postfootright {
  margin-bottom: 4px;
}

.my-ocular-reaction-button {
  cursor: pointer;
  user-select: none;
  background-color: var(--ocular-reaction-bg-color);
  margin: 0 5px;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0 0 2px var(--ocular-reaction-color);
  opacity: 1;
  /* transition: opacity .5s; */ /* due to the way the list is rerendered, css transistions wont do anything */
}
.my-ocular-reaction-button.selected {
  color: #fff;
  background-color: var(--ocular-reaction-color);
}
