.my-ocular-status {
  display: inline !important;
  font-style: italic;
}

.my-ocular-dot {
  height: 10px;
  width: 10px;
  margin-left: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block !important;
}
