[class^="sprite-info_sprite-info_"] {
  height: 0;
  padding: 0 0.75rem;
  overflow: hidden;
  transition-property: height, padding, transform;
  transition-duration: var(--spriteProperties-transitionDuration);
}

[class^="sprite-selector_scroll-wrapper_"] {
  height: 100%;
  transition-property: height;
  transition-duration: var(--spriteProperties-transitionDuration);
}

.sa-show-sprite-properties [class^="sprite-info_sprite-info_"] {
  height: 6.3125rem;
  padding: 0.75rem;
}

.sa-show-sprite-properties [class^="sprite-selector_scroll-wrapper_"] {
  height: calc(100% - 6.3125rem);
}

.sa-sprite-properties-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}