.blocklyFlyout,
.blocklyFlyoutScrollbar,
.sa-lock-image {
  transition-property: transform, margin;
}

.gui[dir="ltr"] .blocklyFlyout.sa-flyoutClose {
  transform: translateX(-260px) !important;
}

.gui[dir="ltr"] .blocklyFlyoutScrollbar.sa-flyoutClose {
  transform: translateX(35px) !important;
}

.gui[dir="rtl"] .blocklyFlyout.sa-flyoutClose,
.gui[dir="rtl"] .blocklyFlyoutScrollbar.sa-flyoutClose {
  margin-left: 260px;
}

.sa-lock-image.sa-flyoutClose {
  transform: translateX(-260px);
}

[dir="rtl"] .sa-lock-image.sa-flyoutClose {
  transform: translateX(260px);
}

.sa-flyout-placeHolder {
  position: absolute;
  left: 61px;
  top: 44px;
  height: 100%;
  width: 251px;
}

[dir="rtl"] .sa-flyout-placeHolder {
  left: auto;
  right: 61px;
}

.sa-lock-image {
  position: absolute;
  z-index: 20;
  width: 20px;
  cursor: pointer;
  top: 46px;
  left: 280px;
}

[dir="rtl"] .sa-lock-image {
  left: auto;
  right: 280px;
}

.gui_stage-and-target-wrapper_69KBf {
  /* must cover the hidden palette when editor-stage-left is enabled */
  position: relative;
  z-index: 31;
  background-color: var(--editorDarkMode-page, hsl(215, 100%, 95%));
}
