.blocklyFlyout.sa-flyoutClose {
  transform: translate(-200px, 0px) !important;
}

.blocklyFlyoutScrollbar.sa-flyoutClose {
  transform: translateX(35px) !important;
}

.sa-lock-image.sa-flyoutClose {
  transform: translateX(-260px);
}

.sa-flyout-placeHolder {
  position: fixed;
}

.sa-lock-image {
  position: fixed;
  z-index: 20;
  width: 20px;
  cursor: pointer;
}

@keyframes openFlyout {
  0% {
    transform: translate(-200px, 0px);
  }
  100% {
    transform: translate(60px, 0px);
  }
}

@keyframes closeFlyout {
  0% {
    transform: translate(60px, 0px);
  }
  100% {
    transform: translate(-200px, 0px);
  }
}

@keyframes openScrollbar {
  0% {
    transform: translateX(35px);
  }
  100% {
    transform: translateX(296.5px);
  }
}

@keyframes closeScrollbar {
  0% {
    transform: translateX(296.5px);
  }
  100% {
    transform: translateX(35px);
  }
}

@keyframes openLock {
  0% {
    transform: translateX(-260px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes closeLock {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-260px);
  }
}
