:root {
  --scratchr2-dropdown-image: url(https://mxmou.github.io/customize-scratch/assets/caret.svg);
  --scratchr2-link-color: #4d97ff;
  --scratchr2-active-color: active;
  --scratchr2-dark-boxbg: #282828;
}
