#content {
  width: 100%;
  min-width: 942px;
  padding-top: 50px;
}
.linkst,
.linksb,
.blocktable,
.blockpost,
.block,
.djangobb #reply,
.djangobb > .box:not(#brdheader):not(#brdfooter),
.blockform {
  width: 942px;
  margin: auto;
}
#messages {
  margin-bottom: 40px;
}
#brdheader {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 8px;
  border: none;
  border-radius: 0;
  background: #0fbd8c;
  color: #fff;
}
#brdheader > .box-head {
  width: 942px;
  margin: auto;
  padding: 0;
  border: none;
}
#brdheader .box-head h2 {
  padding: 5px 0;
  margin-bottom: 16px;
  color: #fff;
  font-size: 40px;
  line-height: 1.7em;
}
#brdmenu {
  width: 942px;
  margin: auto;
  padding: 0;
  border: none;
  background: transparent;
}
#brdmenu a {
  color: #fff;
}
#brdmenu a:hover {
  text-decoration: underline;
}
#forum-search-form {
  width: 942px;
  margin: auto;
  margin-top: 8px;
  padding: none;
  background: none;
  border-top: none;
}
#forum-search-input {
  width: calc(85% - 8px);
  margin-right: 8px;
  height: 48px;
  padding: 4px 20px;
}
.forum-search-list {
  width: 942px;
  margin: auto;
  padding: 0;
  margin-top: 8px;
}
.forum-search-list .blockpost {
  width: 100%;
}
.forum-search-list .blockpost div.box {
  background-color: var(--darkWww-button, #4d97ff);
}
.forum-search-list .blockpost .box-head {
  border-top-color: var(--darkWww-button, #4d97ff);
}
.forum-search-list .blockpost .box-head span.conr,
.forum-search-list .blockpost .box-head a,
.forum-search-list .blockpost .box-head a:link,
.forum-search-list .blockpost .box-head a:active,
.forum-search-list .blockpost .box-head a:hover,
.forum-search-list .blockpost .box-head a:visited {
  color: var(--darkWww-button-text, white);
}
#brdfooter {
  margin-top: 40px;
  margin-bottom: 0;
  background-color: var(--darkWww-footer, #f2f2f2);
  border-radius: 0;
  border: none;
}
#brdfooter .box-content {
  box-sizing: border-box;
  width: 942px;
  margin: auto;
  padding-top: 20px;
  padding-left: 4px;
  padding-right: 4px;
  background: transparent;
  color: var(--darkWww-footer-text, #575e75);
}
#brdfooter .box-content button {
  margin: 0;
}
.blockpost {
  position: relative;
}
.blockpost > a[name] {
  position: absolute;
  top: -55px;
}
.blockpost div.box {
  background-color: #0fbd8c;
  border-top-color: #0fbd8c;
}
.blockpost .box-head {
  border-top-color: #0fbd8c;
}
.blockpost .box-head span.conr,
.blockpost .box-head a,
.blockpost .box-head a:link,
.blockpost .box-head a:active,
.blockpost .box-head a:hover,
.blockpost .box-head a:visited {
  color: white;
}
.blockpost .box-head a:hover {
  text-decoration: underline;
}
.blockpost .box-content,
.postright,
.postfootright {
  color: var(--darkWww-box-text, #575e75);
}
.postleft,
.postfootleft {
  background-color: var(--darkWww-gray, #f2f2f2);
  color: var(--darkWww-gray-text, #575e75);
  box-shadow: 1px 0 var(--darkWww-box-border, #d9d9d9);
}
.postright,
.postfootright {
  border-left-color: var(--darkWww-gray, #f2f2f2);
  box-shadow: 1px 0 inset var(--darkWww-box-border, #d9d9d9);
}
.djangobb blockquote {
  background-color: var(--darkWww-gray, #f2f2f2);
  border-color: var(--darkWww-border, #d9d9d9);
  color: var(--darkWww-gray-text, #575e75);
}
.djangobb th {
  background-color: var(--darkWww-box-border, #d9d9d9);
  color: var(--darkWww-box-borderText, #575e75);
}
.tc2,
.tc3 {
  background-color: var(--darkWww-gray, #f2f2f2);
  color: var(--darkWww-gray-text, #575e75);
}
.djangobb td,
.djangobb th {
  border-color: var(--darkWww-box-border, #d9d9d9);
}
.topic_isread a {
  font-weight: normal;
}
.inew,
.isticky {
  filter: var(--darkWww-link-iconFilter, var(--scratchr2-defaultLinkIconFilter));
}
.djangobb > .postmsg {
  box-sizing: border-box;
  padding: 8px;
}
.my-ocular-reaction-button {
  box-shadow: 0 0 2px #0fbd8c;
}
.my-ocular-reaction-button.selected {
  background-color: #0fbd8c;
}
.my-ocular-popup {
  color: var(--darkWww-input-text, #575e75);
}
