#navigation #navigation .dropdown,
#navigation .dropdown.with-arrow::before,
#navigation .link > a,
#navigation .logo-a-title,
#navigation .inner > ul > li.search .input[type="text"],
#navigation .account-nav .user-info,
.login,
#navigation .dropdown a:link,
#navigation .dropdown a:visited,
#navigation .dropdown a:active,
.button,
.intro-banner .intro-header,
.intro-banner .intro-container,
.title-banner.mod-messages,
.subactions .action-buttons .action-button:not(.remixtree-button),
.title-banner-h1.mod-messages,
.download .download-header,
.download .download-header .download-info .download-copy .download-title,
.os-chooser .button.active,
.step .step-number-row .step-number,
.title-banner.mod-blue-bg .title-banner-h1,
.title-banner.mod-conference h1,
.title-banner-h3.mod-2020,
.wedo .top-banner h2,
.wedo .top-banner p {
  color: rgb(
    calc(255 - var(--scratchr2-primaryColor-isLight) * (255 - 87)),
    calc(255 - var(--scratchr2-primaryColor-isLight) * (255 - 94)),
    calc(255 - var(--scratchr2-primaryColor-isLight) * (255 - 117))
  );
}
#navigation .inner > ul > li.search .input[type="text"]::placeholder {
  color: rgba(
    calc(255 - var(--scratchr2-primaryColor-isLight) * (255 - 87)),
    calc(255 - var(--scratchr2-primaryColor-isLight) * (255 - 94)),
    calc(255 - var(--scratchr2-primaryColor-isLight) * (255 - 117)),
    0.75
  );
}
#navigation .inner > ul > li.search .btn-search,
#navigation .messages > a::before,
#navigation .mystuff > a,
.account-nav .user-info::after,
.button img,
.preview .see-inside-button:before,
.subactions .action-buttons .action-button:not(.remixtree-button):before,
.download .download-requirements span img,
.os-chooser .button.active img,
#footer .inner .media li img {
  filter: brightness(calc(1 - var(--scratchr2-primaryColor-isLight) * (1 - 0.4)));
}

#navigation .messages > a {
  background-image: none;
}
#navigation .messages > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(https://scratch.mit.edu/images/nav-notifications.png) no-repeat center center;
  background-size: 45%;
}
#navigation .messages > a:hover::before {
  background-size: 50%;
}
.preview .remix-button,
.os-chooser .button:not(.active) {
  color: #fff;
}
.os-chooser .button:not(.active) img {
  filter: none;
}
