.help .faq .box .help .faq .box-content,
.help .faq .box .help .faq .box-content > div {
  border: none;
  background: transparent;
}
.help .faq .box .help .faq .box-content > div {
  margin: 0;
}
.help .faq .box .help .faq .box-content h4 {
  font-size: 32px;
}
