#comments #comments-loading {
  background-color: transparent;
}
#comments form .small-text {
  color: #575e75;
}
#comments .comment {
  margin-left: 0;
  margin-right: 0;
}
#comments .comments li,
#comments ul.comments ul li {
  /* Remove separators */
  border: none;
}
#comments .comments .info,
#comments .comments li ul li .comment .info {
  width: calc(100% - 55px);
}
#comments .comment .info .content {
  position: relative;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  border-top-right-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  background-color: #fff;
  overflow: visible !important;
}
#comments .comment .info > div:not(.name):not(.content):not([data-content="reply-form"]) {
  margin-left: 1rem;
  padding: 1rem;
  padding-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #d9d9d9;
  border-top: none;
  background-color: #fff;
}
#comments .content::after {
  display: block;
  position: absolute;
  top: 0;
  left: -12px;
  border-bottom: 10px solid #fff;
  border-left: 12px solid #fff;
  border-radius: 0 0 0 12px;
  width: 0;
  content: "";
}
#comments .content::before {
  display: block;
  position: absolute;
  top: -1px;
  left: -13px;
  border-bottom: 12px solid #d9d9d9;
  border-left: 13px solid #d9d9d9;
  border-radius: 0 0 0 13px;
  width: 0;
  content: "";
}
#comments .highlighted {
  background: rgba(77, 151, 255, 0.1);
  box-shadow: 0 0 0 8px rgba(77, 151, 255, 0.1);
  border-radius: 8px;
}
#comments .comment .info .name a {
  color: var(--scratchr2-linkColor);
}
#comments .comment .info .name a:hover {
  color: var(--scratchr2-activeColor);
}
#comments .comment .info .time {
  color: #b3b3b3;
}
#comments .more-replies .pulldown {
  color: var(--scratchr2-linkColor);
}
#comments .comment form > .control-group:last-child {
  /* emoji-picker compatibility */
  width: auto;
}
