a:link,
a:visited,
.button.white,
.news li h4,
.intro-banner .intro-button,
.comment .comment-body .comment-bottom-row .comment-reply,
.studio-adder-section h3,
.studio-project-tile .studio-project-title,
.studio-member-tile .studio-member-name,
.studio-thumb-edit-button,
.studio-manager-count,
.promote-modal .cancel-button,
.transfer-host-modal .cancel-button {
  color: var(--scratchr2-linkColor);
}
.studio-manager-count {
  border-color: var(--scratchr2-linkColor);
}
a:hover,
.news li:hover h4 {
  color: var(--scratchr2-activeColor);
}
.banner a {
  color: white;
}
.studio-tab-nav a.active.nav_link:hover > li,
.studio-info .studio-info-footer-report button:hover {
  background-color: var(--scratchr2-activeColor);
}
#navigation,
.dropdown,
.dropdown.with-arrow::before,
.button,
.addToStudio-modal-header,
.user-projects-modal .user-projects-modal-title,
.promote-modal .promote-title,
.intro-banner .intro-container,
.subactions .action-buttons .action-button,
.title-banner.mod-messages,
.download .download-header,
.os-chooser .button.active,
.studio-tab-nav .active > li,
.user-projects-modal .user-projects-modal-nav button.active,
.studio-info .studio-info-footer-report button,
.step .step-number-row .step-number,
.title-banner.mod-blue-bg,
.title-banner.mod-conference,
#footer .inner .media li,
.wedo .top-banner,
.transfer-host-modal .transfer-host-title {
  background-color: var(--scratchr2-primaryColor);
}
.promote-modal .cancel-button,
.transfer-host-modal .cancel-button {
  box-shadow: 0 0 0 1px var(--scratchr2-primaryColor);
}
.banner-button {
  background-color: #ffab1a;
}
a.social-messages-profile-link {
  color: inherit;
}
