#page-403,
#page-404,
#page-500 {
  border-radius: 0;
  border: none;
  background: transparent;
}
#page-500 {
  width: 100%;
  min-height: 100vh;
  background: #f8aa36;
}
#page-404 .box-head,
#page-500 .box-head {
  display: none;
}
#page-403 .box-head {
  border: none;
  text-align: center;
}
#page-403 .box-content,
#page-404 .box-content,
#page-500 .box-content {
  border: none;
  background: transparent;
  color: var(--darkWww-page-text, #575e75);
}
#page-404 img {
  padding-top: 20px !important;
}
#page-404 .box-header,
#page-500 .box-header {
  background: transparent;
}
#page-403 .box-head h2,
#page-404 .status-code {
  color: var(--darkWww-page-text, #575e75);
}
#page-404 .box-header h1 {
  margin-top: -4px;
  color: #575e75;
  font-size: 40px;
  line-height: 1.7em;
}
#page-404 .box-content p {
  margin: 1em 0;
  font-size: 16px;
  line-height: 1.5em;
}
#page-500 .box-header h1,
#page-500 h3,
#page-500 p,
#page-500 a {
  color: #fff;
}
#page-500 a:hover {
  text-decoration: underline;
}
#page-500 img:last-child {
  content: url("https://scratch.mit.edu/images/logo_sm.png");
}
