#gallery {
  width: 942px;
  margin: 0;
}
.box .box-head {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) /* Center horizontally */;
  width: 942px;
  padding: 0;
}
.box .box-head h2 {
  font-size: 28px;
  font-weight: normal;
}
.box .box-head .buttons {
  top: 0;
  right: 0;
}
.box {
  margin-top: 77px;
}
.box .box-content {
  margin-top: 30px;
}
#gallery > .col-4 {
  width: 226px;
  margin-left: 0;
  margin-right: 16px;
}
#gallery > .col-12 {
  margin: 0;
}
.v-tabs.gallery-info {
  margin-right: 0 !important;
  padding: 0;
  border: none;
  background: transparent;
}
#gallery-cover-image {
  width: 226px;
}
#description .viewport {
  margin-right: 0;
}
#gallery > .col-12 > .box {
  border-radius: 0;
  border-color: transparent;
  background: transparent;
}
#gallery > .col-12 > .box > .box-content {
  border-color: transparent;
  background: transparent;
}
#tabs {
  height: 30px;
  margin-left: 0;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#tabs li {
  display: inline-block;
  float: none;
  border: none;
  background: transparent;
}
#tabs li a {
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  border: none;
}
#tabs li.active a,
#tabs li.active:hover a {
  border-bottom: 3px solid #0fbd8c;
}
#tabs li:hover a {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.box .box-content .action-bar .inner {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.box .box-content .action-bar.white .inner {
  background: transparent;
}
#add-project-dialog input[type="text"],
#add-curator-dialog input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#add-project-dialog .button,
#add-curator {
  height: 30px;
  border-width: 2px;
}
#explore-bar #explore-header {
  border-color: rgba(0, 0, 0, 0.15);
  background: #fff;
  box-shadow: none;
  color: #575e75;
  text-shadow: none;
}
#explore-bar #open,
#explore-bar #close {
  filter: brightness(0.4) /* Or the white icon is invisible */;
}
.media-grid.projects {
  margin-top: 14px;
  margin-left: 0;
}
.media-grid.projects .project.thumb.item {
  margin-right: 13px;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.media-grid.projects .project.thumb.item:nth-child(4n) {
  margin-right: 0;
}
.thumb img {
  border: none;
}
#comments #comment-form {
  padding-left: 0;
  padding-right: 0;
}
#comments #comment-form textarea {
  width: 630px;
  height: 100px;
}
#comments .comment form {
  margin-left: 1rem;
}
#comments .comment form textarea {
  width: 619px;
  height: 100px;
}
#comments .reply .comment form textarea {
  width: 549px;
}
#comments .more-replies {
  background-color: #fcfcfc;
}
.button[data-control="load-more"] {
  width: 698px;
}
.tab-content h2 {
  margin-left: 0;
  margin-right: 0;
}
ul.curators {
  margin: 0;
}
ul.curators li {
  width: 205px;
  border-radius: 4px;
  border: none;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
ul.curators li img {
  border: none;
}
.notification-feed {
  padding: 0;
}
