@import url("../../libraries/common/cs/spinner.css");

.sa-stats > .box-head a {
  float: right;
}
.sa-stats > .box-head a img {
  height: 20px;
  margin-right: 8px;
  vertical-align: bottom;
}
.sa-stats > .box-content {
  padding: 20px;
}

.sa-stats-section {
  position: relative;
}
.sa-stats-row {
  display: flex;
  justify-content: center;
}
.sa-stats-section.sa-stats-placeholder > .sa-stats-row {
  opacity: 0.25;
}
.sa-stats-row + .sa-stats-row {
  margin-top: 16px;
}
.sa-stats-row > * {
  padding: 0 40px;
  text-align: center;
}
.sa-stats-number {
  padding-bottom: 8px;
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
}

.sa-chart-section {
  margin-top: 16px;
  position: relative;
  height: 400px; /* used by Chart.js to set chart size */
}
.sa-chart-section.sa-stats-placeholder > canvas {
  opacity: 0.25;
}

.sa-stats-placeholder {
  pointer-events: none;
  user-select: none;
}
.sa-stats .sa-spinner,
.sa-stats-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
