.sa-body-editor::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/mystery.png");
  background-position: calc(var(--sa-mouse-x, -10000px) - 2000px) calc(var(--sa-mouse-y, -10000px) - 2000px);
  opacity: 0.9;
  pointer-events: none;
}
