.sa-toggle-project-preview {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.sa-toggle-project-preview > span {
  font-size: 90%;
  font-weight: normal;
}

.sa-toggle-project-preview > .toggle-switch {
  top: 0;
}

.project-textlabel {
  /* Needed for margin-left:auto to work */
  display: flex;
  width: 100%;
}

/* Disable character-limit's animation which can look weird with the toggle */
:is(.description-block:first-child, .sa-project-tabs-wrapper) .desc-limit.limit-hidden {
  animation: none !important;
}
