.preview .sa-tw-button {
  padding: 0px 5px 0px 11px;
  margin-top: 0;
  border-radius: 0.25rem;
  height: 2.5rem;
  font-size: 0.875rem;
}
.preview .sa-tw-button:not(.scratch) {
  background: #ef2424;
}
.preview .sa-tw-button:before {
  background-image: url(icon.svg);
  display: inline-block;
  margin-top: -2px;
  margin-right: 0.4375rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 1.125rem;
  height: 1.125rem;
  vertical-align: middle;
  content: "";
}
.preview .sa-tw-button.scratch:before {
  background-image: url(https://scratch.mit.edu/favicon.ico);
}

.sa-tw-iframe-container {
  /* Same styles as .guiPlayer */
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 482px;
  height: 406px;

  /* Hide part of loading screen to make it the same size as Scratch's */
  overflow: hidden;
}

.sa-tw-iframe {
  width: 100%;
  /* TW scratch-gui/src/lib/screen-utils.js, line 57
     The stage height should be 360px
     innerHeight = 360px + 44px + 12px = 416px = 100% + 10px */
  height: calc(100% + 10px);
  /* Move the stage up to align it with the project description */
  margin-top: -3px;

  border: none;

  /* Transparency only works if the iframe has the same color-scheme
     as the document inside */
  color-scheme: light;
}
