/* Change z-indexes to allow more than 3 tabs */
[class*="gui_tab_"][class*="gui_is-selected_"] {
  z-index: 10 !important;
}
[class*="gui_tab_"]:nth-of-type(1) {
  z-index: 9;
}
[class*="gui_tab_"]:nth-of-type(2) {
  z-index: 8;
}
[class*="gui_tab_"]:nth-of-type(3) {
  z-index: 7;
}
[class*="gui_tab_"]:nth-of-type(4) {
  z-index: 6;
}

.sa-svg-maker {
  display: block;
  padding: 18px;
  height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sa-svg-maker .sa-svg-maker-value {
  width: 75%;
}
.sa-svg-maker-content {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.sa-svg-maker-svg {
    margin: 30px 0;
    overflow: hidden;
}
.sa-svg-maker-btn {
    display: inline-block;
    padding: 0.6rem 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #509cff;
    color: #000;
    border: 0px;
    border-radius: 0.25rem;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    transition: 0.3s ease-out;
}

.sa-svg-maker-btn:hover,
.sa-svg-maker-btn:focus {
    background-color: #4c8fe7;
}

.sa-svg-maker-error-display {
    color: #FF7F50;
    font-weight: bold;
    margin-bottom: 1em;
}

.sa-svg-maker-hidden {
    display: none;
}
