.lfp-scratch.lfp-hide-menu iframe,
.lfp-turbowarp.lfp-hide-menu iframe {
  margin-top: -44px;
}

.lfp-forkphorus.lfp-hide-menu iframe {
  margin-top: -2.25rem;
}

#lfp-embed {
  overflow: hidden;
  height: 216px;
}

#lfp-embed iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lfp-change-featured {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 37px;
  left: 10px;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=70);
  padding: 5px;
  color: white;
  text-shadow: none;
  text-align: center;
  border-bottom-right-radius: 8px;
}

#lfp-embed:hover #lfp-change-featured {
  display: block;
}

.stage.lfp-loaded #featured-project {
  display: none;
}
