@import "./badges.css";
@import "./buttons.css";
@import "./filter.css";
@import "./categories.css";
@import "./search.css";
@import "./tooltips.css";
@import "./smallmode.css";
@import "./popup.css";
@import "./enablepopup.css";
