.preview .sa-project-info {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  text-align: left;
  display: inline-block;
}

.sa-project-info img {
  height: 0.875rem;
  vertical-align: bottom;
}

.sa-project-info > * {
  padding: 0.1rem;
}

.sa-project-info,
.preview .project-buttons > * {
  vertical-align: middle;
}
