.preview .sa-project-info {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.sa-project-info img {
  height: 0.875rem;
  margin-right: 0.5rem;
}

.preview .project-buttons > * {
  vertical-align: middle;
}
