[class*="stage_stage"],
body [class*="stage_green-flag-overlay-wrapper"],
/* Override player-thumb */
:root:not(.sa-editor) div[class*="loader_background_"],
.sa-project-thumb {
  border-radius: 0rem;
}
