.save-status_save-now_2shdk span {
    /*width: 81; 57 width for button itself*/
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: calc((48px - 1em) / 2 - 2px);
    padding-bottom: calc((48px - 1em) / 2 - 2px);
}

.save-status_save-now_2shdk {
    margin: -12px;
}
