.sa-copyCodeDiv {
  text-align: right;
  height: 0px;
  /* To make the button appear on top of the scratchblocks, or else it will not be able to be clicked */
  position: relative;
  z-index: 1;
}
.sa-copyCodeButton {
  opacity: 0.75;
  cursor: pointer;
  font-size: 80%;
  position: relative;
  bottom: 3px;
  user-select: none;
}
.sa-copyCodeButton:active {
  text-decoration: underline;
}
