<template>
  <div
    class="addon-setting"
    :class="{
    'boolean-setting': setting.type === 'boolean',
    'number-setting': setting.type === 'integer' || setting.type === 'positive_integer',
  }"
  >
    <div class="setting-label" v-html="settingsName(addon)"></div>
    <template v-if="setting.type === 'boolean'">
      <input
        type="checkbox"
        class="setting-input check"
        v-model="addonSettings[addon._addonId][setting.id]"
        @change="updateSettings()"
        :disabled="!addon._enabled"
      />
    </template>
    <template v-if="setting.type === 'select'">
      <div class="filter-options">
        <div
          class="filter-option"
          v-for="option of setting.potentialValues"
          :class="{'sel' : addonSettings[addon._addonId][setting.id] === option.id, 'disabled': !addon._enabled}"
          @click="updateOption(option.id);"
        >
          {{ option.name }}
        </div>
      </div>
    </template>
    <div v-if="!['boolean', 'select'].includes(setting.type)" class="setting-input-container">
      <template v-if="setting.type === 'positive_integer'">
        <input
          type="number"
          class="setting-input number"
          v-model="addonSettings[addon._addonId][setting.id]"
          @change="checkValidity() || updateSettings()"
          :disabled="!addon._enabled"
          min="0"
          :data-addon-id="addon._addonId"
          :data-setting-id="setting.id"
          number
        />
      </template>
      <template v-if="setting.type === 'integer'">
        <input
          type="number"
          class="setting-input number"
          v-model="addonSettings[addon._addonId][setting.id]"
          @change="checkValidity() || updateSettings()"
          :disabled="!addon._enabled"
          :min="setting.min"
          :max="setting.max"
          :data-addon-id="addon._addonId"
          :data-setting-id="setting.id"
          number
        />
      </template>
      <template v-if="setting.type === 'string'">
        <input
          type="text"
          class="setting-input string"
          v-model="addonSettings[addon._addonId][setting.id]"
          @change="checkValidity() || updateSettings()"
          :disabled="!addon._enabled"
          :placeholder="setting.default"
          :maxlength="setting.max || 100"
          :minlength="setting.min || 0"
          :required="!!setting.min"
          :data-addon-id="addon._addonId"
          :data-setting-id="setting.id"
        />
      </template>
      <template v-if="setting.type === 'key'">
        <input
          type="text"
          class="setting-input"
          v-model="addonSettings[addon._addonId][setting.id]"
          @input="updateSettings()"
          @keydown="keySettingKeyDown"
          @keyup="keySettingKeyUp"
          :disabled="!addon._enabled"
          :placeholder="setting.default"
          maxlength="100"
          :data-addon-id="addon._addonId"
          :data-setting-id="setting.id"
          spellcheck="false"
        />
      </template>
      <template v-if="setting.type === 'color'">
        <picker
          :value="addonSettings[addon._addonId][setting.id] || setting.default"
          :setting="setting"
          :addon="addon"
          :no_alpha="!setting.allowTransparency"
          v-click-outside="closePickers"
        ></picker>
      </template>
      <reset-dropdown
        v-if="showResetDropdown()"
        :setting="setting"
        :addon="addon"
        :label="msg('reset')"
        :default-label="msg('default')"
        v-click-outside="closeResetDropdowns"
      ></reset-dropdown>
      <button
        v-else
        type="button"
        class="large-button clear-button"
        :disabled="!addon._enabled"
        :title="msg('reset')"
        @click="updateOption(setting.default)"
      >
        <img src="../../images/icons/undo.svg" class="icon-type" />
      </button>
    </div>
  </div>
</template>

<style>
  .addon-setting {
    margin: 10px;
    margin-inline-end: 20px;
    min-height: 32px;
    display: flex;
    align-items: center;
  }
  .setting-input {
    color: var(--content-text);
    background: var(--input-background);
    border: 1px solid var(--control-border);
    height: 32px;
    box-sizing: border-box;
    padding: 0 12px;
    border-radius: 4px 0 0 4px;
    transition: 0.2s ease;
    transition-property: box-shadow, border;
  }
  [dir="rtl"] .setting-input {
    border-radius: 0 4px 4px 0;
  }
  .setting-input:focus-visible {
    outline: none;
    border-color: var(--brand-orange);
    box-shadow: var(--input-focus-shadow);
  }

  .setting-input.check {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
  }

  .setting-input.check:checked {
    background-color: var(--blue);
    background-image: url(/images/icons/check.svg);
  }

  .setting-input.check:hover:not(:focus-visible):not([disabled]) {
    border-color: var(--blue-variant);
  }

  .setting-input.number {
    max-width: 150px;
    border-radius: 16px 0 0 16px;
  }
  [dir="rtl"] .setting-input.number {
    border-radius: 0 16px 16px 0;
  }

  .setting-input-container {
    display: flex;
    align-items: center;
  }

  .setting-label {
    width: 200px;
    text-transform: uppercase;
    color: var(--label-text);
    font-weight: 600;
    font-size: 12px;
    margin-inline-end: 10px;
  }

  .setting-dropdown {
    position: relative;
  }
  .setting-dropdown.open .clear-button {
    border-bottom-right-radius: 0;
    background: var(--button-hover-background);
  }
  [dir="rtl"] .setting-dropdown.open .clear-button {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
  .iframe .setting-dropdown.open .clear-button {
    border-bottom-right-radius: 4px;
  }
  [dir="rtl"] .setting-dropdown.open .clear-button {
    border-bottom-left-radius: 4px;
  }
  .setting-dropdown ul {
    position: absolute;
    top: calc(100% - 1px);
    right: 0;
    margin: 0;
    padding: 6px 0;
    display: none;
    z-index: 3;
    border-radius: 4px;
    border-top-right-radius: 0;
    background: var(--button-background);
    color: var(--content-text);
    border: 1px solid var(--control-border);
  }
  .iframe .setting-dropdown ul {
    right: auto;
    left: -100px;
    border-top-right-radius: 4px;
  }
  [dir="rtl"] .setting-dropdown ul {
    right: auto;
    left: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 0;
  }
  [dir="rtl"] .iframe .setting-dropdown ul {
    left: auto;
    right: -100px;
    border-top-left-radius: 4px;
  }
  .setting-dropdown.open ul {
    display: block;
  }
  .setting-dropdown li {
    padding: 6px 12px;
    list-style: none;
    white-space: nowrap;
    text-align: start;
    transition: 0.2s ease;
    user-select: none;
  }
  .setting-dropdown li:hover {
    background: var(--button-hover-background);
  }
  .setting-dropdown li > * {
    vertical-align: middle;
  }
  .setting-dropdown .color-preview {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-inline-end: 8px;
    border-radius: 5px;
    background: linear-gradient(45deg, #777 25%, transparent 25%), linear-gradient(-45deg, #777 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #777 75%), linear-gradient(-45deg, transparent 75%, #777 75%);
    background-color: white;
    background-size: 6px 6px;
    background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
  }
  .setting-dropdown .color-preview span {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--control-border);
  }
  .setting-dropdown .text-preview {
    margin-left: 12px;
    color: var(--label-text);
    font-weight: 600;
  }
</style>
