<template>
  <div class="addon-group" v-show="shouldShow" @click="toggle" :class="{  'margin-above': marginAbove }">
    <div class="addon-group-expand" :class="{'reverted': group.expanded}">
      <inline-icon icon="expandDown"></inline-icon>
    </div>
    {{ group.name }} ({{ shownCount }})
  </div>
</template>

<style>
  .addon-group.margin-above {
    margin-top: 20px;
  }

  .addon-group {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px 11px;
    padding: 0px 10px;
  }

  .addon-group-expand {
    margin-inline-end: 9px;
    padding: 4px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  .addon-group-expand svg {
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }

  .addon-group:hover .addon-group-expand {
    background-color: var(--hover-highlight);
  }

  .addon-group::after {
    content: "";
    border-top: 1px solid var(--content-separator);
    width: 100px;
    margin-inline-start: 20px;
    margin-inline-end: 5px;
    flex: 1;
  }
</style>
