<template>
  <div class="addon-group" v-show="shouldShow" :class="{  'margin-above': marginAbove }">
    <span @click="toggle">
      <button class="tabbable">
        <img src="../../images/icons/expand.svg" alt="v" :class="{ 'reverted': group.expanded }" />
      </button>
      {{ group.name }} ({{ shownCount }})</span
    >
  </div>
</template>

<style>
  .addon-group.margin-above {
    margin-top: 20px;
  }

  .addon-group > span {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px 16px;
  }

  .addon-group img {
    height: 23px;
    width: 23px;
    padding: 5px;
    border-radius: 4px;
  }
  .addon-group button {
    margin-inline-end: 5px;
  }

  .addon-group img:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .addon-group > span:after {
    content: "";
    border-top: 1px solid white;
    width: 100px;
    margin-inline: 10px;
    flex: 1;
    opacity: 0.5;
  }
</style>
