<template>
  <div class="addon-body" v-show="shouldShow" :id="'addon-' + addon._addonId">
    <div class="addon-topbar">
      <div class="clickeable-area" @click="expanded = !expanded">
        <div class="btn-dropdown">
          <img src="../../images/icons/expand.svg" alt="v" :class="{'reverted': expanded}" />
        </div>
        <div class="addon-name">
          <img :src="addonIconSrc" class="icon-type" />
          <span @click="devShowAddonIds">{{ addon._displayedAddonId || addon.name }}</span>
        </div>
        <addon-tag v-for="tag of addon.tags" :tag="tag"></addon-tag>
      </div>
      <div class="addon-description" v-show="!expanded" dir="auto">{{ addon.description }}</div>
      <div class="addon-check">
        <div
          v-show="expanded && addon._enabled"
          v-if="addon.settings"
          class="clear-settings"
          title="{{ msg('resetToDefault') }}"
          @click="loadDefaults"
        >
          <img src="../../images/icons/undo.svg" class="icon-type" />
        </div>
        <div class="switch" :state="addon._enabled ? 'on' : 'off'" @click="toggleAddonRequest($event)"></div>
      </div>
    </div>
    <div class="addon-settings" v-if="everExpanded" v-show="expanded">
      <div class="addon-description-full">{{ addon.description }}</div>
      <div id="info" v-for="info of addon.info">
        <div class="addon-warn" v-if="info.type == 'warning'">
          <img src="../../images/icons/warning.svg" />{{ info.text }}
        </div>
        <div class="addon-notice" v-if="info.type == 'notice'">
          <img src="../../images/icons/notice.svg" />{{ info.text }}
        </div>
      </div>
      <div class="addon-credits" v-if="addon.credits">
        <span>{{ msg("creditTo") }}</span>
        <span v-for="credit of addon.credits">
          <span v-if="credit.link">
            <a href="{{ credit.link }}" rel="noreferrer noopener" target="_blank">{{ credit.name }}</a>
          </span>
          <span v-else="credit.link">{{ credit.name }}</span>
        </span>
      </div>
      <div class="addon-license" v-if="addon.libraries && addon.libraries.length">
        <a target="_blank" href="./licenses.html?libraries={{ addon.libraries.join(',') }}"
          >{{ msg("viewLicenses") }}</a
        >
      </div>
      <div class="settings-column" v-bind:class="[!addon._enabled ? 'disabled' : '']">
        <addon-setting
          v-for="setting of addon.settings"
          :addon="addon"
          :setting="setting"
          :addon-settings="addonSettings"
        ></addon-setting>
      </div>
      <div class="presets-column" v-if="addon.presets" v-bind:class="[!addon._enabled ? 'disabled' : '']">
        <div class="setting-label">{{ msg("presets") }}</div>
        <div class="addon-setting" v-for="preset of addon.presets">
          <button
            type="preset-button"
            class="large-button"
            :disabled="!addon._enabled"
            @click="loadPreset(preset)"
            :title="preset.description"
          >
            {{preset.name}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .addon-description {
    margin-inline: 10px;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 0; /* don't include the description
                 when calculating addon-body size */
    flex-grow: 1;
  }

  .addon-description-full,
  .addon-credits {
    width: 100%;
    white-space: normal;
    color: #dddddd;
  }

  .addon-credits,
  .addon-license {
    margin-top: 4px;
    font-size: 0.9em;
  }
  .addon-credits a,
  .addon-license a {
    color: #6d9bff;
  }

  .addon-credits > span {
    margin-inline-end: 0.5rem;
  }

  .addon-credits > span:not(:first-child):not(:last-child)::after {
    content: ",";
  }
  .addon-name {
    margin-inline-start: 15px;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .addon-name > span:empty {
    display: inline-block;
    width: 150px;
    height: 8px;
    background-color: gray;
    border-radius: 3px;
  }
  .addon-topbar {
    height: 50px;
    padding-inline-end: 5px;
    display: flex;
    align-items: center;
  }
  .addon-body {
    margin: 10px;
    background: var(--accent-1);
    border: 1px solid var(--accent-3);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }
  .addon-body:target {
    animation: addonBlink 2s 1;
  }
  .addon-body.addon-body-margin-bottom {
    margin-bottom: 50px;
  }

  .clear-settings {
    display: flex;
    align-items: center;
    padding-inline-start: 8px;
    border-radius: 4px;
    margin-inline-end: 8px;
  }
  .clear-settings:hover {
    background: rgba(255, 255, 255, 0.05);
  }

  .setting-body img.dark {
    filter: invert(0) brightness(10);
  }
  .btn-dropdown {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
  }
  .clickeable-area:hover .btn-dropdown {
    background: rgba(255, 255, 255, 0.05);
  }

  .sh .btn-dropdown {
    transform: rotate(180deg);
  }

  .btn-dropdown img {
    height: 23px;
    width: 23px;
  }

  .clickeable-area {
    cursor: pointer;
    display: flex;
    align-self: stretch;
    align-items: center;
    padding-inline-start: 5px;
  }
  .clickeable-area .tooltip {
    cursor: pointer;
  }
  .iframe .clickeable-area {
    flex-grow: 1;
  }
  .addon-notice,
  .addon-warn {
    padding: 8px;
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  .addon-notice {
    border-color: rgba(253, 221, 43, 0.5);
    background-color: var(--accent-3);
  }
  .addon-warn {
    border-color: #fd2b2b;
    background-color: rgba(253, 43, 43, 0.75);
    color: white;
  }
  .addon-notice img,
  .addon-warn img {
    height: 15px;
    width: 15px;
    margin-inline-end: 10px;
    filter: brightness(0) invert(1);
  }
  .sh .addon-settings {
    display: flex;
  }
  .addon-settings {
    padding: 0 15px;
  }

  .presets-column,
  .settings-column {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }

  .presets-column {
    align-items: center;
    margin: 10px 0;
  }
  .presets-column > .setting-label {
    margin-inline-start: 10px;
  }
  .addon-preset {
    margin-inline-end: 30px;
  }

  .addon-check {
    margin-inline-start: auto;
    padding: 5px 10px;
    display: flex;
  }

  .switch {
    display: block;
    background: #111;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .switch::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: var(--accent-4);
    border-radius: 5px;
    top: 5px;
    left: 5px;
    transition: all 0.25s ease;
  }

  .switch[state="on"] {
    background: var(--brand-orange);
  }
  .switch[state="on"]::before {
    background: #fff;
    left: 25px;
  }

  [dir="rtl"] .switch::before {
    left: 25px;
  }
  [dir="rtl"] .switch[state="on"]::before {
    left: 5px;
  }
</style>
