<template>
  <div
    class="badge"
    v-if="shouldShow"
    :class="{
      'tooltip': tagInfo.tooltipText,
      'blue': tagInfo.color === 'blue',
      'yellow': tagInfo.color === 'yellow',
      'red': tagInfo.color === 'red',
      'darkred': tagInfo.color === 'darkred',
      'green': tagInfo.color === 'green',
      'darkgreen': tagInfo.color === 'darkgreen',
      'lightblue': tagInfo.color === 'lightblue',
      'purple': tagInfo.color === 'purple'
      }"
  >
    {{ tagName }}
    <span v-if="tagInfo.tooltipText" class="tooltiptext tooltiptexttop">{{ tagTooltip }}</span>
  </div>
</template>
