#view {
  background-color: #242527;
}

html,
body {
  color: #c4ceee;
}
h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.7em;
  color: #bebebe;
}

.outer .tab-background {
  background-color: #131415;
}

.box .box-header {
  border-top: 1px solid #5b5c60;
  border-bottom: 1px solid #000;
  background-color: #424346;
}
.box .box-head {
  border-top: 1px solid #5b5c60;
  border-bottom: 1px solid black;
  background-color: #424346;
  border-radius: 10px 10px 0 0;
}

.box {
  border-color: #000000;
  background-color: #2f3137;
}

.box .box-content {
  background-color: #2f3137;
  border-top: none;
}
.box .box-content .inner {
  background-color: #2f3137;
}

.news li:nth-child(even) {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.news li p {
  color: #c4ceee;
}

.outer .sort-mode .select select {
  color: #b3b3b3;
}

#footer,
#donor {
  background-color: #17181a;
}

.select select {
  border: 1px solid rgba(0, 0, 0, 1);
  background: #494949
    url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ4IiBoZWlnaHQ9IjY0Ij48cGF0aCBkPSJNMjQgMzcuNDNhMS44OCAxLjg4IDAgMCAxLTEuMzMtLjU1bC01LjExLTUuMTFhMS44NyAxLjg3IDAgMCAxIDAtMi42NGMuNzMtLjczIDEyLjE0LS43MyAxMi44NyAwYTEuODcgMS44NyAwIDAgMSAwIDIuNjRsLTUuMTEgNS4xMWExLjg2IDEuODYgMCAwIDEtMS4zMi41NXoiIGZpbGw9IiNiM2IzYjMiLz48cGF0aCBzdHlsZT0iaXNvbGF0aW9uOmlzb2xhdGUiIGZpbGw9IiMyMzFmMjAiIG9wYWNpdHk9Ii4xIiBkPSJNLjAxIDBoMXY2NGgtMXoiLz48L3N2Zz4=)
    no-repeat right center;
  color: #b3b3b3;
  background-color: #3a3a3a;
}

.select select:focus,
.select select:hover {
  background: #3a3a3a
    url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ4IiBoZWlnaHQ9IjY0Ij48cGF0aCBzdHlsZT0iaXNvbGF0aW9uOmlzb2xhdGUiIGZpbGw9IiMyMzFmMjAiIG9wYWNpdHk9Ii4xIiBkPSJNLjAxIDBoNDh2NjRoLTQ4eiIvPjxwYXRoIGQ9Ik0yNCAzNy41OGExLjg4IDEuODggMCAwIDEtMS4zMy0uNThsLTUuMTEtNS4xMWExLjg5IDEuODkgMCAwIDEgMC0yLjY1Yy43My0uNzMgMTIuMTQtLjczIDEyLjg3IDBhMS44NyAxLjg3IDAgMCAxIDAgMi42NEwyNS4zMiAzN2ExLjg2IDEuODYgMCAwIDEtMS4zMi41OHoiIGZpbGw9IiNiM2IzYjMiLz48L3N2Zz4=)
    no-repeat right center;
}

.thumbnail .thumbnail-image img {
  border: 1px solid #000;
}

.tab-background {
  background-color: #1a1b1d;
}

.tabs {
  background-color: transparent;
}

.tabs li {
  color: #fff;
}

.tabs li.active:hover {
  border-bottom: 3px solid #0fbd8c;
  color: #fff;
}

.tabs li:hover {
  background-color: #16171b;
  color: #fff;
}

.outer .title-banner.masthead {
  background-color: #131415;
}

.outer .sort-controls {
  border-bottom: 1px solid #000;
}

.outer #projectBox {
  background-color: #242527;
}

.grid .thumbnail {
  background-color: #383a3d;
}

html,
body,
#pagewrapper {
  background: #fcfcfc;
  color: #575e75;
}

html,
body,
#pagewrapper {
  background: #242527;
  color: #c4ceee;
}

#profile-box .player {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 41%);
}

label {
  color: #f7f7f7;
}

span.small-text {
  color: #bebebe;
}

#pagewrapper {
  background: #242527;
  color: #f7f7f7;
  text-shadow: none;
}

#comments .comment .info .name a {
  color: #fff;
}

.box .box-head .portrait img {
  border-color: #000;
}

#comments #comments-enabled-box,
#comments .comments li {
  border-bottom-color: #000;
}

#comments ul.comments ul li {
  border-top-color: #000;
}

#comments .more-replies {
  border-top: 1px solid #000000;
  background: #2f3137;
}

#comments .more-replies .pulldown {
  color: #1aa0d8;
  border: 1px solid #000;
  background: #3a3e44;
}

#content > .box:not(#profile-data):not(.slider-carousel-container):not(#page-404) {
  background: #1b1d1f;
}

#comments input,
textarea,
select {
  background-color: #26272b;
  color: #d3d3d3;
  border: 1px solid #000;
}

#comments .comment .info .content {
  background-color: #2f3137;
  border-color: #000;
}

#comments .comment .info > div:not(.name):not(.content):not([data-content="reply-form"]) {
  background-color: #2f3137;
  border-color: #000;
}

#comments .content::after {
  border-bottom: 10px solid #2f3137;
  border-left: 12px solid #2f3137;
}
#comments .content::before {
  border-bottom: 12px solid #000000;
  border-left: 13px solid #000000;
}

#profile-box .doing {
  background: #2f3137;
  border-left: 1px solid #000;
}

#profile-data .footer {
  border-top: 1px solid #000;
}

.editable-empty {
  border: 2px dashed #151515;
  background-color: #26272b;
}

.editable:hover,
.editable.write {
  border: 2px dashed #151515 !important;
  border-radius: 3px;
  background-color: #26272b;
}

#bio-readonly,
#status-readonly,
#profile-box #bio textarea,
#profile-box #status textarea {
  color: #bebebe;
}

.header-text .profile-details .group {
  border-color: #8891ad;
}

.header-text .profile-details {
  color: #8891ad;
}

.slider-carousel .thumb img {
  border: 1px solid #000;
}
.gallery.thumb span.image img {
  background-color: #ffffff;
  border: 1px solid #000;
}
.gallery.thumb span.image {
  border: 1px solid #2f3137;
  background-color: #2f3137;
}

.about .body {
  border: 1px solid #000000;
  background: #2d2e31;
}

.title-banner.mod-messages {
  background-color: #1a1b1f;
}

.social-message {
  border-bottom: 1px solid #000000;
}

.messages-social-list {
  border: 1px solid #000000;
  background-color: #1a1b1f;
}

.social-message-icon {
  opacity: 0.6;
}

a.social-messages-profile-link {
  color: #8f9cc7;
}

.comment-text {
  background-color: #33353e;
  border-color: black;
}

.comment-text:before {
  border-bottom: 12px solid #000000;
  border-left: 13px solid #000000;
}
.comment-text:after {
  border-bottom: 10px solid #33353e;
  border-left: 12px solid #33353e;
}

#content > .cols > .col-12 > .box,
.box .box-head {
  background: transparent;
}
.media-list li {
  border-bottom-color: #000;
}

ul.curators li {
  background: #2b2c2e;
}

.box .box-content .action-bar .inner {
  border-bottom-color: #000;
  background-color: #424346;
  border-top-color: transparent;
}

.v-tabs li,
.v-tabs li.active {
  border-top-color: #000;
  border-bottom-color: #0fbd8c;
  color: #bebebe;
}

.v-tabs li.active a {
  color: #bebebe;
}
.v-tabs li a {
  color: #bebebe;
}

.v-tabs li:hover {
  background-color: #2f3137;
  border-top-color: #000;
  border-left-color: #000;
}

.box-content#main-content {
  background: #242527;
}

.media-list .media-item-content {
  background: #343639;
  box-shadow: 0 0 0 1px black;
}

.media-item-content .media-thumb img {
  border: 1px solid #000;
}

.media-item-content .media-stats .stat .icon-xs {
  opacity: 1;
  filter: brightness(2);
}

.parents .title-banner.faq-banner {
  margin-bottom: 0;
  background-color: #242527;
}

.developers .title-banner.faq-banner {
  margin-bottom: 0;
  background-color: #161617;
}

.credits .supporters {
  background-color: #161617;
}

.developers #faq {
  border-bottom: 1px solid #000;
}
.developers #donate {
  border-bottom: 1px solid #1758b3;
}

.developers .flex-row.sidebar-row .sidebar {
  opacity: 0.5;
}

.developers #projects h3,
.developers #principles h3,
.developers #donate h3 {
  border-bottom: 1px solid #19191a;
}

.title-banner.mod-blue-bg {
  background-color: #141416;
}

.credits .avatar-item img {
  background-color: #1a1a1a;
}

.inplace-textarea {
  background-color: #1a1b1c;
  color: #c4ceee;
}

.inplace-input {
  color: #c2c7d8;
}

.preview .project-lower-container {
  background-color: #1b1d1f;
}

.comment .comment-body .comment-bubble {
  background-color: #2f3137;
  border-color: #000;
}
.comment .comment-body .comment-bubble:before {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  background: #2f3137;
}

.comment .comment-body .comment-bubble {
  color: white;
}

.modal-overlay {
  background-color: rgb(0 0 0 / 70%);
}

.modal-content {
  background-color: #484848;
}

.studio-selector-button {
  background-color: #383f49;
}

.studio-selector-button-text-unselected {
  color: #909ab9;
}

.studio-list-bottom-gradient {
  background: linear-gradient(rgb(0 0 0 / 0%), #49505b);
}

.stage-wrapper_stage-wrapper_2bejr.stage-wrapper_full-screen_2hjMb {
  background-color: hsl(0deg 0% 7%);
}

.replies.collapsed > .comment:last-of-type:after {
  background: linear-gradient(rgb(27 29 31 / 0%), #1b1d1f);
}

#footer {
  box-shadow: none;
}

#gallery-cover-image {
  border: 1px solid #000;
}

.box .box-content .action-bar.white .inner {
  background-color: transparent;
}

#tabs {
  background: #292b2f;
}
.h-tabs > li.active a {
  background-color: #2f3137;
  border-color: #2f3137;
}

#explore-bar #explore-header {
  background: #070707;
}

#title input {
  color: #fff;
}

#explore-bar #related-projects {
  background: #151515;
}

.media-grid.projects .project.thumb.item {
  background: #2f3137;
}

#tabs li a {
  color: #bfc4d5;
}

#gallery .box-head {
  background-color: transparent;
  border-bottom: none;
  border-top: none;
}

#gallery .tab-content {
  background: #242527;
}

#gallery .box {
  background: transparent;
}

.information-page .info-outer nav {
  border-left: 1px solid #000;
}

.os-chooser {
  background-color: #222730;
}

.conf2020-panel {
  border-bottom: 1px solid #1b1b1b;
}

.box.v-tabs {
  background: #242527;
}

.djangobb th,
.tc2,
.tc3 {
  background: #2f3137;
}

.djangobb td,
.djangobb th {
  border-color: #000000;
}

.blockpost .box-content,
.postright,
.postfootright {
  background-color: #535559;
}

.postleft,
.postfootleft {
  background-color: #3a3a3a;
}

.postright,
.postfootright {
  border-left-color: #3a3a3a;
}

.postright,
.postfootright {
  box-shadow: inset 1px 0 #000000;
}

.postleft,
.postfootleft,
.blockpost label {
  box-shadow: 1px 0 #000000;
}

.box .box-content,
.box .box-content .inner {
  border-color: #000000;
}

.djangobb blockquote,
.code,
.forminfo,
.blockpost label {
  border-color: #000;
}
.djangobb blockquote,
.code {
  background-color: #2f3033;
}

a.black,
a.black:visited,
input.link.black {
  color: #b6c2ea;
}

.intro-banner {
  background-color: #242527;
}

.intro-banner .intro-container {
  background-color: #344256;
}

.intro-banner .intro-button {
  background-color: #151515;
  color: #ffffff;
}

#tree {
  background-color: #252525;
}

.join-flow-title {
  color: #4d97ff;
}

.select .join-flow-select {
  background-color: #333;
}

.gender-radio-row {
  background-color: #303030;
}

input.formik-radio-input,
.formik-radio-input input,
.join-flow-input {
  color: white;
  background-color: #2b2b2b;
}

.join-flow-privacy-message {
  color: rgb(255 255 255 / 60%);
}

.join-flow-input::placeholder {
  color: #888;
}

.nvtooltip {
  background-color: rgb(65 68 76);
  border: 1px solid rgb(0 0 0 / 44%);
}

.gray-area {
  background-color: #101010;
}

img.tips-icon {
  filter: invert(1);
}

.tips-getting-started,
.tips-activity-guides {
  background-color: #242527;
}

.ttt-tile {
  background-color: #1b1c1d;
}

.tips-divider {
  border-top-color: #000;
}
