body:not(.beta-opt-in, .password-change, .email-change) #content > .cols > .col-12 > .box,
#content > .cols > .col-12 > .box .box-head {
  background-color: #334766;
}
html {
  background-color: #26364d !important;
}
#brdheader,
.blockpost div.box {
  background-color: #27473e !important;
}
.blockpost div.box,
.blockpost .box-head {
  border-top-color: #27473e !important;
}
