.box .box-content {
  background: #282828;
}
text {
  fill: white;
}
.nvtooltip {
  background: #000;
  color: #fff;
}
.nvtooltip h3 {
  background: #282828;
  color: #fff;
}
line {
  stroke: #606060 !important;
}
