#email-resend-box {
  border: none;
}
.modal-header {
  border-color: #606060;
}
#email-resend-box .email-resend-subsection {
  color: white;
}
#email-resend-box a {
  color: var(--scratchr2-linkColor);
}
#email-resend-box button.button {
  padding: 0 4px;
}
