/* Forums */
#brdheader,
div.content > article > header {
  background: #075e46;
}
div.content > article > header {
  box-shadow: none;
}
#forum-search-form {
  background-color: inherit;
  border-top-color: #606060;
}
#forum-search-dropdown {
  border-color: #606060;
}
.forum-search-list .blockpost {
  color: #fff;
}
ul.pagination a > span {
  /* Mobile forum pagination */
  background: #606060;
  color: #fff !important;
  box-shadow: none !important;
}
ul.pagination a.current > span,
ul.pagination a:active > span {
  background: #333;
}
.blockpost .box-content,
.postright,
.postfootright {
  background-color: #282828;
}
.blockpost div.box {
  background-color: #075e46;
  border-top-color: #075e46;
}
.blockpost .box-head {
  border-top-color: #075e46;
}
.postleft,
.postfootleft {
  background-color: #333;
}
.postright,
.postfootright {
  border-left-color: #333;
}
.djangobb th,
.tc2,
.tc3 {
  background: #333;
}
.djangobb td,
.djangobb th,
.djangobb tbody th,
.djangobb blockquote,
.code {
  border-color: #606060;
}
.postright,
.postfootright {
  box-shadow: inset 1px 0 #606060;
}
.postleft,
.postfootleft,
.blockpost label {
  box-shadow: 1px 0 #606060;
}
.djangobb blockquote,
.code,
.post-content blockquote,
.post-content div.code /* mobile */ {
  background: #333;
}
.post-content blockquote,
.post-content div.code {
  box-shadow: none;
}
.djangobb hr {
  background: #606060;
}
.post-content a,
footer a {
  color: var(--scratchr2-linkColor, #1aa0d8);
}
.markItUpHeader > ul > li,
.markItUpHeader > ul > .markItUpDropMenu {
  background-color: #e0e0e0 !important; /* #701 */
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 6px;
}
.markItUpHeader > ul > .markItUpDropMenu {
  background-position: 20px center !important; /* #701 */
}
.markItUpHeader > ul > .markItUpDropMenu > a {
  width: 24px;
  background-position: 3px center;
}
.markItUpHeader > ul > .markItUpDropMenu > ul {
  top: 21px;
}
.markItUpHeader > ul > li > a,
.markItUp .browser-os-button a {
  background-position: center center !important; /* #701 */
}
.markItUpHeader > ul > .markItUpSeparator {
  height: 22px;
  background-color: #606060;
  color: transparent;
}
.markItUpHeader > ul > li.uploadStatus {
  background: transparent !important;
}
.markItUpPreviewFrame {
  border-color: #606060 !important;
  background: transparent;
}
.my-ocular-reaction-button {
  background-color: #606060;
  box-shadow: 0 0 2px #075e46;
}
.my-ocular-reaction-button.selected {
  background-color: #075e46;
}
.my-ocular-popup {
  background-color: #202020;
  border-color: #606060;
  color: white;
}
.my-ocular-popup::before {
  border-top-color: #606060;
}
.my-ocular-popup::after {
  border-top-color: #202020;
}
