/* Comments */
.box .box-content .template-feature-off {
  color: #fff;
}
#comments form .small-text {
  color: #fff;
}
#comments .comments li,
#comments ul.comments ul li {
  /* Remove separators */
  border: none;
}
#comments .comment .info .content,
#comments .comment .info > div:not(.name):not(.content):not([data-content="reply-form"]) {
  border-color: #606060;
  background-color: var(--scratchr2-dark-boxbg, transparent);
}
#comments .content::after {
  border-color: #282828;
}
#comments .content::before {
  border-color: #606060;
}
#comments .highlighted {
  background: rgba(77, 151, 255, 0.1);
}
#comments .comment .info .name a {
  color: #fff;
}
#comments .comment .info .time {
  color: rgba(255, 255, 255, 0.4);
}
#comments #comments-loading {
  background-color: transparent;
}
#comments .easter-egg[src$="meow.png"] {
  content: url(%addon-self-dir%/assets/meow.png);
}
#comments .easter-egg[src$="gobo.png"] {
  content: url(%addon-self-dir%/assets/gobo.png);
}
#comments .easter-egg[src$="waffle.png"] {
  content: url(%addon-self-dir%/assets/waffle.png);
}
#comments .sa-emoji-picker {
  /* emoji-picker compatibility */
  background-color: black;
  color: white;
}
