/* Forums */
#brdheader {
  background: #075e46;
}
#forum-search-form {
  background-color: inherit;
  border-top-color: #606060;
}
#forum-search-dropdown {
  border-color: #606060;
}
.forum-search-list .blockpost {
  color: #fff;
}
.blockpost .box-content,
.postright,
.postfootright {
  background-color: #282828;
}
.blockpost div.box {
  background-color: #075e46;
  border-top-color: #075e46;
}
.blockpost .box-head {
  border-top-color: #075e46;
}
.postleft,
.postfootleft {
  background-color: #333;
}
.postright,
.postfootright {
  border-left-color: #333;
}
.djangobb th,
.tc2,
.tc3 {
  background: #333;
}
.djangobb td,
.djangobb th,
.djangobb blockquote,
.code {
  border-color: #606060;
}
.postright,
.postfootright {
  box-shadow: inset 1px 0 #606060;
}
.postleft,
.postfootleft,
.blockpost label {
  box-shadow: 1px 0 #606060;
}
.djangobb blockquote,
.code {
  background: #333;
}
.djangobb hr {
  background: #606060;
}
.markItUpHeader > ul > li,
.markItUpHeader > ul > .markItUpDropMenu {
  background-color: #e0e0e0 !important; /* #701 */
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 6px;
}
.markItUpHeader > ul > .markItUpDropMenu {
  background-position: 20px center !important; /* #701 */
}
.markItUpHeader > ul > .markItUpDropMenu > a {
  width: 24px;
  background-position: 3px center;
}
.markItUpHeader > ul > .markItUpDropMenu > ul {
  top: 21px;
}
.markItUpHeader > ul > li > a,
.markItUp .browser-os-button a {
  background-position: center center !important; /* #701 */
}
.markItUpHeader > ul > .markItUpSeparator {
  height: 22px;
  background-color: #606060;
  color: transparent;
}
.markItUpHeader > ul > li.uploadStatus {
  background: transparent !important;
}
.markItUpPreviewFrame {
  border-color: #606060 !important;
  background: transparent;
}
