/* Page background */
html,
body {
  background-color: var(--darkWww-page);
  color-scheme: var(--darkWww-page-colorScheme);
}
.sa-body-editor {
  /* If website dark mode is enabled and editor dark mode
  is disabled, inputs and scrollbars in the editor should
  have a light background. */
  color-scheme: light;
}
#view,
.crash-container,
.semicolon {
  background-color: var(--darkWww-page);
  color: var(--darkWww-page-text);
}
.subactions .share-date,
.conf2019-description {
  color: var(--darkWww-page-text);
}
.tips-getting-started,
.tips-activity-guides {
  background-color: var(--darkWww-page-ideas);
  color: var(--darkWww-page-text);
}
.project-loves::before,
.project-favorites::before,
.project-remixes::before,
.project-views::before,
.sa-project-info img {
  filter: var(--darkWww-page-filter);
}
.project-loves::before {
  background-image: url("%addon-self-dir%/assets/love_transparent.svg");
}
.project-favorites::before {
  background-image: url("%addon-self-dir%/assets/favorite_transparent.svg");
}
.project-loves.loved::before,
.project-favorites.favorited::before {
  filter: none;
}

/* Navigation bar background */
#navigation,
.dropdown,
.dropdown.with-arrow::before,
.user-projects-modal .user-projects-modal-title,
.transfer-host-modal .transfer-host-title {
  background-color: var(--darkWww-navbar);
  color: var(--darkWww-navbar-text);
}
#navigation .link > a,
#navigation .logo-a-title,
#navigation .inner > ul > li.search .input[type="text"],
#navigation .account-nav .user-info,
.login,
.dropdown a:link,
.dropdown a:visited,
.dropdown a:active,
.overflow-menu-container .overflow-menu-dropdown li button {
  color: var(--darkWww-navbar-text);
}
#navigation .inner > ul > li.search .input[type="text"]::placeholder {
  color: var(--darkWww-navbar-transparentText);
}
#navigation .inner > ul > li.search .btn-search,
#navigation .mystuff > a,
.account-nav .user-info::after,
.overflow-menu-container .overflow-menu-dropdown li button > img {
  filter: var(--darkWww-navbar-filter);
}
#navigation .messages > a {
  background-image: none;
}
#navigation .messages > a::before {
  /* move background image into a pseudo-element
     so that the filter doesn't affect the message count */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(https://scratch.mit.edu/images/nav-notifications.png) no-repeat center / 45%;
  filter: var(--darkWww-navbar-filter);
}
#navigation .messages > a:hover::before {
  background-size: 50%;
}
#navigation .link > a:hover,
#navigation .inner > ul > li.search .input,
#navigation .inner > ul > li.right a:hover,
.account-nav .user-info.open {
  background-color: var(--darkWww-navbar-border);
}
.dropdown > li.divider,
#navigation .logo-a-image {
  border-color: var(--darkWww-navbar-border);
}
#navigation .inner > ul > li.search .input[type="text"]:focus {
  background-color: var(--darkWww-navbar-inputFocus);
}

/* Content background */
.box,
.box .box-content,
.tab-background,
.outer .tab-background,
.tabs,
.tabs button:hover,
.os-chooser,
.studio-tab-nav li,
.user-projects-modal .user-projects-modal-nav button,
body:not(.sa-body-editor) .modal-content,
.unsupported-browser .body,
body:not(.sa-body-editor) .formik-input,
.studio-info .studio-image,
.studio-report-modal .studio-report-tile-image,
.grid .thumbnail,
.studio-project-tile,
.studio-member-tile,
.studio-activity .studio-messages-list,
.ttt-tile,
.about .body,
.messages-social-list,
.comment-text,
.comment .comment-body .comment-bubble,
.comment .comment-body .comment-bubble::before,
.invitation-card,
.milestones-section .milestone-box,
.supporters-section .comment-text,
.timeline-card,
.green.pull-quote,
.card,
.extension-landing .project-card,
.extension-landing .hardware-card,
.promote-modal .cancel-button,
body:not(.sa-body-editor) [class*="stage-header_stage-size-row_"] > *,
body:not(.sa-body-editor) [class*="stage-header_stage-button_"],
.studio-adder-section .studio-adder-row input,
.studio-adder-section .studio-adder-row .studio-adder-vertical-divider,
.avatar-item img,
.join-flow-outer-content /* username change */,
.conf2019-panel-flag,
.plan .faq .short,
.conf2017-panel-flag,
body:not(.sa-body-editor) .join-flow-input,
body:not(.sa-body-editor) .select .join-flow-select,
body:not(.sa-body-editor) input[type="radio"].formik-radio-button,
body:not(.sa-body-editor) input.formik-radio-input,
.extension-landing .screenshot,
.wedo .project-card,
.transfer-host-modal .cancel-button,
.transfer-host-modal .transfer-password-input,
.comments-container .sa-emoji-picker,
.studio-compose-container .sa-emoji-picker {
  background-color: var(--darkWww-box);
  color: var(--darkWww-box-text);
  color-scheme: var(--darkWww-box-colorScheme);
}
body:not(.sa-body-editor) .button.white,
.intro-banner .intro-button,
.donate-banner .donate-container .donate-button,
.hoc-banner .hoc-more-activities,
.hoc-banner .hoc-banner-image,
.feature-banner .feature-learn-more,
.feature-banner .feature-banner-image,
.outer .categories li,
.banner-wrapper .banner-button /* Choose a tutorial */,
.studio-selector-button,
.onboarding button.go-back,
.button.mod-2019-conf-maillist-button,
.index .title-banner p a button,
.financials-section .financials-button,
.donate-section .donate-button,
.initiatives-section .initiatives-subsection-content .bubble.inverted {
  background-color: var(--darkWww-box);
}
.expect .keynote .card {
  background-color: transparent;
}
.studio-selector-button-selected {
  background-color: #23be92;
}
.comment-text::after,
.initiatives-section .initiatives-adaptation .community-quotes .community-quote .comment-text::after,
.sa-annual-report-2020
  .initiatives-section
  .initiatives-community
  .community-quotes
  .community-quote
  .comment-text::after,
.wedo .project-card img {
  border-color: var(--darkWww-box);
}
.news li p,
.thumbnail .thumbnail-loves,
.thumbnail .thumbnail-favorites,
.thumbnail .thumbnail-remixes,
.thumbnail .thumbnail-views,
.tabs button,
.tabs button:hover,
.tabs button.active:hover,
.grid .thumbnail .thumbnail-info .thumbnail-title .thumbnail-creator a,
.unsupported-browser .faq-link-text,
a.social-messages-profile-link:visited,
a.social-messages-profile-link:link,
.studio-selector-button-text-unselected,
.studio-project-tile .studio-project-username,
.studio-member-tile .studio-member-role,
body:not(.sa-body-editor) .join-flow-title {
  color: var(--darkWww-box-text);
}
.activity-li .social-message-date,
.comment .comment-body .comment-bottom-row .comment-time,
.registration-step .help-text {
  color: var(--darkWww-box-transparentText);
}
body:not(.sa-body-editor) .formik-input::placeholder,
body:not(.sa-body-editor) .join-flow-privacy-message,
.char-count {
  color: var(--darkWww-box-inputPlaceholder);
}
.comment .comment-body .comment-bubble.comment-bubble-reported,
.comment .comment-body .comment-bubble.comment-bubble-reported::before,
.react-tel-input {
  color: #575e75;
}
.thumbnail .thumbnail-loves::before,
.thumbnail .thumbnail-favorites::before,
.thumbnail .thumbnail-remixes::before,
.thumbnail .thumbnail-views::before,
.ttt-item img,
.tabs button:not(.active) .tab-icon,
body:not(.sa-body-editor) [class*="stage-header_stage-button-icon_"],
.overflow-menu-container .overflow-menu-trigger img,
.sa-footer-arrow {
  filter: var(--darkWww-box-filter);
}
.studio-tab-nav li img {
  filter: var(--darkWww-box-filterInverted);
}
.box,
.box .box-header {
  border-color: var(--darkWww-box-border);
}
.os-chooser .button {
  background-color: var(--darkWww-box-tab);
}
.sub-nav button:active {
  background-color: var(--darkWww-box-tabHover);
}
.tabs button:hover {
  border-color: var(--darkWww-box-tabHover);
}
.tabs button.active,
.tabs button.active:hover {
  border-color: var(--darkWww-box-greenText);
}
.donate-banner .donate-container .donate-button,
.banner-wrapper .banner-button /* Choose a tutorial */,
.donate-section .donate-button {
  color: var(--darkWww-box-greenText);
}
.social-message-icon {
  opacity: var(--darkWww-box-messageIconOpacity);
}
.studio-report-modal .studio-report-tile:not(.studio-report-selected),
.studio-report-modal .studio-report-tile-header:not(.studio-report-header-selected) {
  background-color: var(--darkWww-box-studioReportTile);
}
.action-button.disabled,
.studio-report-modal .button:disabled,
.transfer-host-modal .button:disabled {
  background-color: var(--darkWww-box-buttonDisabled);
  color: white;
}
body:not(.sa-body-editor) .select .join-flow-select {
  background-image: var(--darkWww-box-caret);
}
.alert-wrapper .alert.alert-success,
.studio-info-box.studio-info-box-success {
  background-color: var(--darkWww-box-success);
  color: var(--darkWww-box-text);
}
.alert-wrapper .alert.alert-error,
.studio-info-box.studio-info-box-error {
  background-color: var(--darkWww-box-error);
  color: var(--darkWww-box-text);
}

/* Gray background */
.box .box-header,
.outer #projectBox,
.download .installation,
body:not(.sa-body-editor) .gender-radio-row,
.wedo .banner {
  background-color: var(--darkWww-gray);
  color: var(--darkWww-gray-text);
}
body:not(.sa-body-editor) /* specificity */ .outer .sort-mode .select select {
  background-color: transparent;
  background-image: var(--darkWww-gray-caret);
  color: var(--darkWww-gray-text);
}
body:not(.sa-body-editor) .outer .sort-mode .select select:hover,
body:not(.sa-body-editor) .outer .sort-mode .select select:focus {
  background-image: var(--darkWww-gray-caretHover);
}
.box .box-header {
  border-top-color: var(--darkWww-gray-boxHighlight);
}
.toggle-switch .slider {
  background-color: var(--darkWww-gray-darker);
}
.compose-comment .compose-bottom-row .compose-cancel,
.modal-mute .feedback-nav .close-button {
  background-color: var(--darkWww-gray-darker);
  color: white;
}

/* Blue background */
.empty,
.intro-banner .intro-subnav,
.social-message.mod-unread,
.preview .remix-credit,
.preview .project-description,
.preview .project-lower-container,
.studio-list-outer-scrollbox,
.social-form,
.studio-page,
.user-projects-modal .user-projects-modal-content,
.congratulations-page .congratulations-image-layout,
.credits #acknowledgements,
.download .blue,
p.callout,
.mission-section,
.milestones-section,
.initiatives-section .initiatives-tools .subsection-tag.collaborator,
.sa-annual-report-2019 .supporters-section,
.sa-annual-report-2019 .leadership-section,
.extension-landing .blue,
.extension-landing .tip-box,
.extension-landing .hardware-card-image,
.transfer-host-modal .transfer-selection-heading,
.transfer-host-modal .transfer-selection-scroll-pane,
.transfer-host-modal .transfer-outcome,
.filter-container,
.tab-choice-selected-sa,
#bad-username-splash .admin-message /* username change */,
.sa-annual-report-2020 .initiatives-section .year-in-review,
.initiatives-section .initiatives-subsection-content .map,
.sa-annual-report-2021 .leadership-section .leadership-scratch-team .avatar-item img,
body:not(.sa-body-editor) .gender-radio-row:hover,
.educators .feature {
  background-color: var(--darkWww-blue);
  color: var(--darkWww-blue-text);
  color-scheme: var(--darkWww-blue-colorScheme);
}
.empty h4,
.thumbnail-column .thumbnail .thumbnail-info .thumbnail-title .thumbnail-creator a,
.studio-page #view,
#bad-username-splash .admin-message .admin-message-date /* username change */,
.milestones-section h2 {
  color: var(--darkWww-blue-text);
}
.comment .comment-top-row .comment-delete::before,
.comment .comment-top-row .comment-report::before,
.studio-info .studio-info-footer-stats div img {
  filter: var(--darkWww-blue-filter);
}
.studio-tab-nav a.nav_link:hover > li,
.studio-info-box .studio-info-close-button {
  background-color: var(--darkWww-blue-tab);
}
.studio-list-inner-scrollbox::-webkit-scrollbar-thumb {
  background-color: var(--darkWww-blue-tabHover);
}
.studio-info textarea.studio-title:not(:focus),
.studio-info textarea.studio-description:not(:focus),
.extension-landing .blue hr {
  border-color: var(--darkWww-blue-studioTextareaBorder);
}
.install-scratch .downloads-container .horizontal-divider::before,
.install-scratch .downloads-container .horizontal-divider::after,
.extension-landing .install-scratch-link .horizontal-divider::before,
.extension-landing .install-scratch-link .horizontal-divider::after {
  background-color: var(--darkWww-blue-studioTextareaBorder);
}
.commenting-status,
.preview .comments-container .comments-turned-off,
.studio-info .studio-description.uneditable,
.studio-info-box {
  background-color: var(--darkWww-blue-20);
  color-scheme: var(--darKWww-blue-colorScheme);
}
.join-flow-footer-message {
  background-color: var(--darkWww-blue-25);
}
.extension-chip,
body:not(.sa-body-editor) .gender-radio-row-selected,
body:not(.sa-body-editor) .gender-radio-row-selected:hover {
  background-color: var(--darkWww-blue-25);
  color: var(--darkWww-blue-text);
}
.replies.collapsed > .comment:last-of-type::after,
.studio-list-bottom-gradient {
  background-image: linear-gradient(var(--darkWww-blue-opacity0), var(--darkWww-blue));
}

/* Input background */
body:not(.sa-body-editor) .select select,
body:not(.sa-body-editor) .select select:hover,
body:not(.sa-body-editor) .select select:focus,
body:not(.sa-body-editor) .select select > option,
.inplace-input,
.inplace-textarea,
.textarea,
.input {
  background-color: var(--darkWww-input);
  color: var(--darkWww-input-text);
}
.inplace-input::placeholder,
.inplace-textarea::placeholder {
  color: var(--darkWww-input-transparentText);
}
body:not(.sa-body-editor) .select select {
  background-image: var(--darkWww-input-caret);
}
body:not(.sa-body-editor) .select select:hover,
body:not(.sa-body-editor) .select select:focus {
  background-image: var(--darkWww-input-caretHover);
}

/* Highlight color */
.button,
.outer .categories li.active,
.subactions .action-buttons .action-button,
.unsupported-browser .back-button,
.studio-status-icon-unselected,
.studio-info .studio-info-footer-report button,
.studio-tab-nav .active > li,
.user-projects-modal .user-projects-modal-nav button.active,
.os-chooser .button.active,
.step .step-number-row .step-number,
.row .col-sm-9 input[type="radio"]:checked {
  background-color: var(--darkWww-button);
  color: var(--darkWww-button-text);
}
.forms-close-button {
  background-color: rgba(0, 0, 0, 0.1);
}
.banner-outer:not(.banner-danger) .banner-button /* Share */ {
  background-color: #ffab1a;
}
a.ttt-try-tutorial-button > span {
  color: var(--darkWww-button-text);
}
.row .col-sm-9 input[type="radio"]:checked::after {
  background-color: var(--darkWww-button-text);
}
.preview .remix-button,
.os-chooser .button:not(.active),
.card .card-button,
.initiatives-section .video-background.abhi .button,
.initiatives-section .video-background.cps .button {
  color: white;
}
.inplace-input:focus,
.inplace-textarea:focus,
.textarea:focus,
.outer .categories li,
.unsupported-browser .back-button,
body:not(.sa-body-editor) .formik-input:focus,
.input:focus,
.react-tel-input input[type="tel"]:focus {
  border-color: var(--darkWww-button);
}
.studio-tile-added {
  border-color: var(--darkWww-button) !important;
}
.promote-modal .cancel-button,
.transfer-host-modal .cancel-button {
  box-shadow: 0 0 0 1px var(--darkWww-button);
}
.button img,
.preview .see-inside-button::before,
.subactions .action-buttons .action-button::before,
.studio-status-icon-plus-img,
.studio-info .studio-info-footer-report button img,
.studio-tab-nav .active > li img,
.studio-tab-nav a.active.nav_link:hover > li img,
#footer .inner .media li img {
  filter: var(--darkWww-button-filter);
}
.forms-close-button img,
.os-chooser .button:not(.active) img {
  filter: none;
}
.input_label:hover {
  background-color: var(--darkWww-button-transparent10);
}
.user-projects-modal .user-projects-modal-nav button:hover,
.user-projects-modal .user-projects-modal-nav button.active:hover {
  border-color: var(--darkWww-button-transparent10);
}
.outer .categories li:hover,
.user-projects-modal .user-projects-modal-nav button:hover,
.messages-admin-list .admin-message {
  background-color: var(--darkWww-button-transparent25);
}
.comment .avatar {
  box-shadow: 0 0 0 1px var(--darkWww-button-transparent25);
}
.inplace-input:focus,
.inplace-textarea:focus,
.studio-tile-added,
body:not(.sa-body-editor) .formik-input:focus {
  box-shadow: 0 0 0 4px var(--darkWww-button-transparent25);
}
body:not(.sa-body-editor) [class*="stage-header_stage-button_"]:active {
  background-color: var(--darkWww-button-transparent35);
}
.outer .categories li.active:hover,
.studio-info .studio-info-footer-report button:hover,
.studio-tab-nav a.active.nav_link:hover > li {
  background-color: var(--darkWww-button-variant);
  color: var(--darkWww-button-text);
}
.intro-banner .intro-container,
.title-banner.mod-messages,
.download .download-header,
.link .extension-header /* Scratch Link download */,
.information-page .title-banner.masthead,
.modal-flush-bottom-button {
  background-color: var(--darkWww-button-banner);
}
.modal-flush-bottom-button:hover {
  background-color: var(--darkWww-button-bannerVariant);
}

/* Link color */
a,
a:link,
a:visited,
body:not(.sa-body-editor) .button.white,
.news li h4,
.intro-banner .intro-button,
.hoc-banner .hoc-more-activities,
.hoc-banner .hoc-banner-image .hoc-image-text,
.feature-banner .feature-learn-more,
.feature-banner .feature-banner-image .feature-image-text,
.outer .categories li,
.unsupported-browser .faq-link,
a.social-messages-profile-link:hover,
a.social-messages-profile-link:active,
.comment .comment-body .comment-bottom-row .comment-reply,
.studio-adder-section h3,
.studio-project-tile .studio-project-title,
.studio-member-tile .studio-member-name,
.studio-thumb-edit-button,
.studio-manager-count,
.promote-modal .cancel-button,
.transfer-host-modal .cancel-button {
  color: var(--darkWww-link);
}
.studio-manager-count {
  border-color: var(--darkWww-link);
}
.user-projects-modal .studio-projects-empty-text {
  color: var(--darkWww-link-transparent);
}
a:hover {
  color: var(--darkWww-link-hover);
}
.sa-annual-report-2020 a,
.sa-annual-report-2020 a:link,
.sa-annual-report-2020 a:visited,
.sa-annual-report-2020 a:active {
  color: #3373cc;
}
.banner a,
.privacy-banner a,
.subnavigation a,
.subnavigation a:active {
  color: white;
}
.hoc-banner .hoc-more-activities img,
.comment .comment-body .comment-bottom-row .comment-reply::after,
.comment-status-icon,
.studio-thumb-edit-img,
.studio-activity .studio-activity-icon,
.download .older-version .little-arrow,
.transfer-host-modal .transfer-outcome-arrow {
  filter: var(--darkWww-link-iconFilter);
}

/* Footer background */
#footer,
#donor,
.gray-area,
.parents .title-banner.faq-banner,
.developers .title-banner.faq-banner {
  background-color: var(--darkWww-footer);
  color: var(--darkWww-footer-text);
}
.developers #faq p {
  color: var(--darkWww-footer-text);
}
img.tips-icon {
  filter: var(--darkWww-footer-filter);
}

/* Border color */
.tips-divider,
.about .masthead div li:nth-child(odd),
.about .body,
.about .body img,
.about .body iframe,
.preview .remix-credit,
.preview .project-description,
.commenting-status,
.avatar-item img,
.filter-container,
.tab-choice-sa,
.tab-choice-selected-sa {
  border-color: var(--darkWww-border-5);
}
body:not(.sa-body-editor) .select select,
.textarea,
.action-button.close-button,
.sa-collapse-footer #footer,
.empty,
.outer .sort-controls,
.preview .comments-container .comments-turned-off,
.comment .comment-body .comment-bubble,
.comment .comment-body .comment-bubble::before,
.studio-tab-nav a.nav_link:hover > li,
.studio-info-box,
.developers #faq,
p.callout,
#footer .inner .collaborators,
.input,
.row .col-sm-9 input[type="radio"]:not(:checked),
.extension-landing .tip-box {
  border-color: var(--darkWww-border);
}
.grid .thumbnail,
.ttt-tile,
.thumbnail-column .thumbnail .thumbnail-image {
  box-shadow: 0 0 0 1px var(--darkWww-border);
}
.expand-thread::before,
.expand-thread::after {
  background-color: var(--darkWww-border);
}
.crash-container,
.news li:nth-child(even),
.thumbnail .thumbnail-image img,
.video-player,
.ttt-content-chunk + .ttt-content-chunk,
.messages-social-list,
.social-message,
.comment-text,
.comment-text::before,
body:not(.sa-body-editor) [class*="stage_stage_"],
body:not(.sa-body-editor) [class*="stage-header_stage-button_"],
.social-form,
.studio-info .studio-image,
.studio-report-modal .studio-report-tile-image,
.studio-tab-nav a.nav_link > li,
.studio-project-tile,
.studio-adder-section .studio-adder-row input,
.studio-adder-section .studio-adder-row .studio-adder-vertical-divider,
.user-projects-modal .user-projects-modal-nav button,
.studio-member-tile,
.studio-activity .studio-messages-list,
.developers #projects h3,
.developers #principles h3,
.developers #donate,
.information-page .info-outer nav,
.conf2021-panel,
.conf2019-panel,
.conf2019-panel-flag,
.conf2017-panel,
.conf2017-panel-flag,
.expect .schedule table th,
.expect .schedule table td,
.plan section,
.plan .faq .short,
.supporters-section .supporters-level hr,
body:not(.sa-body-editor) input[type="radio"].formik-radio-button,
.extension-landing hr,
.extension-landing .screenshot,
.extension-landing .project-card,
.extension-landing .hardware-card,
.transfer-host-modal .transfer-password-input,
.cookies-table td,
.cookies-table th,
.comments-container .sa-emoji-picker,
.studio-compose-container .sa-emoji-picker,
.sa-emoji-picker-divider {
  border-color: var(--darkWww-border-15);
}
.navigation .dot {
  background-color: var(--darkWww-border-15);
}
.navigation .dot.active {
  background-color: #4d97ff;
}
.compose-comment .textarea-row textarea:not(:focus),
.studio-tab-nav,
.messages-admin-list .admin-message,
body:not(.sa-body-editor) .formik-input,
body:not(.sa-body-editor) input[type="checkbox"].formik-checkbox:not(:checked),
.row .checkbox input[type="checkbox"]:not(:checked) {
  border-color: var(--darkWww-border-20);
}
.studio-tab-nav a.nav_link.active > li,
.user-projects-modal .user-projects-modal-nav button.active {
  border-color: rgba(0, 0, 0, 0.15);
}

/* Message count */
#navigation .messages .message-count.show {
  background-color: var(--darkWww-messageIndicatorColor);
  color: var(--darkWww-messageIndicatorColor-text);
}
.messages-header-unread {
  background-color: var(--darkWww-messageIndicatorOnMessagesPage);
  color: var(--darkWww-messageIndicatorOnMessagesPage-text);
}

/* Miscellaneous styles */

:root {
  /* URLs defined here because addon.json can't use %addon-self-dir% */
  --darkWww-caretBlack: url("%addon-self-dir%/assets/caret_transparent.svg");
  --darkWww-caretWhite: url("%addon-self-dir%/assets/caret_white.svg");
  --darkWww-caretBlackHover: url("%addon-self-dir%/assets/caret_transparent_hover.svg");
  --darkWww-caretWhiteHover: url("%addon-self-dir%/assets/caret_white_hover.svg");
}

h1,
h2,
h3,
h4,
h5,
p {
  color: inherit;
}

/* Some images are designed for a light background: */
.preview .comments-container .comment-placeholder-img,
.studio-comment-placholder-img {
  width: calc(100% - 30px);
  padding: 15px;
  background-color: #e9f1fc;
  border-radius: 8px;
}
.studio-empty-img {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #e9f1fc;
  border-radius: 8px;
}
#footer .inner .collaborators li {
  padding: 0 4px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.guiPlayer,
.sa-annual-report-2021 .initiatives-section .year-in-review {
  color: #575e75;
}

.intro-banner {
  background: transparent;
}

.emoji[src$="meow.png"] {
  content: url(%addon-self-dir%/assets/meow.png);
}
.emoji[src$="gobo.png"] {
  content: url(%addon-self-dir%/assets/gobo.png);
}
.emoji[src$="waffle.png"] {
  content: url(%addon-self-dir%/assets/waffle.png);
}

.banner /* confirm email */ {
  /* Fix ugly gray shadow */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.wedo .banner {
  box-shadow: none;
}

.initiatives-access > .green {
  /* Change the solid color background to a transparent one */
  background-color: rgba(0, 165, 0, 0.07);
}

.twitter-tweet iframe {
  /* If the color scheme of an iframe element is different from that
     of the document inside, it gets an opaque backgound. */
  color-scheme: light;
}
