html > body:not(.sa-body-editor),
h1,
h2,
h3,
h4,
h5,
p,
.news li p,
a.social-messages-profile-link,
.outer .sort-mode .select select,
.studio-tab-nav li,
.user-projects-modal .user-projects-modal-nav button,
.grid .thumbnail .thumbnail-info .thumbnail-title .thumbnail-creator a,
.thumbnail-column .thumbnail .thumbnail-info .thumbnail-title .thumbnail-creator a,
.thumbnail .thumbnail-loves,
.thumbnail .thumbnail-favorites,
.thumbnail .thumbnail-remixes,
.thumbnail .thumbnail-views,
.studio-project-tile .studio-project-username,
#footer,
#donor,
.subactions .share-date,
.developers #faq p,
.social-form,
body:not(.sa-body-editor) .join-flow-title,
.initiatives-section .initiatives-tools .subsection-tag.collaborator {
  color: #fff;
}
.sa-body-editor h1,
.sa-body-editor h2,
.sa-body-editor h3,
.sa-body-editor h4,
.sa-body-editor h5,
.sa-body-editor p {
  color: inherit;
}
.studio-page,
.user-projects-modal .user-projects-modal-content {
  background: #252c37;
}
#view,
.crash-container,
.outer #projectBox,
.tips-getting-started,
.tips-activity-guides,
.studio-report-modal .studio-report-tile,
.studio-report-modal .button:disabled {
  background: #202020;
}
.box .box-header,
.gray-area,
#footer,
#donor,
.parents .title-banner.faq-banner,
.developers .title-banner.faq-banner,
.credits .supporters,
.download .installation,
body:not(.sa-body-editor) .gender-radio-row,
.wedo .banner,
.studio-report-modal .studio-report-tile-header {
  background: #333;
}
.thumbnail .thumbnail-loves::before,
.thumbnail .thumbnail-favorites::before,
.thumbnail .thumbnail-remixes::before,
.thumbnail .thumbnail-views::before,
.project-loves::before,
.project-favorites::before,
.project-remixes::before,
.project-views::before,
.comment .comment-top-row .comment-delete::before,
.comment .comment-top-row .comment-report::before,
img.tips-icon,
.tabs li:not(.active) .tab-icon,
.overflow-menu-container .overflow-menu-trigger img,
.studio-info .studio-info-footer-stats div img,
body:not(.sa-body-editor) .stage-header_stage-button-icon_3zzFK {
  filter: brightness(0) invert(1);
}
.project-loves.loved::before,
.project-favorites.favorited::before,
.studio-tab-nav li img {
  filter: none;
}
.comment .comment-body .comment-bottom-row .comment-time {
  color: rgba(255, 255, 255, 0.4);
}
.credits .logo-grid {
  /* Some logos don't look well on dark background */
  background: #f7f6f8;
  color: #575e75;
}
.box,
.box .box-content,
body:not(.sa-body-editor) .button.white,
.tab-background,
.outer .tab-background,
.tabs,
.tabs li:hover,
.intro-banner .intro-button,
.os-chooser,
.studio-tab-nav li,
.user-projects-modal .user-projects-modal-nav button,
body:not(.sa-body-editor) .modal-content,
.studio-info .studio-image,
.grid .thumbnail,
.studio-project-tile,
.studio-member-tile,
.studio-activity .studio-messages-list,
.ttt-tile,
.about .body,
.messages-social-list,
.comment-text,
.comment .comment-body .comment-bubble,
.comment .comment-body .comment-bubble::before,
.milestones-section .milestone-box,
.supporters-section .comment-text,
.card,
.extension-landing .project-card,
.promote-modal .cancel-button,
body:not(.sa-body-editor) .stage-header_stage-button_hkl9B {
  background: #282828;
}
.comment-text::after {
  border-color: #282828;
}
.tabs li,
.tabs li:hover,
.tabs li.active:hover {
  color: #fff;
}
.tabs li:hover {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.outer .categories li,
.os-chooser .button,
.studio-tab-nav a.nav_link:hover > li {
  background-color: rgba(255, 255, 255, 0.1);
}
.outer .categories li:hover,
.supporters-section .supporters-level hr {
  background-color: rgba(255, 255, 255, 0.2);
}
.box,
.box .box-header,
#footer, /* for infinite scrolling fixed footer */
.textarea,
.studio-info textarea.studio-title:not(:focus), .studio-info textarea.studio-description:not(:focus),
.crash-container,
.studio-adder-section .studio-adder-row input,
.studio-adder-section .studio-adder-row .studio-adder-vertical-divider,
.studio-tab-nav,
.studio-tab-nav a.nav_link:not(.active) > li,
.studio-info .studio-image,
.user-projects-modal .user-projects-modal-nav button,
.studio-project-tile,
.studio-member-tile,
.studio-activity .studio-messages-list,
.news li:nth-child(even),
.thumbnail .thumbnail-image img,
.outer .sort-controls,
.video-player,
.about .body,
.about .body img,
.about .body iframe,
.messages-social-list,
.social-message,
.comment-text,
.comment-text::before,
.compose-comment .textarea-row textarea:not(:focus),
.comment .comment-body .comment-bubble,
.comment .comment-body .comment-bubble::before,
input[type="checkbox"].formik-checkbox,
.developers #projects h3,
.developers #principles h3,
.developers #donate,
.developers #donate h3,
.developers #faq,
.information-page .info-outer nav,
.conf2020-panel,
.extension-landing hr,
.extension-landing .project-card,
body:not(.sa-body-editor) .stage_stage_1fD7k,
body:not(.sa-body-editor) .stage-header_stage-button_hkl9B {
  border-color: #606060;
}
.box .box-header {
  border-top-color: transparent;
}
.inplace-input,
.inplace-textarea,
.textarea,
.studio-adder-section input,
.modal {
  background: #282828;
  color: #fff;
}
body:not(.sa-body-editor) .select select,
body:not(.sa-body-editor) .select select:hover,
body:not(.sa-body-editor) .select select:focus,
body:not(.sa-body-editor) .select select option,
.select .join-flow-join-flow-select {
  color: #fff;
  background-color: #282828;
}
.social-message-icon {
  opacity: 0.5;
}
.intro-banner {
  background: transparent;
}
.developers .title-banner.masthead {
  background: #075e46;
}
.comment .comment-body .comment-bubble.comment-bubble-reported,
.comment .comment-body .comment-bubble.comment-bubble-reported::before {
  background: #371528;
  border-color: #601;
}
.replies.collapsed > .comment:last-of-type::after {
  background: linear-gradient(rgba(37, 44, 55, 0), #252c37);
}
.studio-list-bottom-gradient {
  background: linear-gradient(rgba(40, 40, 40, 0), #282828);
}
.join-flow-privacy-message {
  color: rgba(255, 255, 255, 0.6);
}
.emoji[src$="meow.png"] {
  content: url(%addon-self-dir%/assets/meow.png);
}
.emoji[src$="gobo.png"] {
  content: url(%addon-self-dir%/assets/gobo.png);
}
.emoji[src$="waffle.png"] {
  content: url(%addon-self-dir%/assets/waffle.png);
}

.project-info-alert,
.alert-msg,
.monitor_label_ci1ok, /* for some strange reason, variable names inherit their color from the body, unlike list title names */
.monitor_list-empty_1UKsB {
  color: #575e75;
}
