/* Page background */
html,
body {
  background-color: var(--darkWww-page);
  color: var(--darkWww-page-scratchr2Text);
  color-scheme: var(--darkWww-page-colorScheme);
}
h1,
h2,
h3,
h4 {
  color: var(--darkWww-page-scratchr2HeaderText);
}
label,
#email-resend-box .email-resend-subsection {
  color: var(--darkWww-page-scratchr2LabelText);
}

/* Navigation bar background */
#topnav .innerwrap,
#topnav ul.account-nav .logged-in-user .dropdown-menu,
#topnav ul.account-nav .sign-in .popover {
  background-color: var(--darkWww-navbar-scratchr2);
}
#topnav li.logout.divider input,
#topnav li.logout.divider input:hover {
  background-color: transparent;
}
#topnav ul.site-nav li,
#topnav ul.site-nav li.last,
#topnav ul.account-nav > li,
#topnav ul.account-nav > li.join-scratch,
#topnav ul.account-nav.logged-in > li,
#topnav ul.account-nav ul.user-nav li.logout.divider,
#topnav ul.account-nav .sign-in .popover {
  border-color: transparent;
}
#topnav ul.account-nav .sign-in .popover .arrow {
  border-bottom-color: var(--darkWww-navbar-scratchr2);
}
#topnav ul.account-nav .sign-in .popover .arrow::after {
  border-bottom-color: transparent;
}
#topnav ul.site-nav li a,
#topnav ul.account-nav > li > span,
#topnav ul.account-nav > li.join-scratch:not(:hover) > a,
#topnav ul.account-nav ul.user-nav li a,
#topnav li.logout.divider input,
#topnav ul.account-nav .sign-in form label,
#topnav ul.account-nav .sign-in form .forgot-password a {
  color: var(--darkWww-navbar-scratchr2Text);
}
#topnav .dropdown span.dropdown-toggle span.caret {
  border-top-color: var(--darkWww-navbar-scratchr2Text);
}
#topnav ul.account-nav .my-stuff .mystuff-icon {
  filter: var(--darkWww-navbar-scratchr2ShadowFilter);
}
#topnav ul.account-nav .messages .messages-icon {
  background-image: none;
}
#topnav ul.account-nav .messages .messages-icon::before {
  /* Move icon into a pseudo-element so filters can be applied to it separately */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://cdn.scratch.mit.edu/scratchr2/static/images/nav-notifications.png") no-repeat center center;
  filter: var(--darkWww-navbar-scratchr2ShadowFilter);
}
#topnav ul.site-nav li:hover,
#topnav ul.account-nav > li.sign-in:hover,
#topnav ul.account-nav > li.sign-in.open,
#topnav ul.account-nav.logged-in li:hover {
  background-color: var(--darkWww-navbar-scratchr2ItemHover);
}
#topnav ul.account-nav .logged-in-user.dropdown.open {
  background-color: var(--darkWww-navbar-scratchr2ItemHover) !important;
}

/* Content background */
.box .box-content,
.box .box-content .inner,
.editable:hover,
.editable.write,
.editable-empty,
.modal,
.jqui-modal,
.jqui-modal.ui-corner-all,
.blockpost .box-content,
.postright,
.postfootright,
#forum-search-form,
.media-item-content .media-thumb,
.ajax-loader,
.box .box-head .portrait img,
.profile-box-footer-module,
.gallery.thumb span.image,
.gallery.thumb span.image img,
#comments #comments-loading,
#comments .more-replies,
.nvtooltip /* statistics */,
.help .faq .box,
#email-resend-box .modal-footer,
#new-scratcher-gallery-modal .modal-footer,
.registration form,
.registration a.why-we-ask:hover+div,
#comments .sa-emoji-picker {
  background-color: var(--darkWww-box);
  color: var(--darkWww-box-scratchr2Text);
}
.info-tooltip /* statistics */ {
  background-color: var(--darkWww-box);
  color: var(--darkWww-box-scratchr2LabelText);
}
.dropdown .dropdown-menu {
  background-color: var(--darkWww-box);
  color: var(--darkWww-box-scratchr2ButtonText);
}
input,
textarea,
select {
  background-color: var(--darkWww-box);
  color: var(--darkWww-box-scratchr2InputText);
}
.arrow-left,
.arrow-right {
  background-color: var(--darkWww-box);
}
.markItUpHeader ul ul {
  background-color: var(--darkWww-box) !important;
}
#featured-project-modal .project.thumb {
  border-color: var(--darkWww-box);
}
.markItUpHeader ul ul li {
  border-color: var(--darkWww-box) !important;
}
.box-content h1,
.box-content h2,
.box-content h3,
.box-content h4,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.profile-box-footer-module h4,
.stats li {
  color: var(--darkWww-box-scratchr2HeaderText);
}
.box-content label,
.modal label,
.jqui-modal .ui-dialog-titlebar,
.ui-widget-content,
.ui-widget-content a,
#comments .comment .info .name a {
  color: var(--darkWww-box-scratchr2LabelText);
}
.nvd3 [style*="fill: rgb(68, 68, 68)"] /* statistics radio buttons */ {
  fill: var(--darkWww-box-scratchr2LabelText) !important;
}
.nvd3 [style*="stroke: rgb(68, 68, 68)"] /* statistics radio buttons */ {
  stroke: var(--darkWww-box-scratchr2LabelText) !important;
}
span.small-text,
.thumb span.owner,
.media-item-content .media-stats .stat,
.slider-carousel .thumb span.owner,
.slider-carousel .thumb span.owner a,
.box .box-content .template-feature-off,
.help span.quotes {
  color: var(--darkWww-box-scratchr2ButtonText);
}
.posteditmessage,
.editable-empty [data-content="prompt"],
.slider-carousel .slider-carousel-control.off {
  color: var(--darkWww-box-transparentText);
}
.media-info-item.date,
#bio-readonly,
#status-readonly,
#profile-box #bio textarea,
#profile-box #status textarea,
#comments .comment .info .time,
#comments .comment .report,
#comments .comment .delete,
.box .box-content .pagination .disabled,
.registration a.why-we-ask {
  color: var(--darkWww-box-scratchr2GrayText);
}
.dropdown span.dropdown-toggle.black span.caret {
  border-top-color: var(--darkWww-box-scratchr2Caret);
}
input::placeholder {
  color: var(--darkWww-box-scratchr2InputPlaceholder);
}
.close,
.close:hover {
  color: var(--darkWww-box-scratchr2BlackText);
  text-shadow: none;
}
.markItUpHeader ul ul a {
  color: var(--darkWww-box-scratchr2BlackText) !important;
}
.nvd3 text /* statistics */,
#country_chart text /* statistics */ {
  fill: var(--darkWww-box-scratchr2BlackText);
}
.nvd3 .nv-axis path /* statistics */ {
  stroke: var(--darkWww-box-scratchr2BlackText);
}
.box-content .icon-xs.black,
.box-content .icon-sm.black,
.button.grey .icon-xs.black,
.button.grey .icon-sm.black,
.sa-footer-arrow {
  filter: var(--darkWww-box-eyeFilter);
}
.box,
.box .box-content,
.djangobb td,
.djangobb th,
#forum-search-form,
.djangobb tbody th /* infinite scrolling */ {
  border-color: var(--darkWww-box-scratchr2Border);
}
.tabs-index li {
  border-bottom-color: var(--darkWww-box-scratchr2Border);
}
.postleft,
.postfootleft {
  box-shadow: 1px 0 var(--darkWww-box-scratchr2Border);
}
.postright,
.postfootright {
  box-shadow: 1px 0 inset var(--darkWww-box-scratchr2Border);
}
button,
.button.grey {
  background-image: linear-gradient(
    var(--darkWww-box-scratchr2ButtonGradientTop),
    var(--darkWww-box-scratchr2ButtonGradientBottom)
  );
  border-color: var(--darkWww-box-scratchr2ButtonBorder);
  color: var(--darkWww-box-scratchr2ButtonText);
  text-shadow: 0 1px var(--darkWww-box);
}
button:hover,
.button.grey:hover {
  background-image: linear-gradient(var(--darkWww-box-scratchr2ButtonHover), var(--darkWww-box-scratchr2ButtonHover));
}
.dropdown .dropdown-menu li:hover {
  background-color: var(--darkWww-box-scratchr2DropdownItemHover);
}

/* Gray background */
.my-ocular-reaction-button {
  background-color: var(--darkWww-gray);
  color: var(--darkWww-gray-scratchr2Text);
}
.box,
.postleft,
.postfootleft,
.djangobb blockquote,
#profile-box .doing,
.profile-box-footer-module textarea,
#comments .highlighted,
.nvtooltip h3 /* statistics */,
.table-striped tbody > tr:nth-child(odd) > td {
  background-color: var(--darkWww-gray-scratchr2);
  color: var(--darkWww-gray-scratchr2Text);
}
.markItUpHeader ul ul li:hover {
  background-color: var(--darkWww-gray-scratchr2) !important;
}
.tabs-index li,
.postright,
.postfootright {
  border-left-color: var(--darkWww-gray-scratchr2);
}
.markItUpHeader ul ul li:hover a {
  color: var(--darkWww-gray-scratchr2BlackText) !important;
}
.box .box-head h1,
.box .box-head h2,
.box .box-head h3,
.box .box-head h4,
#profile-box .doing h1,
#profile-box .doing h2,
#profile-box .doing h3,
#profile-box .doing h4 {
  color: var(--darkWww-gray-scratchr2HeaderText);
}
.tabs-index li a,
.header-text .profile-details,
.activity-stream .time,
#profile-data .footer #report-this,
.profile-box-footer-module textarea::placeholder {
  color: var(--darkWww-gray-scratchr2GrayText);
}
#comments .highlighted .info .name a {
  color: var(--darkWww-gray-scratchr2LabelText);
}
.activity-stream .actor a {
  color: var(--darkWww-gray-scratchr2LabelText) !important;
}
.tabs-index li:hover:not(.active) a {
  color: var(--darkWww-gray-scratchr2ButtonText);
}
#profile-box .doing .icon-xs.black {
  filter: var(--darkWww-gray-eyeFilter);
}
.box .box-head,
.box .box-content .action-bar .inner,
.v-tabs li,
.v-tabs li:hover {
  border-top-color: var(--darkWww-gray-boxHighlight);
}
.modal-footer {
  box-shadow: 0 1px inset var(--darkWww-gray-boxHighlight);
}
.v-tabs li.active,
.v-tabs li.active:hover {
  background-color: var(--darkWww-gray-scratchr2SelectedTab);
}
.box .box-content .action-bar .inner,
.contact #block-message,
.djangobb th {
  background-color: var(--darkWww-gray-scratchr2TableHeader);
  color: var(--darkWww-gray-scratchr2Text);
}
.tc2,
.tc3 {
  background-color: var(--darkWww-gray-scratchr2TableCell);
  color: var(--darkWww-gray-scratchr2Text);
}
.modal-footer {
  background-color: var(--darkWww-gray-scratchr2TableCell);
}
.v-tabs li:hover {
  background-color: var(--darkWww-gray-scratchr2TableCell);
  border-left-color: var(--darkWww-gray-scratchr2TableCell);
}

/* Blue background */
.empty-field {
  background-color: var(--darkWww-blue);
  border-color: var(--darkWww-blue-20);
}
.empty-field h4 {
  color: var(--darkWww-blue-text);
}

/* Input background */
.my-ocular-popup,
#comments .more-replies .pulldown {
  background-color: var(--darkWww-input);
  color: var(--darkWww-input-scratchr2Text);
}
.my-ocular-popup::after {
  border-top-color: var(--darkWww-input);
}
#comments .more-replies {
  box-shadow: 0 -25px 20px -10px var(--darkWww-input);
}

/* Highlight color */
.djangobb .new_topic {
  color: var(--darkWww-button-scratchr2ButtonText);
}
.button {
  background-color: var(--darkWww-button-scratchr2);
  background-image: none; /* Fixes Scratch bug: https://scratch.mit.edu/discuss/topic/694218/ */
  border-color: var(--darkWww-button-scratchr2);
  color: var(--darkWww-button-scratchr2ButtonText);
}
.button a,
.button a:hover,
.button a:visited {
  color: inherit;
}
.follow-topic .follow-button:hover {
  color: var(--darkWww-button-scratchr2ButtonText);
}
.button:hover {
  background-color: var(--darkWww-button-scratchr2Hover);
  background-image: none; /* Fixes Scratch bug: https://scratch.mit.edu/discuss/topic/694218/ */
}
input:focus,
textarea:focus,
.control-group.tooltip textarea:focus,
.registration .modal-body input:focus,
.registration .modal-body textarea:focus,
.registration .modal-body select:focus {
  border-color: var(--darkWww-button);
  box-shadow:
    0 1px 1px inset rgba(0, 0, 0, 0.08),
    0 0 8px var(--darkWww-button-scratchr2InputFocusShadow);
}
.editable textarea:focus,
.editable-empty textarea:focus {
  border-color: transparent;
  box-shadow: none;
}
.blockpost div.box {
  background-color: var(--darkWww-button-scratchr2PostHeader);
  border-top-color: var(--darkWww-button-scratchr2PostHeader);
}
.my-ocular-reaction-button {
  box-shadow: 0 0 2px var(--darkWww-button-scratchr2PostHeader);
}
.my-ocular-reaction-button.selected {
  background-color: var(--darkWww-button-scratchr2PostHeader);
  color: var(--darkWww-button-scratchr2PostHeaderText);
}
.blockpost .box-head {
  border-top-color: rgba(255, 255, 255, 0.15);
}
.blockpost .box-head span.conr,
.blockpost .box-head a,
.blockpost .box-head a:link,
.blockpost .box-head a:active,
.blockpost .box-head a:hover,
.blockpost .box-head a:visited {
  color: var(--darkWww-button-scratchr2PostHeaderText);
}

/* Link color */
a,
a:hover,
a:active,
a.black:hover,
a.black:active,
input.link,
input.link:hover,
input.link:active,
input.link.black:hover,
input.link.black:active,
#comments .comment .info .name a:hover,
#comments .more-replies .pulldown,
#email-resend-box a {
  color: var(--darkWww-link-scratchr2);
}
.inew,
.isticky:not(.iclosed) {
  filter: var(--darkWww-link-iconFilter);
}

/* Footer background */
#footer {
  background-color: var(--darkWww-footer-scratchr2);
}
#footer ul.footer-col li h4 {
  color: var(--darkWww-footer-scratchr2Text) !important; /* !important is needed, see #701 */
}

/* Border color */
.modal-header,
#profile-box .player,
.nvtooltip h3 /* statistics */ {
  border-color: var(--darkWww-border-5);
}
.box .box-content .action-bar .inner {
  border-bottom-color: var(--darkWww-border-5);
}
.modal-footer,
#profile-box .doing,
#profile-data .footer,
#email-resend-box {
  border-color: var(--darkWww-border);
}
.nvd3 .nv-axis line /* statistics */ {
  stroke: var(--darkWww-border);
}
.sa-collapse-footer #footer,
.thumb img,
.djangobb blockquote,
.my-ocular-popup,
.media-list li,
.media-item-content .media-thumb img,
.header-text .profile-details .group,
.slider-carousel .thumb img,
#comments #comments-enabled-box,
.table td,
#comments .sa-emoji-picker,
.sa-emoji-picker-divider {
  border-color: var(--darkWww-border-15);
}
.markItUpHeader ul ul li:hover {
  border-color: var(--darkWww-border-15) !important;
}
.my-ocular-popup::before {
  border-top-color: var(--darkWww-border-15);
}
.v-tabs li:hover {
  border-bottom-color: var(--darkWww-border-15);
}
input,
textarea,
select,
.jqui-modal,
.jqui-modal.ui-corner-all,
#topnav form.search .glass,
#page-404 .search input,
.box .box-head .portrait img,
.gallery.thumb span.image,
.gallery.thumb span.image img,
#comments #comment-form .template-feature-off,
#comments .comments li,
#comments ul.comments ul li,
#comments .more-replies,
#comments .more-replies .pulldown,
.nvtooltip /* statistics */,
.help .faq .box-content > div,
.registration a.why-we-ask:hover+div {
  border-color: var(--darkWww-border-20);
}
.editable:hover,
.editable.write,
.editable-empty {
  border-color: var(--darkWww-border-20) !important;
}
.markItUpPreviewFrame {
  border-color: var(--darkWww-border-20) !important;
  background-color: transparent !important;
}
.dropdown .dropdown-menu {
  background-clip: border-box;
  border-color: var(--darkWww-border-20);
  border-top-color: var(--darkWww-border-5);
}
.djangobb hr {
  background-color: var(--darkWww-border-20);
}
.markItUpHeader ul .markItUpSeparator {
  background-color: var(--darkWww-border-20) !important;
  color: transparent;
}
.nvd3 line.nv-guideline /* statistics */ {
  stroke: var(--darkWww-border-20);
}
.modal,
.markItUpHeader ul ul {
  border-color: var(--darkWww-border-33) !important;
}

/* Message count */
#topnav ul.account-nav .messages .notificationsCount {
  background-color: var(--darkWww-messageIndicatorColor-scratchr2);
  color: var(--darkWww-messageIndicatorColor-scratchr2Text) !important;
}

/* Miscellaneous styles */

:root {
  /* URLs defined here because addon.json can't use %addon-self-dir% */
  --darkWww-caretBlack: url("%addon-self-dir%/assets/caret_transparent.svg");
  --darkWww-caretWhite: url("%addon-self-dir%/assets/caret_white.svg");
  --darkWww-caretBlackHover: url("%addon-self-dir%/assets/caret_transparent_hover.svg");
  --darkWww-caretWhiteHover: url("%addon-self-dir%/assets/caret_white_hover.svg");

  --darkWww-forumBoldButtonBlack: url("https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/js/markitup/sets/bbcode/images/bold.png");
  --darkWww-forumBoldButtonWhite: url("%addon-self-dir%/assets/forum_buttons/bold.png");
  --darkWww-forumBrowserOsButtonBlack: url("https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/img/browser-os.png");
  --darkWww-forumBrowserOsButtonWhite: url("%addon-self-dir%/assets/forum_buttons/browser_os.png");
  --darkWww-forumCenterButtonBlack: url("%addon-self-dir%/../forum-toolbar/text_align_center.png");
  --darkWww-forumCenterButtonWhite: url("%addon-self-dir%/assets/forum_buttons/center.png");
  --darkWww-forumItalicButtonBlack: url("https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/js/markitup/sets/bbcode/images/italic.png");
  --darkWww-forumItalicButtonWhite: url("%addon-self-dir%/assets/forum_buttons/italic.png");
  --darkWww-forumListBulletButtonBlack: url("https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/js/markitup/sets/bbcode/images/list-bullet.png");
  --darkWww-forumListBulletButtonWhite: url("%addon-self-dir%/assets/forum_buttons/list_bullet.png");
  --darkWww-forumListItemButtonBlack: url("https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/js/markitup/sets/bbcode/images/list-item.png");
  --darkWww-forumListItemButtonWhite: url("%addon-self-dir%/assets/forum_buttons/list_item.png");
  --darkWww-forumListNumericButtonBlack: url("https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/js/markitup/sets/bbcode/images/list-numeric.png");
  --darkWww-forumListNumericButtonWhite: url("%addon-self-dir%/assets/forum_buttons/list_numeric.png");
  --darkWww-forumStrokeButtonBlack: url("https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/js/markitup/sets/bbcode/images/stroke.png");
  --darkWww-forumStrokeButtonWhite: url("%addon-self-dir%/assets/forum_buttons/stroke.png");
  --darkWww-forumUnderlineButtonBlack: url("https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/js/markitup/sets/bbcode/images/underline.png");
  --darkWww-forumUnderlineButtonWhite: url("%addon-self-dir%/assets/forum_buttons/underline.png");
}

html,
body {
  background-image: none;
  text-shadow: none;
}

/* Fix gray shadows */
#topnav {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.box {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.27);
}
#footer {
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.14);
}
ul.pagination a:active:not(.current) span {
  box-shadow: 0 1px inset rgba(255, 255, 255, 0.33);
}
.registration a.why-we-ask:hover + div {
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.13);
}

a.black,
a.black:visited,
input.link.black {
  color: inherit;
}

.jqui-modal,
.jqui-modal.ui-corner-all {
  background-image: none;
}

/* Some images are designed for a light background */
.markItUpButton1 > a {
  background-image: var(--darkWww-box-forumBoldButton) !important;
}
.markItUpButton2 > a {
  background-image: var(--darkWww-box-forumItalicButton) !important;
}
.markItUpButton3 > a {
  background-image: var(--darkWww-box-forumUnderlineButton) !important;
}
.markItUpButton4 > a {
  background-image: var(--darkWww-box-forumStrokeButton) !important;
}
.markItUpButton8 > a {
  background-image: var(--darkWww-box-forumListBulletButton) !important;
}
.markItUpButton9 > a {
  background-image: var(--darkWww-box-forumListNumericButton) !important;
}
.markItUpButton10 > a {
  background-image: var(--darkWww-box-forumListItemButton) !important;
}
.sa-forum-toolbar-center > a {
  background-image: var(--darkWww-box-forumCenterButton) !important;
}
.markItUpButton13 > a {
  background-image: var(--darkWww-box-forumBrowserOsButton) !important;
}

.markItUpHeader > ul > .markItUpDropMenu {
  background-image: none !important;
}
.markItUpHeader > ul > .markItUpDropMenu::after {
  /* Move icon into a pseudo-element so filters can be applied to it separately */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(https://cdn.scratch.mit.edu/scratchr2/static/djangobb_forum/js/markitup/skins/simple/images/menu.png)
    no-repeat 115% 50%;
  pointer-events: none;
  filter: var(--darkWww-page-filter);
  opacity: 0.9;
}

#comments .easter-egg[src$="meow.png"] {
  content: url(%addon-self-dir%/assets/meow.png);
}
#comments .easter-egg[src$="gobo.png"] {
  content: url(%addon-self-dir%/assets/gobo.png);
}
#comments .easter-egg[src$="waffle.png"] {
  content: url(%addon-self-dir%/assets/waffle.png);
}
.stats li.data {
  background-image: url("%addon-self-dir%/assets/meow.png");
  background-size: 20px 15px;
}

/* If the color scheme of an iframe element is different from that
   of the document inside, it gets an opaque backgound. The .iframeshim
   is meant to be entirely transparent. */
.iframeshim {
  color-scheme: light;
}

/* Forum errors */

.djangobb ul.errorlist {
  background-color: var(--darkWww-box);
  border-color: var(--darkWww-page-forumErrorColor);
  color: var(--darkWww-page-forumErrorColor);
}
