/* Studios */
#gallery-cover-image {
  border-color: #606060;
}
#tabs {
  height: 30px;
  background: var(--scratchr2-dark-boxbg, transparent);
}
#tabs li {
  border: none;
  background: transparent;
}
#tabs li a {
  color: #fff;
}
#tabs li:hover a {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
#tabs li.active a {
  background: #282828;
}
.box .box-content .action-bar .inner {
  border: none;
}
.box .box-content .action-bar.white .inner {
  background: transparent;
}
#explore-bar #explore-header {
  background: #282828;
  color: #fff;
}
#explore-bar #open,
#explore-bar #close {
  filter: none;
}
.media-grid.projects .project.thumb.item {
  background: #282828;
}
#comments .more-replies {
  background-color: #202020;
  box-shadow: 0 -25px 20px -10px #000;
}
ul.curators li {
  background: #282828;
  border: none;
}
