[class*="loader_background_"] {
  background-color: var(--darkWww-box-embedLoader);
}
[class*="stage-wrapper_stage-wrapper_"][class*="stage-wrapper_full-screen_"],
[class*="stage-header_stage-header-wrapper-overlay_"] {
  background-color: var(--darkWww-box);
}
[class*="stage_stage_"][class*="stage_full-screen_"] {
  border-color: var(--darkWww-border);
}
