html,
body,
#pagewrapper,
.semicolon {
  background: #202020;
  color: #fff;
  text-shadow: none;
}
label {
  color: #fff;
}
a.black,
a.black:visited,
input.link.black {
  color: #fff;
}
span.small-text {
  color: rgba(255, 255, 255, 0.4);
}
input,
textarea,
select,
.editable-empty,
.editable.read,
.editable.write,
.editable:hover {
  background-color: #282828;
  color: #fff;
}
input,
textarea {
  border: 2px solid #606060;
}
.editable-empty [data-content="prompt"] {
  color: rgba(255, 255, 255, 0.4);
}
.button,
button,
.button:hover,
button:hover,
.button.grey,
button.grey,
.button[data-control="load-more"]:hover,
.ui-widget button.ui-state-default {
  text-shadow: none;
}
.button.grey:not([data-control="load-more"]),
button.grey,
.button.grey:not([data-control="load-more"]):hover,
button.grey:hover {
  background-color: #282828;
  background-image: none;
  color: var(--scratchr2-linkColor, #fff);
}
.button.grey:not([data-control="load-more"]):hover,
button.grey:hover {
  color: var(--scratchr2-activeColor, #ccc);
}
.box {
  background: #333;
}
.box .box-head {
  border-color: transparent;
}
.box .box-content,
.box .box-content .inner {
  background: #282828;
}
.box .box-content .action-bar .inner {
  background: transparent;
}
.box,
.box .box-content,
.thumb img {
  border-color: #606060;
}
h1,
h2,
h3,
h4 {
  color: inherit;
}
.ui-widget-content {
  color: #fff;
}
.dropdown .dropdown-menu {
  background-color: #282828;
  color: #fff;
}
.dropdown .dropdown-menu li:hover {
  background-color: #606060;
}
.dropdown span.dropdown-toggle.black span.caret {
  border-top-color: #fff;
}
.icon-xs.black,
.icon-sm.black {
  filter: brightness(0) invert(1);
}
#footer {
  background-color: #333;
  border-color: #606060; /* for infinite scrolling fixed footer */
  box-shadow: none;
}
#footer ul.footer-col li h4 {
  color: #fff !important; /* !important is needed, see #701 */
}
#topnav {
  box-shadow: none;
}
#topnav form.search .glass {
  border-right: none;
  background: url("https://scratch.mit.edu/images/nav-search-glass.png") no-repeat center center;
  background-size: 14px 14px;
}
#topnav form.search input[type="text"] {
  background: rgba(0, 0, 0, 0.1);
}
#topnav form.search input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
#topnav ul.account-nav .logged-in-user .dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: border-box;
}
.jqui-modal,
.jqui-modal.ui-corner-all,
#new-scratcher-gallery-modal {
  background: #282828;
}
.modal .modal-header,
.jqui-modal .ui-dialog-titlebar.ui-widget-header {
  background: var(--scratchr2-primaryColor, #4d97ff);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.ui-widget-content a {
  color: #4d97ff;
}
#featured-project-modal .project.thumb {
  background: #282828;
}
#email-resend-box {
  border: none;
}
#email-resend-box .email-resend-subsection {
  color: white;
}
#email-resend-box .modal-footer,
#new-scratcher-gallery-modal .modal-footer {
  background: #282828;
  box-shadow: none;
}
#new-scratcher-gallery-modal .modal-header {
  border: none;
}
#page-404 .box-header h1 {
  color: #fff;
}

tbody#logs * {
  background-color: inherit !important;
}

#search-input {
  background-color: #fff;
}
