.loader_background_2DPrW {
  background-color: #282828;
}
.stage-wrapper_stage-wrapper_2bejr.stage-wrapper_full-screen_2hjMb,
.stage-header_stage-header-wrapper-overlay_5vfJa {
  background-color: #202020;
}
.stage_stage_1fD7k.stage_full-screen_ZO7xi {
  border-color: #606060;
}
