.v-tabs {
  background: #282828;
}
.v-tabs li {
  border: none;
  border-bottom: 3px solid transparent;
}
.v-tabs li a,
.v-tabs li.active a,
.v-tabs li:hover a {
  color: #fff;
}
.v-tabs li.active,
.v-tabs li.active:hover {
  border-bottom: 3px solid #0fbd8c;
  background: transparent;
}
.v-tabs li:hover {
  background: #282828;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
.box-content#main-content {
  background: #202020;
}
.box .box-content .action-bar .inner {
  border: none;
}
.action-bar .inner .dropdown,
.action-bar .inner .dropdown:hover {
  background-color: #282828;
  background-image: var(--scratchr2-dropdown-image, none);
  color: #fff;
}
.media-list li {
  border: none;
}
.media-list .media-item-content {
  margin-bottom: 14px;
  border-radius: 4px;
  background: #282828;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.media-info-item.date,
.media-item-content .media-stats .stat {
  color: rgba(255, 255, 255, 0.4);
}
