pre.sa-error {
  word-wrap: break-word;
  white-space: initial;
}

.mod-sa-error,
.mod-sa-error.error-text {
  margin: 0;
  padding: 10px;
}

.mod-sa-error .social-message-date {
  display: none;
}

img.loading {
  width: 150px;
  margin: 0 calc((100% - 150px) / 2);
}

.social-message-content .comment-message-info,
.sa-error {
  max-width: 38.75rem;
}
