.sa-export-container {
  box-sizing: border-box;
  width: 700px;
  max-height: min(800px, 80vh);
  max-width: 85%;
  margin-top: 12vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}

.sa-export-image-container {
  display: flex;
  align-items: center;
  max-height: 60vh;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.sa-export-image {
  object-fit: contain;
  pointer-events: none;
  margin-top: auto;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.sa-export-image.wide {
  max-width: 200vw;
  max-height: 70vh;
}

.sa-export-image.tall {
  max-width: 40vw;
  max-height: 200vh;
}

.sa-export-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.sa-export-button-container button {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
}
