.sa-animated-thumb-input,
.sa-animated-thumb-result-failure.hidden {
  display: none;
}

.sa-animated-thumb-popup {
  box-sizing: border-box;
  width: 700px;
  max-height: min(800px, 80vh);
  max-width: 85%;
  margin-top: 12vh;
  overflow-y: auto !important;
}

.sa-animated-thumb-popup-content {
  padding: 1.5rem 2.25rem;
}

.sa-animated-thumb-popup p {
  font-size: 1rem;
  margin: 0.5rem auto 0.5rem 2rem;
}

.sa-animated-thumb-popup p :last-child {
  margin-left: 1rem;
}

.sa-animated-thumb-popup[dir="rtl"] p :last-child {
  margin-left: 0;
  margin-right: 1rem;
}

.sa-animated-thumb-result-failure {
  margin: 1rem 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: auto;
  width: auto;
  padding: 1rem;
  background: hsl(38, 100%, 55%);
  color: white;
}

.sa-animated-thumb-successful > :not(.sa-animated-thumb-popup-buttons):not(.sa-animated-thumb-show-on-success) {
  display: none;
}

:not(.sa-animated-thumb-successful) > .sa-animated-thumb-show-on-success {
  display: none;
}

p.sa-animated-thumb-uploaded-thumb {
  display: flex;
  margin: 0.5rem auto;
  justify-content: center;
}

.sa-animated-thumb-uploaded-thumb > img {
  border: 1px solid var(--darkWww-border, #0000001a);
}

.sa-animated-thumb-tooltip {
  transform: unset;
  top: 100%;
  left: auto;
  right: -136px;
  margin-left: 0;
  width: 300px;
  height: auto;
  line-height: normal;
  text-align: center;
}

[dir="ltr"] [class*="stage-header_setThumbnailButton_"].sa-has-dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
[dir="rtl"] [class*="stage-header_setThumbnailButton_"].sa-has-dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sa-set-thumbnail-dropdown-container {
  margin-inline-start: -0.5rem;
  position: relative;
}

.sa-set-thumbnail-dropdown-button {
  width: 1.75rem;
  height: 2.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #4d97ff;
  border: none;
  user-select: none;
}
[dir="ltr"] .sa-set-thumbnail-dropdown-button {
  border-left: 1px solid #3373cc;
  border-radius: 0 4px 4px 0;
}
[dir="rtl"] .sa-set-thumbnail-dropdown-button {
  border-right: 1px solid #3373cc;
  border-radius: 4px 0 0 4px;
}

.sa-set-thumbnail-dropdown-button:active {
  background-color: #4280d7;
}

.sa-set-thumbnail-dropdown-button > img {
  width: 10px;
  height: 10px;
}

[class*="stage-header_rightSection_"] .sa-set-thumbnail-upload-button {
  position: absolute;
  z-index: 50; /* above monitors */
  top: calc(100% + 3px);
  width: max-content;
  padding: 0.5rem 0.75rem;
  border: 1px solid #3373cc;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}
[dir="ltr"] [class*="stage-header_rightSection_"] .sa-set-thumbnail-upload-button {
  right: 0;
}
[dir="rtl"] [class*="stage-header_rightSection_"] .sa-set-thumbnail-upload-button {
  left: 0;
}

[class*="stage-header_rightSection_"] .sa-set-thumbnail-upload-button:hover {
  background-color: #4280d7;
}

[class*="stage-header_rightSection_"] .sa-set-thumbnail-upload-button:active {
  filter: none;
}

.sa-set-thumbnail-upload-button > img {
  margin-inline-end: 0.5rem;
  width: 20px;
  height: 20px;
}

.sa-set-thumbnail-info-box {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--darkWww-border, rgba(0, 0, 0, 0.1));
  border-radius: 0.5rem;
}

.sa-set-thumbnail-info-box-title {
  font-weight: bold;
}
