[class*="stage-wrapper_full-screen"] {
  display: none;
  top: 0rem !important;
}

[class*="stage-header_stage-header-wrapper-overlay"] {
  transform: translateY(-101%);
  display: block;
  transition: transform 0.3s;
}

.stage-header-hover {
  transform: translateY(0%);
  transition: transform 0.3s 0.25s;
}
