[class*="stage-wrapper_full-screen"] {
  display: none;
  top: 0rem !important;
}

[class*="stage-header_stage-header-wrapper-overlay"] {
  opacity: 0;
  pointer-events: all !important;
  display: block;
  transition: opacity 0.3s;
}

.stage-header-hover {
  opacity: 1;
  transition: opacity 0.2s 0.5s;
}
