[class*="stage-wrapper_full-screen"] [class*="stage_full-screen"],
[class*="stage-wrapper_full-screen"] [class*="stage_green-flag-overlay-wrapper"] {
  border: 0 !important;
  border-radius: 0 !important;
}

[class*="stage_stage-overlays_"][class*="stage_full-screen_"] {
  top: 0;
  left: 0;
}
