.sa-fullscreen [class*="stage_full-screen"],
.sa-fullscreen [class*="stage_green-flag-overlay-wrapper"],
.sa-fullscreen .sa-project-thumb {
  border: 0 !important;
  border-radius: 0 !important;
}

[class*="stage_stage-overlays_"][class*="stage_full-screen_"],
.sa-fullscreen .sa-project-thumb {
  top: 0;
  left: 0;
}

.sa-fullscreen .sa-project-thumb {
  height: 100%;
}

.sa-fullscreen .sa-project-thumb.loading {
  top: 0;
  height: min(100%, 100vw * 0.75);
}

.sa-fullscreen .sa-loader-background {
  top: 2.75rem;
  height: min(100% - 2.75rem, 100vw * 0.75);
}
