[class*="stage-wrapper_full-screen"] [class*="stage_full-screen"],
[class*="stage-wrapper_full-screen"] [class*="stage_green-flag-overlay-wrapper"] {
  border: 0 !important;
  border-radius: 0 !important;
}

[class*="stage_stage-overlays_"][class*="stage_full-screen_"] {
  top: 0;
  left: 0;
}

/* player-thumb compatibility */
.sa-body-fullscreen .sa-project-thumb.loading {
  top: 0;
  height: 100%;
}

.sa-body-fullscreen div[class*="loader_background_"] {
  top: calc(2.75rem);
  height: calc(100% - 2.75rem);
}
