[class*="stage-wrapper_full-screen"] [class*="stage-wrapper_stage-canvas-wrapper"],
[class*="stage-wrapper_full-screen"] [class*="stage_stage"],
[class*="stage-wrapper_full-screen"] [class*="stage-header_stage-menu-wrapper"],
[class*="stage-wrapper_full-screen"] canvas {
  width: calc(100vh * 4 / 3) !important;
}

[class*="stage-wrapper_full-screen"] [class*="stage-wrapper_stage-canvas-wrapper"],
[class*="stage-wrapper_full-screen"] [class*="stage_stage"],
[class*="stage-wrapper_full-screen"] [class*="stage_green-flag-overlay-wrapper"],
[class*="stage-wrapper_full-screen"] canvas {
  height: 100vh !important;
}

[class*="stage-wrapper_full-screen"] {
  padding: 0rem !important;
}

[class*="stage-wrapper_full-screen"] [class*="monitor-list_monitor-list"] {
  overflow: visible;
}
