.sa-fullscreen [class*="stage-wrapper_stage-canvas-wrapper"],
.sa-fullscreen [class*="stage_stage"],
.sa-fullscreen [class*="stage-header_stage-menu-wrapper"],
.sa-fullscreen canvas {
  width: min(calc(100vh * 4 / 3), 100vw) !important;
}

.sa-fullscreen [class*="stage-wrapper_stage-canvas-wrapper"],
.sa-fullscreen [class*="stage_stage"],
.sa-fullscreen [class*="stage_green-flag-overlay-wrapper"],
.sa-fullscreen canvas {
  height: min(100vh, calc(100vw * 3 / 4)) !important;
}

[class*="stage-wrapper_full-screen"] {
  padding: 0rem !important;
}

.sa-fullscreen [class*="monitor-list_monitor-list"] {
  overflow: visible;
}

.sa-fullscreen [class*="stage_question-wrapper"] {
  width: auto !important;
}
