.sa-color-picker {
  display: flex;
  margin-top: 0.5rem;
}

.sa-color-picker > .sa-color-picker-color {
  border: none;
  padding: 0;
  margin: 0 0 0 0.5rem;
  outline: none;
  width: 30px;
  height: 30px;
}

.sa-color-picker > .sa-color-picker-text {
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0.15);
  outline: none;
  width: 115px;
}

body.sa-hide-eye-dropper-background div[class*="stage_color-picker-background"] {
  /* Do not show eye dropper background if the color picker is "fake" */
  display: none;
}
