name: Build for Production
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'ScratchAddons'
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Run builder
        uses: ScratchAddons/build@main
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.2
        with:
          # Artifact name
          name: Built ZIP
          # A file, directory or wildcard pattern that describes what to upload
          path: ./sa.zip
