name: Scan code using ESLint

on:
  push:
    branches:
      - master
    paths:
      - '**/*.js'
      - eslint.config.mjs
      - .github/workflows/eslint.yml
  pull_request:
    branches:
      - master
    paths:
      - '**/*.js'
      - eslint.config.mjs
      - .github/workflows/eslint.yml

jobs:
  scan:
    name: Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ESLint
        run: |
          npm i globals@^17.3.0 @eslint/js@^9.39.2 @eslint/eslintrc
          npx eslint . --config eslint.config.mjs

