name: Label PR using Labeler
on:
  pull_request:

jobs:
  label:
    name: Label
    runs-on: ubuntu-latest
    steps:
    - name: Generate token
      uses: tibdex/github-app-token@v1
      id: generate-token
      with:
        app_id: ${{ secrets.BOT_APP_ID }}
        private_key: ${{ secrets.BOT_PRIVATE_KEY }}
    - name: Label pull request
      uses: srvaroa/labeler@master
      with:
        GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
