name: Labeler
on:
- pull_request_target

jobs:
  pr-labeler:
    name: Label pull requests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@main
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
