.preview .sa-gd-button {
  padding: 0px 5px 0px 11px;
  margin-top: 0;
  border-radius: 0.25rem;
  height: 2.5rem;
  font-size: 0.875rem;
}
.preview .sa-gd-button:not(.scratch) {
  background: #0094ff;
}

.preview .sa-gd-button:before {
  background-image: "gandi-logo.png";
  display: inline-block;
  margin-top: -2px;
  margin-right: 0.4375rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 1.125rem;
  height: 1.125rem;
  vertical-align: middle;
  content: "";
}
